<div class="linha">

  <!-- Segunda Coluna (Nova Primeira Coluna) -->
  <div class="listaDeProdutos">
    <ng-container *ngFor="let c of listaConsulta; let i = index; let first = first">
      <div [style.order]="c.ordem" class=" p-1 d-flex">
        <button (click)="selecionarTipoConsulta(c)" class="tipo-consulta-btn f-18 f-sm-20 f-lg-28" [ngClass]="{
          'bg-g-orange-reverse text-white border-0': c.id==consultasSelecionadas[0].id,
          'bg-white text-default border-default border-2 border-solid': c.id!=consultasSelecionadas[0].id
        }">
          {{c.composta.nome}}
        </button>
      </div>
    </ng-container>
  </div>

  <!-- Primeira Coluna (Nova Segunda Coluna) -->
  <div class=" col-lg-4 order-2 order-lg-2 mb-3">
    <div class="consulta" [ngClass]="{'recomendada': consulta.recomendada}">
      <div *ngIf="consulta.recomendada" class="label">NOVA CONSULTA</div>
      <h3>{{ consulta.nome_da_consulta }}</h3>
      <div [id]="'detalhes'" class="detalhes expandido text-left">
        <span>Incluso</span>
        <div *ngFor="let insumo of consulta.lista_de_insumos" class="dado">
          <div class="row no-gutters">
            <div class="col-1 nopadding">
              <i class="mdi mdi-check" aria-hidden="true"></i>
            </div>
            <div class="col-11" style="padding-left:5px">{{ insumo }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="consulta.lista_de_insumos_negados.length > 0">
        <hr>
        <span>Não incluso</span>
        <div *ngFor="let insumoNegado of consulta.lista_de_insumos_negados" class="dado">
          <div class="row no-gutters text-left">
            <div class="col-1 nopadding">
              <i class="mdi mdi-close" aria-hidden="true"></i>
            </div>
            <div class="col-11" style="padding-left:5px">{{ insumoNegado }}</div>
          </div>
        </div>
        <div (click)="onClickToUpSell()" class="upsell"><span class="upsell-text">Incluir tudo por mais
            {{valorToUpSell()}} </span></div>
      </div>
    </div>
  </div>

  <!-- Terceira Coluna (Mantém a posição) -->
  <div class=" col-lg-4 order-3 order-lg-3 mb-3" *ngIf="consultasSelecionadas[0]">
    <div class="text-consulta-container">
      <h1 class="f-24 mb-0 f-lg-36">{{consultasSelecionadas[0].composta.nome}}</h1>
      <p class="f-16 f-md-18 pt-2 fw-semibold" [innerHTML]="consultasSelecionadas[0].composta.descricao"></p>
    </div>
    <div class="flex-column flex-je flex-ae">
      <!-- <div class="promocional"><span class="promocional-text">Valor promocional até dia 10/08</span></div> -->
      <div class="d-flex justify-content-end fw-semibold">
        <span>De </span>
        <span>{{valorToString(consulta.valor_atual)}} por </span>
      </div>
      <div class="price_container">
        <!-- Círculo de desconto -->
        <div class="discount-circle ">
          {{ calculaDesconto(consulta.valor_atual, consultasSelecionadas[0].valorConsulta) }}%
          <div class="p-1">OFF</div>
        </div>
        <span>R$</span>
        <span>{{valorReais(consultasSelecionadas[0].valorConsulta)}}</span>
        <span>,{{valorCentavos(consultasSelecionadas[0].valorConsulta)}}</span>
      </div>
      <p class="fw-semibold text-end" style="color: rgb(114, 114, 114);">Economia de R$ {{calculaDiferenca(consulta.valor_atual,
        consultasSelecionadas[0].valorConsulta)}} reais</p>
    </div>
  </div>

</div>
