@use '../../../../assets/scss/bootstrap/variables' as *;
@use '../../../../assets/scss/bootstrap/mixins/breakpoints' as *;


.striped_list_preco>*{
    border: 2px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

@include media-breakpoint-up(lg) {
    .striped_list_preco{
        >div:nth-child(6n-5),>div:nth-child(6n-4),>div:nth-child(6n-3){
            *{
                background: white;
                border-radius: 3px;
            }
        }
    }
}

@include media-breakpoint-only(md) {
    .striped_list_preco{
        >div:nth-child(4n-3),>div:nth-child(4n-2){
            *{
                background: white;
                border-radius: 3px;
            }
        }
    }
}


@include media-breakpoint-down(sm) {
    .striped_list_preco{
        >div:nth-child(odd){
            *{
                background: white;
                border-radius: 3px;
            }
        }
    }

    .striped_list_preco>*{
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
    }
}