.titleBin{
    border-bottom: 3px solid #304d5a;
}

.bg-strip{
  background-color: #F3F3F4;

}

.elevationCard{

    border: grey solid 0px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 45px;
    box-shadow: 10px 8px 20px 5px #d9d7d7;


}
