<div class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">
  <div id="binestadual" class="ck-card-title"> <img src="./assets/images/icons-consulta-carcheck/file-blank-folderSVG.svg" style="width: 50px;" > DADOS ESTADUAIS</div>

  <consulta-msg *ngIf="statusConsulta==5" [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()"></consulta-msg>

  <div *ngIf="statusConsulta!=5" class="ck-card-body">
    <!-- <div class="border-bottom border-gray flex-ac w-100 mb-2">
      <div class="svg-20 mb-1 mr-2" [inlineSVG]="'location.svg'"></div>
      <h2 class="f-16 mb-1">{{dadosDetalhamentoBinEstadual?.dadosveiculo.uf}}</h2>
    </div> -->
    <div class="row px-3 f-18 mb-4">
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="row d-flex justify-content-between m-1 p-2">
          <h4>situação do veículo:</h4>
          <span>{{dadosDetalhamentoBinEstadual?.dadosveiculo?.situacaoVeiculo}}</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="row d-flex justify-content-between m-1 p-2">
          <h4>situação do chassi:</h4>
          <span>{{dadosDetalhamentoBinEstadual?.dadosveiculo?.remarcacaoChassi}}</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="row d-flex justify-content-between m-1 p-2">
          <h4>veículo roubado:</h4>
          <span>{{verificaRF()}}</span>
        </div>
      </div>
    </div>

    <div class="elevationCard">
      <div class="titleBin align-items-center d-flex w-100 ">
        <h2 class="f-18 mb-1 fw-600">DADOS CADASTRAIS</h2>
      </div>
      <div class="row px-3 f-18 mb-4">

        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>placa</h4>
            <span>{{verificaPlaca()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>chassi</h4>
            <span>{{verificaChassi()}}</span>
          </div>
        </div>
        <!-- <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>número do motor original</h4>
            <span>{{verificaNrMotorOriginal()}}</span>
          </div>
        </div> -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>número do moto atual</h4>
            <span>{{verificaNrMotor()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between  m-1 p-2">
            <h4>número da caixa de câmbio</h4>
            <span>{{verificaCambio()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>potência</h4>
            <span>{{verificaPotencia()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>cilindradas</h4>
            <span>{{verificaCilindradas()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>renavam</h4>
            <span>{{verificaRenavam()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <div class="row d-flex justify-content-between bg-strip  m-1 p-2">
            <h4>tipo de documento do comprador</h4>
            <span>{{verificaDocumento()}}</span>
          </div>
        </div>
        <!-- <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>data de emissão do crv/crlv</h4>
            <span>{{verificaDataCrvCrlv()}}</span>
          </div>
        </div> -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>data de licenciamento</h4>
            <span>{{verificaDataLicenciamento()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>data da última atualização</h4>
            <span>{{ verificaDataUltimaAtualizacao()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>município / uf</h4>
            <span>{{verificaMunicipio()}}/{{verificaUf()}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="elevationCard">
      <div class="titleBin align-items-center d-flex w-100 ">
        <h2 class="f-18 mb-1 fw-600">DESCRIÇÃO DO VEÍCULO</h2>
      </div>
      <div class="row px-3 f-18 mb-4">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>marca/modelo</h4>
            <span>{{verificaMarcaModelo()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>cor</h4>
            <span>{{verificaCor()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>ano fabricação</h4>
            <span>{{verificaAnoFabricacao()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>espécie</h4>
            <span>{{verificaEspecie()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 bg-pdf p-2">
            <h4>ano do modelo</h4>
            <span>{{verificaAnoModelo()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 bg-pdf p-2">
            <h4>número de passageiros</h4>
            <span>{{verificaNrPassageiros()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>combustível</h4>
            <span>{{verificaCombustivel()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>categoria</h4>
            <span>{{verificaCategoria()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>segmento</h4>
            <span>{{verificaSegmento()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>subsegmento</h4>
            <span>{{verificaSubSegmento()}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="titleBin align-items-center d-flex w-100 ">
      <h2 class="f-18 mb-1 fw-600">PROPRIETÁRIOS</h2>
    </div>
    <div class="row px-3 f-18 mb-4">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
          <h4>proprietário anterior</h4>
          <span>{{verificaPropAnterior()}}</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
          <h4>proprietário atual</h4>
          <span>{{verificaPropAtual()}}</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row d-flex justify-content-between m-1 p-2">
          <h4>cpf/cnpj</h4>
          <span>{{verificaDocumentoProp()}}</span>
        </div>
      </div>
    </div> -->

    <div class="elevationCard">
      <div class="titleBin align-items-center d-flex w-100 ">
        <h2 class="f-18 mb-1 fw-600">FICHA TÉCNICA</h2>
      </div>
      <div class="row px-3 f-18 mb-4">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>tipo de montagem</h4>
            <span>{{verificaTipoMontagem()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>tipo de veículo</h4>
            <span>{{verificaTipoVeiculo()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>peso bruto total</h4>
            <span>{{verificaPesoBruto()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>capacidade de carga</h4>
            <span>{{verificaCapacidadeCarga()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>capacidade máxima de tração</h4>
            <span>{{verificaCapacidadeTracao()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>tipo de carroceria</h4>
            <span>{{verificaTipoCarroceria()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>número da carroceria</h4>
            <span>{{verificaNrCarroceria()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>carroceria</h4>
            <span>{{verificaCarroceria()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf bg-strip m-1 p-2">
            <h4>quantidade de eixos</h4>
            <span>{{verificaQuantidadeEixos()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>terceiro eixo</h4>
            <span>{{verificaTerceiroEixo()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>eixo traseiro diferencial</h4>
            <span>{{verificaEixoTraseiro()}}</span>
          </div>
        </div>
      </div>
    </div>

    <div id="comunicacaodevenda" class="elevationCard">
      <div class="titleBin align-items-center d-flex w-100 ">
        <h2 class="f-18 mb-1 fw-600">COMUNICAÇÃO DE VENDA</h2>
      </div>
      <div class="row px-3 f-18 mb-4">
        <!-- <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>data de venda</h4>
            <span>{{verificaDataVenda()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>data de inclusão de venda</h4>
            <span>{{verificaDataInclusaoVenda()}}</span>
          </div>
        </div> -->
        <div class="col col-lg-6">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>ano de exercício do licenciamento</h4>
            <span>{{verificaDataLicenciamento()}}</span>
          </div>
        </div>
        <div class="col col-lg-6">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>indicador comunicação de venda</h4>
            <span>{{verificaIndicadorVenda()}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- CARD DE RESTRIÇOES NACIONAIS -->

<div id="restricoes" class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">


  <div class="ck-card-title"><img src="./assets/images/icons-consulta-carcheck/file-blank-folderSVG.svg" style="width: 50px;" > RESTRIÇÕES ESTADUAIS</div>

  <consulta-msg *ngIf="statusConsulta==5" [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()"></consulta-msg>

  <div *ngIf="statusConsulta!=5" class="ck-card-body">


    <div class="elevationCard">
      <div class="titleBin align-items-center d-flex w-100 ">
        <h2 class="f-18 mb-1 fw-600">RESTRIÇÕES</h2>
      </div>
      <div class="row px-3 f-18 mb-4">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>administrativa</h4>
            <span [ngClass]="{'fw-800 text-danger': verificaAdministrativa().trim() != 'NÃO CONSTA'}">{{verificaAdministrativa()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>alienação</h4>
            <span [ngClass]="{'fw-800 text-danger': verificaAlienacao().trim() != 'NÃO CONSTA' }" >{{verificaAlienacao()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>arrendamento</h4>
            <span [ngClass]="{'fw-800 text-danger': verificaArrendamento().trim() != 'NÃO CONSTA' }">{{verificaArrendamento()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>judicial</h4>
            <span [ngClass]="{'fw-800 text-danger': verificaJudicial().trim() != 'NÃO CONSTA' }">{{verificaJudicial()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>reserva de domínio</h4>
            <span [ngClass]="{'fw-800 text-danger': verificaReserva().trim() != 'NÃO CONSTA' }">{{verificaReserva()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>roubo e furto ativo</h4>
            <span [ngClass]="{'fw-800 text-danger': verificaRF().trim() != 'NÃO CONSTA' }">{{verificaRF()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>sinistro recuperado</h4>
            <span [ngClass]="{'fw-800 text-danger': verificaSinistroRecuperado().trim() != 'NÃO CONSTA' }">{{verificaSinistroRecuperado()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>tributário</h4>
            <span [ngClass]="{'fw-800 text-danger': verificaTributario().trim() != 'NÃO CONSTA' }">{{verificaTributario()}}</span>
          </div>
      </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf bg-strip m-1 p-2">
            <h4>observações</h4>
            <span>{{verificaObservacoes()}}</span>
          </div>
        </div>

      </div>
    </div>

    <div class="elevationCard">
      <div class="titleBin align-items-center d-flex w-100 ">
        <h2 class="f-18 mb-1 fw-600">GRAVAME</h2>
      </div>
      <div class="row px-3 f-18 mb-4">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>agente financeiro</h4>
            <span>{{verificaAgenteFinanceiro()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>nome financiado</h4>
            <span>{{verificaNomeFinanciador()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>data inclusão</h4>
            <span>{{verificaDataInclusao()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>restrição financeira</h4>
            <span>{{verificaRestricaoFinanceira()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>tipo documento financiado</h4>
            <span>{{verificaDocFinanciado()}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="elevationCard">
      <div class="titleBin align-items-center d-flex w-100 ">
        <h2 class="f-18 mb-1 fw-600">DÉBITOS</h2>
      </div>
      <div class="row px-3 f-18 mb-4">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>cetesb</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaCetesb().trim() != 'R$ 0,00' }">{{verificaCetesb()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between bg-strip bg-pdf m-1 p-2">
            <h4>der</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaDer().trim() != 'R$ 0,00' }">{{verificaDer()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>dersa</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaDersa().trim() != 'R$ 0,00' }">{{verificaDersa()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>detran</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaDetran().trim() != 'R$ 0,00' }">{{verificaDetran()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>ipva</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaIpva().trim() != 'R$ 0,00' }">{{verificaIpva()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>municipais</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaMunicipais().trim() != 'R$ 0,00' }">{{verificaMunicipais()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>prf</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaPrf().trim() != 'R$ 0,00' }">{{verificaPrf()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between bg-strip m-1 p-2">
            <h4>renainf</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaRenainf().trim() != 'R$ 0,00' }">{{verificaRenainf()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between bg-pdf bg-strip m-1 p-2">
            <h4>licenciamento</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaLicenciamento().trim() != 'R$ 0,00' }">{{verificaLicenciamento()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between bg-pdf m-1 p-2">
            <h4>multas</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaMultas().trim() != 'R$ 0,00' }">
              {{verificaMultas()}}</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="row d-flex justify-content-between m-1 p-2">
            <h4>dpvat</h4>
            <span [ngClass]="{'fw-700 text-danger': verificaDpvat().trim() != 'R$ 0,00' }">{{verificaDpvat()}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="py-4 px-3">
      <strong>
        <span class="text-orange-1">Observação:</span>
        SEMPRE verifique o site do detran do estado em que o veículo foi emplacado pos podem ocorrer divergências entre as bases
        consultadas:
        <a target="_blank" href="https://detran.es.gov.br/" class="text-orange-1">Detran ES</a>
      </strong>
    </div>


  </div>
</div>



    <!-- <div class="border-bottom border-gray flex-ac w-100 mb-2">
      <div class="svg-20 mb-1 mr-2" [inlineSVG]="'relatorio-cifrao.svg'"></div>
      <h2 class="f-16 mb-1">MULTAS</h2>
    </div>

    <div class="px-3 pt-2 pb-4 text-orange-1" *ngIf="!dadosDetalhamentoBinEstadual?.dadosMulta">
      Nenhuma multa foi encontrada
    </div>

    <div class="px-3 pt-2 pb-4" *ngIf="dadosDetalhamentoBinEstadual?.dadosMulta">
      {{dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoMultas}}
      <br *ngIf="dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoCetesb"> {{dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoCetesb}}
      <br *ngIf="dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoDer"> {{dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoDer}}
      <br *ngIf="dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoDersa"> {{dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoDersa}}
      <br *ngIf="dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoMunicipais"> {{dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoMunicipais}}
      <br *ngIf="dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoPrf"> {{dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoPrf}}
      <br *ngIf="dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoRenainf"> {{dadosDetalhamentoBinEstadual.dadosMulta?.valorDebitoRenainf}}
    </div>

    <div class="border-bottom border-gray flex-ac w-100 mb-2">
      <div class="svg-20 mb-1 mr-2" [inlineSVG]="'proibido.svg'"></div>
      <h2 class="f-16 mb-1">RESTRIÇÕES</h2>
    </div>
    <div class="px-3 pt-2 pb-4 text-orange-1" *ngIf="dadosDetalhamentoBinEstadual?.restricoes.length==0">
      Nenhuma restrição estadual foi encontrada.
    </div>
    <div class="px-3 pt-2 pb-4 text-orange-1" *ngIf="dadosDetalhamentoBinEstadual?.restricoes.length > 0">
      <span *ngFor="let r of dadosDetalhamentoBinEstadual?.restricoes">{{r.descricao}}</span>
    </div>

    <div class="border-bottom border-gray flex-ac w-100 mb-2">
      <div class="svg-20 mb-1 mr-2" [inlineSVG]="'relatorio-porcentagem.svg'"></div>
      <h2 class="f-16 mb-1">TAXAS</h2>
    </div>

    <div class="px-3 pt-2 pb-4 text-orange-1" *ngIf="!dadosDetalhamentoBinEstadual?.dadosDebito">
      Nenhum débito foi encontrado
    </div>

    <div class="px-3 pt-2" *ngIf="dadosDetalhamentoBinEstadual?.dadosDebito">
      <table class="w-100">
        <tr class="text-orange-1 border-bottom border-orange-1 f-14">
          <th class="pb-1 px-2">Débito</th>

           <th class="pb-1 px-2">Vencimento</th>
          <th class="pb-1 px-2">Valor</th>
        </tr>
        <tr>
        </tr>
        <tr class="bg-silver-light">
          <td class="p-2" *ngIf="dadosDetalhamentoBinEstadual?.dadosDebito?.Dpvat">DPVAT</td>
           <td class="p-2">10/11/2018</td>
          <td class="p-2" *ngIf="dadosDetalhamentoBinEstadual?.dadosDebito?.Dpvat">R$ {{dadosDetalhamentoBinEstadual?.dadosDebito?.Dpvat}}</td>
        </tr>
        <tr>
          <td class="p-2" *ngIf="dadosDetalhamentoBinEstadual?.dadosDebito?.Ipva">IPVA</td>
           <td class="p-2">10/11/2018</td>
          <td class="p-2" *ngIf="dadosDetalhamentoBinEstadual?.dadosDebito?.Ipva">R$ {{dadosDetalhamentoBinEstadual?.dadosDebito?.Ipva}}</td>
        </tr>
        <tr class="bg-silver-light">
          <td class="p-2" *ngIf="dadosDetalhamentoBinEstadual?.dadosDebito?.Licenc">Licenciamento</td>
           <td class="p-2">10/11/2018</td>
          <td class="p-2" *ngIf="dadosDetalhamentoBinEstadual?.dadosDebito?.Licenc">R$ {{dadosDetalhamentoBinEstadual?.dadosDebito?.Licenc}}</td>
        </tr>
      </table>
    </div> -->
