.alertremarketing{
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline #ecda24;
}

.close-modal-img{
   filter: drop-shadow(0px 0px 1px rgba(100,100,100,0.3));
}

.modal-close-container{
    border-bottom-left-radius: 5px;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}

ck-modal img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.open-modal-img{
    position: absolute;
    border-bottom-left-radius: 5px;
    background-color: rgba(0,0,0,0.6);
    right: 0px;
    z-index: 3;
}

.ck-card-body .img-card-container{
    overflow: hidden;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 500ms all linear;
        transform: scale(1);

        &:hover{
            transition: 5000ms all linear;
            transform: scale(1.3);
        }
    }

}

th{
  color: #243646;
  font-weight: bold;
  font-size: 16px;
}
