<div id="decodificador" class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">
  <div class="ck-card-title"><img src="./assets/images/icons-consulta-carcheck/CodeSandboxSVG.svg" style="width: 50px;" > VERIFICAÇÃO DE CHASSI</div>

    <div class="info hide-print">
      <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="left"
       title="Com o código do chassi, identificamos fraudes como adulteração no chassi e/ou cor, além de verificar dados de ano, modelo, potência e outras características do veículo.">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Minimalist_info_Icon.png" width="30px" alt="" srcset="">
      </button>
    </div>

  <consulta-msg [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()">
    <div *ngIf="this.dadosDetalhamento.codigoControle=='OK'" class="fw-500">
      Chassi verificado corretamente.
    </div>
    <div *ngIf="this.dadosDetalhamento.codigoControle=='PARCIALMENTE_OK'" class="fw-500">
      Chassi parcialmente verificado.
    </div>
    <div *ngIf="this.dadosDetalhamento.codigoControle=='PENDENTE'" class="fw-500">
      Verificação em andamento.
    </div>
  </consulta-msg>

  <div *ngIf="statusConsulta!=5" class="ck-card-body">

    <div class="border-bottom border-gray flex-ac w-100 mb-2">
      <div class="svg-20 mb-1 mr-2" [inlineSVG]="'carro-frontal.svg'"></div>
      <h2 class="f-16 mb-1">CARACTERÍSTICAS</h2>
    </div>

    <div class="row no-gutters  px-3 f-18 mb-4">
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Fabricante</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.fabricante!=null && dadosDetalhamento?.dadosveiculo?.fabricante!="" ? dadosDetalhamento?.dadosveiculo?.fabricante : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Fabricação / Modelo</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.anoFabricacao!=null && dadosDetalhamento?.dadosveiculo?.anoFabricacao!="" ? dadosDetalhamento?.dadosveiculo?.anoFabricacao : "-----"}} / {{dadosDetalhamento?.dadosveiculo?.anoModelo!="" ? dadosDetalhamento?.dadosveiculo?.anoModelo : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Localização da fábrica</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.localDaFabrica!=null && dadosDetalhamento?.dadosveiculo?.localDaFabrica!="" ? dadosDetalhamento?.dadosveiculo?.localDaFabrica : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Marca / Modelo</h4>
        <span>{{(dadosDetalhamento?.dadosveiculo?.marca!=null && dadosDetalhamento?.dadosveiculo?.marca!="") ? dadosDetalhamento?.dadosveiculo?.marca : "-----"}} / {{(dadosDetalhamento?.dadosveiculo?.modelo!=null && dadosDetalhamento?.dadosveiculo?.modelo!="") ? dadosDetalhamento?.dadosveiculo?.modelo : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Mês de produção</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.mesDeProducao!=null && dadosDetalhamento?.dadosveiculo?.mesDeProducao!="" ? dadosDetalhamento?.dadosveiculo?.mesDeProducao : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Região geográfica</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.regiaoGeografica!=null && dadosDetalhamento?.dadosveiculo?.regiaoGeografica!="" ? dadosDetalhamento?.dadosveiculo?.regiaoGeografica : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>País de origem</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.pais!=null && dadosDetalhamento?.dadosveiculo?.pais!="" ? dadosDetalhamento?.dadosveiculo?.pais : "-----"}}</span>
      </div>

    </div>



    <div class="border-bottom border-gray flex-ac w-100 mb-2">
      <div class="svg-20 mb-1 mr-2" [inlineSVG]="'carro-manutencao.svg'"></div>
      <h2 class="f-16 mb-1">MECÂNICA</h2>
    </div>

    <div class="row no-gutters  px-3 f-18 mb-4">
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Combustivel</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.combustivel!=null && dadosDetalhamento?.dadosveiculo?.combustivel!="" ? dadosDetalhamento?.dadosveiculo?.combustivel : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Portas</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.portas!=null && dadosDetalhamento?.dadosveiculo?.portas!="" ? dadosDetalhamento?.dadosveiculo?.portas : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Tipo de carroceria</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.carroceria!=null && dadosDetalhamento?.dadosveiculo?.carroceria!="" ? dadosDetalhamento?.dadosveiculo?.carroceria : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Código fipe</h4>
        <span *ngFor="let d of dadosDetalhamento.dadosFipe">{{d}}
          <br>
        </span>
      </div>



      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Transmissão</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.transmissao!=null && dadosDetalhamento?.dadosveiculo?.transmissao!="" ? dadosDetalhamento?.dadosveiculo?.transmissao : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Motor</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.motor!=null && dadosDetalhamento?.dadosveiculo?.motor!="" ? dadosDetalhamento?.dadosveiculo?.motor : "-----"}}</span>
      </div>

      <!-- <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Tipo de Motor</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.tipoDoMotor!=null && dadosDetalhamento?.dadosveiculo?.tipoDoMotor!="" ? dadosDetalhamento?.dadosveiculo?.tipoDoMotor : "-----"}}</span>
      </div> -->

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Tração</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.tracao!=null && dadosDetalhamento?.dadosveiculo?.tracao!="" ? dadosDetalhamento?.dadosveiculo?.tracao : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Tipo de freio</h4>

        <span>{{dadosDetalhamento?.dadosveiculo?.tipoDeFreio!=null && dadosDetalhamento?.dadosveiculo?.tipoDeFreio!="" ? dadosDetalhamento?.dadosveiculo?.tipoDeFreio : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Quantidade de eixos</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.quantidadeEixos!=null && dadosDetalhamento?.dadosveiculo?.quantidadeEixos!="" ? dadosDetalhamento?.dadosveiculo?.quantidadeEixos : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Distância entre eixos</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.distanciaEntreEixos!=null && dadosDetalhamento?.dadosveiculo?.distanciaEntreEixos!="" ? dadosDetalhamento?.dadosveiculo?.distanciaEntreEixos : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Comprimento</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.comprimento!=null && dadosDetalhamento?.dadosveiculo?.comprimento!="" ? dadosDetalhamento?.dadosveiculo?.comprimento : "-----"}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Peso bruto</h4>
        <span>{{dadosDetalhamento?.dadosveiculo?.pesoBruto!=null && dadosDetalhamento?.dadosveiculo?.pesoBruto!="" ? dadosDetalhamento?.dadosveiculo?.pesoBruto : "-----"}}</span>
      </div>

    </div>

  </div>
</div>
