@import 'functions', 'variables', 'mixins/breakpoints';


section{
    max-width: 100%;
    display: block;

    padding-top: 56px;
}


@include media-breakpoint-down(md)  {
    section{
        min-height: calc(100vh - 48px);
        padding-top: 70px;
    }
}

@media (max-width: 411px) {
 section{
  padding-top: 70px;
  }
}

