<a *ngIf="menuUrl.routerUrl">
  <span [routerLink]="menuUrl.routerUrl" class="pointer mr-2 d-none d-xl-inline-block"> <span>{{title}}</span></span>
  <i *ngIf="!img" class="mdi mdi-menu-down f-16"></i>
  <div (click)="toggleCollapse()" *ngIf="img" class="img-container">
    <img src="{{img}}" alt="{{title}}">
  </div>
</a>

<a *ngIf="menuUrl.url" target="_blank" href="{{menuUrl.url}}">
  <span class="mr-2">{{title}}</span>
  <i *ngIf="!img" class="mdi mdi-menu-down f-16"></i>
  <div *ngIf="img" class="img-container">
    <img src="{{img}}" alt="{{title}}">
  </div>
</a>


<ul *ngIf="!disabled" [ngClass]="{'img-dropdown':img}">
  <li *ngFor="let o of options">

    <a *ngIf="!o.externo" [routerLink]="o.url" class="flex-ac">
      <div *ngIf="o.icon" class="icon svg-16 flex-ac mr-2" [inlineSVG]="o.icon" [removeSVGAttributes]="['class']"></div>
      <div class="f-16">{{o.label}}</div>
    </a>

    <a *ngIf="o.externo" target="_blank" href="{{o.url}}" class="flex-ac">
      <div *ngIf="o.icon" class="icon svg-16 flex-ac mr-2" [inlineSVG]="o.icon" [removeSVGAttributes]="['class']"></div>
      <div class="f-16">{{o.label}}</div>
    </a>

  </li>
</ul>
