

<div class="p-2 text-center text-orange-1 fw-700">Quem comprou a consulta, também se interessou por:</div>

<div class="rounded bg-light px-2">

    <div class="px-2 py-3">

        <div class="row no-gutters">
            <div class="d-flex align-items-center col-md-7">
                <img class="border border-orange-1 p-1 rounded-circle" src="/assets/images/svg/vistoria.svg" width="36px" alt="">
                <div [style.whiteSpace]="'break-spaces'">
                    <span class="fw-700 f-22 px-2 text-nowrap">
                        Vistoria Veicular
                    </span>
                    <span class="text-nowrap f-12 f-sm-16">
                        (constatação do estado físico do veículo.)
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm justify-content-end d-flex align-items-center">
                <span class="f-22 pr-3">
                    Valor: {{ valor | number:'2.2' }}
                </span>
    
                <button *ngIf="!adicionarLaudo" (click)="toggleAdicionarLaudo()" class="btn btn-lg btn-orange-1 text-white d-flex align-items-center">
                    <i class="mdi mdi-plus f-22"></i>
                    <span>ADICIONAR A COMPRA</span>
                </button>

                <button *ngIf="adicionarLaudo" (click)="toggleAdicionarLaudo()" class="btn btn-lg text-orange-1">
                    <span>CANCELAR</span>
                </button>
            </div>
        </div>

    </div>


    <ng-container *ngIf="adicionarLaudo">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 p-2 mb-2 mb-sm-3"><ck-input class="bg-light" label="Nome do proprietário" [control]="form.controls.proprietario"></ck-input></div>
            <div class="col-12 col-sm-6 p-2 mb-2 mb-sm-3"><ck-input class="bg-light" label="Telefone de contato do proprietário" [control]="form.controls.telefone"  [mask]="mask.telefone"></ck-input></div>
            <div class="col-12 col-sm-6 p-2 mb-2 mb-sm-3"><ck-select class="bg-light" label="Estado" [control]="form.controls.uf" [options]="ufOptions"></ck-select></div>
            <div class="col-12 col-sm-6 p-2 mb-2 mb-sm-3"><ck-select class="bg-light" label="Cidade" [control]="form.controls.cidade" [options]="cidadeOptions"></ck-select></div>
        </div>    
        <div class="p-2 text-center">Ao comprar a vistoria para constatação do estado físico do veículo, você recebe automaticamente a consulta de histórico do mesmo.</div>
    </ng-container>


</div>



