<section appAppearOnScroll id="como_funciona" class="container comoFunciona">
  <div>
    <h2 class="d-flex justify-content-center">Como funciona</h2>

    <div class="row etapas">
      <div class="col-md-3 etapa">
        <div>
          <div class="etapa_circulo">1</div>
        </div>
        <div class="descricao-etapa">
          <h3>Consulta</h3>
          <p>Escolha a consulta mais adequada para sua necessidade.</p>
        </div>
      </div>
      <div class="col-md-3 etapa">
        <div>
          <div class="etapa_circulo">2</div>
        </div>
        <div class="descricao-etapa">
          <h3>Placa</h3>
          <p>Informe apenas a placa ou chassi do carro.</p>
        </div>
      </div>
      <div class="col-md-3 etapa">
        <div>
          <div class="etapa_circulo">3</div>
        </div>
        <div class="descricao-etapa">
          <h3>Cadastro / Login</h3>
          <p>Faça seu cadastro no Carcheck Brasil ou realize login no sistema.</p>
        </div>
      </div>
      <div class="col-md-3 etapa">
        <div>
          <div class="etapa_circulo">4</div>
        </div>
        <div class="descricao-etapa">
          <h3>Pagamento</h3>
          <p>Realize o pagamento da consulta e obtenha o resultado com as informações sobre o carro em pouco tempo.</p>
        </div>
      </div>
    </div>


  </div>
</section>
