<!--consulta-bar [(step)]="step"></consulta-bar-->

<div *ngIf="statusCarregamento==-1" class="container px-0 ">
  <div class="rounded border-danger border-2 border-solid mx-auto my-5 p-3 p-md-4">
    <div class="flex-ac mb-3">
      <div class="svg-w-40 svg-w-lg-50 fill-danger" [inlineSVG]="'x-circle.svg'" [removeSVGAttributes]="['class']">
      </div>
      <h1 class="f-24 text-danger ml-2 ml-md-3">
        ERRO AO CARREGAR CONSULTA!
      </h1>
    </div>
    <p class="f-18 w-500 text-secondary text-uppercase">
      Tente novamente mais tarde, caso o problema se repita ou para maiores informações entre em contato com o nosso
      suporte:
      <a href="mailto:contato@carcheckbrasil.com.br" class="fw-500 text-orange-1">CONTATO"&#64;"CARCHECKBRASIL.COM.BR</a>
    </p>
  </div>
  <div class="flex-jb mb-5">
    <a [routerLink]="['']" class="btn btn-orange-1 px-2 px-md-5">VOLTAR</a>
    <a [routerLink]="['/realizar-consultas']" class="btn btn-novaconsulta px-2 px-md-5">NOVA CONSULTA</a>
  </div>
</div>


<ng-container *ngIf="statusCarregamento==1">


  <h1 class="ck-h1 hide-print" style="margin-top: 15px; margin-bottom: -0.5rem;">
    <span class="fw-700 mr-2"> DETALHES </span>
    <span class="fw-400 mr-2"> DA </span>
    <span class="fw-400"> CONSULTA </span>
  </h1>

  <navbar-sub *ngIf="!removeAbas" [options]="options" [(active)]='step'></navbar-sub>

  <div class="container mt-3">
    <div class="d-flex pt-3 pb-1 justify-content-between hide-print">
      <a [routerLink]="['']" class="btn btn-orange-1 btn-lg px-2 px-md-5">VOLTAR</a>
      <a [routerLink]="['/realizar-consultas']" class="btn btn-novaconsulta btn-lg px-2 px-md-5">NOVA CONSULTA</a>
    </div>
    <!-- <div class="d-flex py-2 px-3 f-18 bg-silver-light mt-3 justify-content-between flex-column flex-lg-row">
      <div>
        <span class="text-default fw-600">Consulta {{dadosConsulta?.composta?.nome}}</span> realizada em:
        <span class="f-20">{{dadosConsulta?.dataConsulta |date:"dd/MM/yyyy \'as\' HH:mm"}}</span>
      </div>
      <div>
        <span class="text-default fw-600">Código da consulta: </span>
        <span class="f-20">{{dadosConsulta?.tokenConsulta}}</span>
      </div>
    </div> -->

    <div *ngIf="dadosConsulta?.codigoControleConsultaPrimaria == 'SEMREGISTRO'" class="container px-0">
      <div class="rounded border-danger border-2 border-solid mx-auto my-5 p-3 p-md-4">

        <div class="flex-ac mb-3">
          <div class="svg-w-40 svg-w-lg-50 fill-danger" [inlineSVG]="'x-circle.svg'" [removeSVGAttributes]="['class']">
          </div>
          <h1 class="f-24 text-danger ml-2 ml-md-3">
            Veículo não encontrado!
          </h1>
        </div>
        <p class="f-18 w-500 text-secondary ">
          Não há registro no DETRAN ou DENATRAN para a placa ou chassi pesquisado, entre em contato conosco para
          verificarmos os dados corretos.
          <br>E-mail:<a href="mailto:suporte@carcheckbrasil.com.br" class="fw-500 text-orange-1">suporte"&#64;"carcheckbrasil.com.br</a>
        </p>
      </div>
    </div>

    <ng-container *ngIf="dadosConsulta?.codigoControleConsultaPrimaria != 'SEMREGISTRO'">



      <div class="flex-je py-3 row no-gutters hide-print">
        <div *ngIf="false" class="col-lg-3 col-md-6 col-12">
          <button class="btn btn-outline-orange-1 w-100">Fechar Blocos</button>
        </div>
        <div *ngIf="false" class="col-lg-3 col-md-6 col-12">
          <button class="btn btn-outline-orange-1 w-100">Enviar por email</button>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <button *ngIf="false" class="btn btn-outline-orange-1 w-100" (click)="print()">Salvar PDF</button>
          <button class="btn btn-outline-orange-1 w-100" onclick="print()" >Salvar PDF</button>
        </div>
        <div *ngIf="false" class="col-lg-3 col-md-6 col-12">
          <a href="" class="btn btn-outline-orange-1 w-100">Imprimir</a>
        </div>
      </div>


      <!-- Header da consulta -->

      <div class="">
        <div *ngIf="dadosConsulta?.veiculo.placa != null" class="containerPlaca">
          <img class="placa" src="./assets/images/Placa.svg" alt="" srcset="">
          <h2 class="nrPlaca">{{verificaPlaca()}}</h2>
        </div>

        <div class="headerConsulta">
          <img class="" src="./assets/images/Header-Consulta.svg" height="auto" width="100%" margin="2px" alt="" srcset="">
        </div>
      </div>



      <div [hidden]="esconderDadosVeiculo" class="ck-card" [ngClass]="{'disabled': statusConsultaVeiculo !=0 }">


        <div class="ck-card-title text-uppercase"> <img src="./assets/images/icons-consulta-carcheck/carSVG.svg" style="width: 50px;" > informações sobre o veículo</div>

        <consulta-msg *ngIf="statusConsultaVeiculo!=0" [statusVeiculo]="statusConsultaVeiculo"></consulta-msg>



        <div *ngIf="statusConsultaVeiculo==0" class="ck-card-body flex-ac flex-column flex-md-row">
          <div class="logo-marca-container mb-3 mb-md-0">
            <div class="img-circle">
              <img src="./assets/images/marcas/{{verificaLogo()}}.png" alt="">
            </div>

            <h1 class="f-28 mb-0">
              {{verificaPlaca()}}
            </h1>
            <div *ngIf="dadosConsulta?.dados?.numeroRestricoes>0" class="d-flex align-items-center pt-1">
              <div class="svg-w-36 flex-ac mr-2 fill-danger" [inlineSVG]="'perigo.svg'"
                [removeSVGAttributes]="['class']"></div>
              <span class="f-16">
                Foram encontradas
                <br>
                <strong class="text-danger">{{dadosConsulta?.dados?.numeroRestricoes}}</strong> restrições na consulta.
              </span>
            </div>
            <div *ngIf="dadosConsulta?.dados?.numeroRestricoes==0" class="d-flex align-items-center pt-1">
              <div class="svg-w-36 flex-ac mr-2 fill-blue" [inlineSVG]="'info-circle.svg'"
                [removeSVGAttributes]="['class']"></div>
              <span class="f-16">
                Não foram encontradas restrições para esta consulta.
              </span>
            </div>
          </div>
          <div class="row no-gutters w-100">
            <div class="col-12 col-lg-6 margin-0">
              <ul class="list-inline px-2">
                <div class="subtitle" style="font-weight: 800;">
                  VEÍCULO
                </div>
                <li class="pb-3">
                  <h4 class="text-secondary f-12 format-compacta">MARCA / MODELO: </h4>
                  <span class="text-uppercase format-compacta">{{verificaMarca()}} / {{verificaModelo()}}</span>
                </li>
                <li class="pb-3">
                  <h4 class="text-secondary text-uppercase f-12 format-compacta">Fabricação / Modelo:</h4>
                  <span class="text-uppercase format-compacta" >{{verificaAnoFabricacao()}}
                    / {{verificaAnoModelo()}}</span>
                </li>
                <li class="pb-3">
                  <h4 class="text-secondary text-uppercase f-12 format-compacta">Cilindradas:</h4>
                  <span class="text-uppercase format-compacta">{{verificaCilindradas()}}</span>
                </li>
                <li class="pb-3">
                  <h4 class="text-secondary text-uppercase f-12 format-compacta">Emplacamento:</h4>
                  <span class="text-uppercase format-compacta"> {{verificaMunicipio()}}/{{verificaEstado()}}</span>
                </li>
                <li class="pb-3">
                  <h4 class="text-secondary text-uppercase f-12 format-compacta">Cor:</h4>
                  <span class="text-uppercase format-compacta">{{verificaCor()}}</span>
                </li>
                <li class="pb-3">
                  <h4 class="text-secondary text-uppercase f-12 format-compacta">Chassi:</h4>
                  <span class="text-uppercase format-compacta">{{verificaChassi()}}</span>
                </li>
                <li class="pb-3">
                  <h4 class="text-secondary text-uppercase f-12 format-compacta">Combustivel:</h4>
                  <span class="text-uppercase format-compacta">{{verificaCombustivel()}}</span>
                </li>


              </ul>
            </div>
            <div class="col-12 col-lg-6 margin-0">
              <ul class="dadosconsulta list-inline px-2">
                <div class="subtitle" style="font-weight: 800;">
                  CONSULTA
                    </div>
                    <li class="pb-3">
                      <h4 class="text-secondary text-uppercase f-12 format-compacta">Entrada:</h4>
                      <span class="text-uppercase format-compacta">{{verificaEntrada()}}</span>
                    </li>
                    <li class="pb-3">
                      <h4 class="text-secondary text-uppercase f-12 format-compacta">Data realização:</h4>
                      <span class="text-uppercase format-compacta">{{dadosConsulta?.data |date:"dd/MM/yyyy \'as\' HH:mm"}}</span>
                    </li>
                    <li class="pb-3">
                      <h4 class="text-secondary text-uppercase f-12 format-compacta">Consulta:</h4>
                      <span class="text-uppercase format-compacta">{{dadosConsulta?.composta?.nome}}</span>
                    </li>
                    <li class="pb-3">
                      <h4 class="text-secondary text-uppercase f-12 format-compacta">código da consulta:</h4>
                      <span class="text-uppercase format-compacta">{{verificaIdConsulta()}}</span>
                    </li>
                    <li class="pb-3">
                      <h4 class="text-secondary text-uppercase f-12 format-compacta">Token da consulta:</h4>
                      <span class="text-uppercase format-compacta">{{dadosConsulta?.tokenConsulta}}</span>
                    </li>
              </ul>
            </div>

          </div>

        </div>

        <consulta-resumo [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta" [hidden]="step!=0"></consulta-resumo>

      </div>


      <!-- ITENS APROVADOS -->

      <div *ngIf="dadosConsulta.binestadual !=null" class="ck-card card-sucess mt-5">
        <div class="ck-card-title title-sucess"> <img src="./assets/images/aprovados.svg" style="width: 45px; padding-right: 10px;">ITENS APROVADOS</div>
        <div  class="ck-card-body aprovados">
          <ul class="list-group card-list card-list-success">
            <li (click)="scrollTo('comunicacaodevenda')" *ngIf="verificaIndicadorVenda() != true" class="list-group-item">comunicação de venda estadual <span>NADA CONSTA</span></li>
            <li (click)="scrollTo('restricoes')" *ngIf="verificaDebitos() != true" class="list-group-item">dados estaduais: débitos <span>NADA CONSTA</span></li>
            <li (click)="scrollTo('binestadual')" *ngIf="verificaRF() != true" class="list-group-item">roubo/furto ativo <span>NADA CONSTA</span></li>
            <li (click)="scrollTo('duplicidadeMotor')" *ngIf="dadosConsulta.consultaDivergenciaMotorOriginal?.constaDivergencia != true" class="list-group-item">duplicidade de motor <span>NADA CONSTA</span></li>
            <li (click)="scrollTo('remarketing')" *ngIf="dadosConsulta.remarketing?.codigoControle != 'OK'" class="list-group-item">remarketing <span>NADA CONSTA</span></li>
          </ul>
          <ul class="list-group">
            <li (click)="scrollTo('restricoes')" *ngIf="verificaMultas() != true" class="list-group-item">dados estaduais: multas <span>NADA CONSTA</span></li>
            <li (click)="scrollTo('restricoes')" *ngIf="dadosConsulta.binestadual?.restricoes == null" class="list-group-item">dados estaduais: Restrições <span>NADA CONSTA</span></li>
            <li (click)="scrollTo('decodificador')" *ngIf="dadosConsulta.decodificador?.codigoControle == 'OK'" class="list-group-item">decodificação <span>NADA CONSTA</span></li>
            <li (click)="scrollTo('leilao')" *ngIf="dadosConsulta.leilao?.codigoControle == 'SEMREGISTRO'" class="list-group-item">base de leilão <span>NADA CONSTA</span></li>
            <li (click)="scrollTo('sinistro')" *ngIf="dadosConsulta.sinistro?.codigoControle == 'SEMREGISTRO'" class="list-group-item">indício de sinistro <span>NADA CONSTA</span></li>
          </ul>
        </div>
      </div>


      <!-- ITENS DE RESTRIÇÃO -->


      <div *ngIf="dadosConsulta.binestadual !=null" >
         <div *ngIf="verificaRestricao()" class="ck-card card-danger mt-5">
        <div class="ck-card-title title-sucess"> <img src="./assets/images/aprovados.svg" style="width: 45px; padding-right: 10px;">ITENS DE RESTRIÇÃO</div>
        <div  class="ck-card-body aprovados">
          <ul class="list-group">
            <li (click)="scrollTo('restricoes')" *ngIf="dadosConsulta.binestadual.restricoes.length > 0" class="list-group-item">dados estaduais: Restrições <span>REGISTRO ENCONTRADO</span></li>
            <li (click)="scrollTo('leilao')" *ngIf="dadosConsulta.leilao?.dadosLeilao.length > 0" class="list-group-item">base de leilão <span>REGISTRO ENCONTRADO</span></li>
            <li (click)="scrollTo('restricoes')" *ngIf="dadosConsulta.binestadual.dadosMulta != null" class="list-group-item">dados estaduais: Multas <span>REGISTRO ENCONTRADO</span></li>
          </ul>
          <ul class="list-group">
            <li (click)="scrollTo('restricoes')" *ngIf="dadosConsulta.binestadual.dadosDebito != null" class="list-group-item">dados estaduais: Débitos <span>REGISTRO ENCONTRADO</span></li>
            <li (click)="scrollTo('restricoes')" *ngIf="verificaGravame()" class="list-group-item">gravame <span>REGISTRO ENCONTRADO</span></li>
            <li (click)="scrollTo('sinistro')" *ngIf="dadosConsulta.sinistro?.codigoControle != 'SEMREGISTRO' &&
            dadosConsulta.sinistro != null " class="list-group-item">indicio de sinistro <span>REGISTRO ENCONTRADO</span></li>
          </ul>
        </div>
      </div>
      </div>








      <!-- <consulta-checklist [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta.denatran!=null && dadosConsulta.binrf!=null" [hidden]="step!=0"></consulta-checklist> -->
      <consulta-detalhamento [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta" [dadosConsulta]="dadosConsulta"
        [hidden]="step!=0"></consulta-detalhamento>
      <consulta-timeline *ngIf="dadosConsulta" [hidden]="step!=1"></consulta-timeline>
      <!--consulta-resumo *ngIf="dadosConsulta" [hidden]="step!=1"></consulta-resumo-->



      <consulta-observacoes></consulta-observacoes>
      <div class="mb-5" *ngIf="login.status==false"></div>
      <consulta-feedback [hidden]="consultaExemplo==true" *ngIf="login.status==true"></consulta-feedback>

    </ng-container>


    <div  class="my-5 hide-print">
      <app-banner-vistoria></app-banner-vistoria>
    </div>

  </div>

</ng-container>



<!--
  <li>
    <h4>Cidade</h4>
    <span>{{dadosConsulta?.veiculo?.municipio!=null ? dadosConsulta?.veiculo?.municipio : "----"}}</span>
  </li>
-->
<!--
  <li>
    <h4>Situação</h4>
    <span>{{dadosConsulta?.veiculo?.situacaoVeiculo!=null ? dadosConsulta?.veiculo?.situacaoVeiculo : "Sem
      informação"}}
    </span>
  </li>
-->
<!-- <li>
  <h4>Motor</h4>
  <span>{{dadosConsulta?.veiculo?.numeroMotorAtualizado!=null?dadosConsulta?.veiculo?.numeroMotorAtualizado : dadosConsulta?.veiculo?.numeroMotorOriginal}}</span>
</li> -->
<!-- <li>
  <h4 class="text-secondary text-uppercase f-12 format-compacta">emplacamento:</h4>
  <span>{{dadosConsulta.veiculo.uf}}/{{dadosConsulta?.ufOrigem}}</span>
</li> -->
