

<dados-nacionais [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta" [(dadosDetalhamentoNacional)]="dadosConsulta"></dados-nacionais>

<!-- Para ativar a consulta Estudual novamente, baste descomentar tag abaixo  -->
<!-- <dados-estaduais [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta.binestadual" [(dadosDetalhamentoBinEstadual)]="dadosConsulta.binestadual"></dados-estaduais> -->

<dados-motor [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta.consultaDivergenciaMotorOriginal" [(dadosDetalhamento)]='dadosConsulta.consultaDivergenciaMotorOriginal'></dados-motor>

<!--dados-dpvat  *ngIf="dadosConsulta" [dadosDetalhamento]="dadosConsulta"></dados-dpvat-->
<dados-leilao [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta.leilao" [(dadosDetalhamento)]='dadosConsulta.leilao'></dados-leilao>

<dados-remarketing [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta.remarketing" [(dadosDetalhamento)]="dadosConsulta.remarketing"></dados-remarketing>

<dados-gravames [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.gravame' [(dadosDetalhamento)]='dadosConsulta.gravame'></dados-gravames>

<dados-proprietarios [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.proprietarios' [(dadosDetalhamento)]='dadosConsulta.proprietarios'></dados-proprietarios>

<dados-decodificacao-chassi [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta.decodificador" [(dadosDetalhamento)]='dadosConsulta.decodificador'></dados-decodificacao-chassi>

<!-- <dados-preco-medio [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.consultapreco'
[(dadosDetalhamento)]='dadosConsulta.consultapreco'></dados-preco-medio> -->

<dados-fipe [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.precificador' [(dadosDetalhamento)]='dadosConsulta.precificador'></dados-fipe>

<dados-preco-mercado-financeiro [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.consultaprecomolicar'
[(dadosDetalhamento)]='dadosConsulta.consultaprecomolicar'></dados-preco-mercado-financeiro>

<dados-duplicidade-motor [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.duplicidade' [(dadosDetalhamento)]='dadosConsulta.duplicidade'></dados-duplicidade-motor>

<dados-recall [(dadosObservable)]="dadosObservable" *ngIf="dadosConsulta.recall" [(dadosDetalhamento)]="dadosConsulta.recall"></dados-recall>

<dados-indicio-sinistro [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.sinistro || dadosConsulta.pt' [(dadosDetalhamentoIndicio)]='dadosConsulta.sinistro'
    [(dadosDetalhamentoPt)]='dadosConsulta.pt' ></dados-indicio-sinistro>

<dados-parecer-tecnico [(dadosObservable)]="dadosObservable" *ngIf='(dadosConsulta.sinistro!=null && dadosConsulta.sinistro.statusParecer==null) && dadosConsulta.parecerTecnico!=null ' [(dadosDetalhamentoParecerTecnico)]='dadosConsulta.parecerTecnico' >  </dados-parecer-tecnico>

<!--<dados-indicio-sinistro  *ngIf='dadosConsulta?.sinistro?.indicioSinistro?.temSinistro && temPt(dadosConsulta.pt.ptPositivo) && false' [dadosDetalhamento]='dadosConsulta.pt'></dados-indicio-sinistro>-->

<dados-desvalorizacao [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.desvalorizacao' [(dadosDetalhamento)]='dadosConsulta.desvalorizacao'></dados-desvalorizacao>

<dados-consulta-denatran *ngIf="true" [(dadosObservable)]="dadosObservable" [(dadosDetalhamento)]="dadosConsulta"></dados-consulta-denatran>

<dados-bloco-robo-denatran [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.denatran' [(dadosDetalhamento)]='dadosConsulta.denatran'></dados-bloco-robo-denatran>

<dados-bloco-historico-roubo-furto [(dadosObservable)]="dadosObservable" *ngIf='dadosConsulta.binrf' [(dadosDetalhamento)]='dadosConsulta.binrf'></dados-bloco-historico-roubo-furto>

<dados-bloco-detran *ngIf="dadosConsulta.composta.nome == 'Completa' && consultaExemplo!=true" [(dadosVeiculo)]='dadosConsulta' ></dados-bloco-detran>

<!-- <dados-bloco-denatran *ngIf="dadosConsulta.composta.nome == 'Completa' && consultaExemplo!=true"></dados-bloco-denatran> -->

<dados-bloco-multa *ngIf="dadosConsulta.composta.nome == 'Completa' && consultaExemplo!=true"></dados-bloco-multa>

<div class="my-5 py-2"></div>
