<div appAppearOnScroll (click)="click()" class="card-consulta bg-light "
  [ngClass]="{'consultando': consulta.status==1, 'erro': consulta.status==2, 'erro-critico': consulta.status==3 }">
  <div class="header "
    [ngClass]="{'bg-g-silver': consulta.status==1, 'bg-g-orange': consulta.status==0, 'bg-g-red': consulta.status>=2}">
    <div [hidden]="consulta.status!=1" class="info">
      <div class="icon mdi f-24 mdi-flip-h mdi-sync bg-blue rotate"></div>
      <div class="text f-10">Consultando</div>
    </div>
    <div class="img-container"
      [ngClass]="{'bg-g-silver': consulta.status==1, 'bg-g-orange': consulta.status==0, 'bg-g-red': consulta.status>=2}">
      <img src="{{consulta.img}}" alt="{{consulta.veiculo}}">
    </div>
    <div class="icon-svg m-0 m-lg-auto svg-w-60 svg-lg-w-70 fill-light flex-ac" [inlineSVG]="'perigo.svg'"
      [removeSVGAttributes]="['class']"></div>
    <div class="header-text text-center">
      <h3 class="f-20 m-0">{{consulta.placa ? consulta.placa.toUpperCase() : consulta.chassi.toUpperCase()}}</h3>
      <p class="f-20 m-0">
        {{consulta.modelo}}
      </p>
    </div>
  </div>
  <div class="resumo text-center px-3 py-3">
    <h3 class="f-24 m-0">{{consulta.placa ? consulta.placa.toUpperCase() : consulta.chassi.toUpperCase()}}</h3>
    <p class="f-20 m-0">
      {{consulta.modelo}}
    </p>
  </div>




  <div class="detalhe text-center px-3">
    <div class="f-14 fw-500 text-dark">
      O Carcheck Brasil identificou uma falha pontual na operação, tente recarregar novamente ou entre em contato com nossa
      equipe de Suporte.
      <!--O Carcheck identificou algum dado incorreto e por isso tivemos uma falha pontual na operação.
      <br><br>
      Fique tranquilo! A operação falhou, mas nossa equipe já está reparando os possíveis erros na sua consulta.-->
    </div>
  </div>

  <div *ngIf="consulta.status==0" class="verConsulta text-center px-3 fw-bold text-dark">
   <h6>VISUALIZAR CONSULTA</h6>
  </div>

  <div class="text-center px-3">
    <button [hidden]="consulta.status==0 || consulta.status == 1" (click)="recarregarConsulta($event)"
      class="btn btn-sm btn-orange-1 mt-3 mr-2">Recarregar</button>
    <!--button [hidden]="consulta.status==3 || consulta.status==0" class="btn btn-sm btn-orange-1 mt-3">Visualizar</button-->
  </div>
  <div class="px-3 pb-2">
    <div class="d-flex justify-content-between">
      <div class="column">
        <h4 [hidden]="consulta.status>1" class="m-0 f-16 fw-700"
          [ngClass]="{'text-orange-1': consulta.status==0, 'text-deep-gray': consulta.status==1 }">
          {{consulta.tipo}}
        </h4>
        <h4 [hidden]="consulta.status!=2" class="m-0 f-16 fw-700 text-danger">
          Falha em {{consulta.qtdErros}} base de dados.
        </h4>
        <h4 [hidden]="consulta.status!=3" class="m-0 f-16 fw-700 text-danger">
          Falha em todas as bases de dados.
        </h4>
        <p *ngIf="consulta.tipoProduto!='LAUDO'" class="f-14 fw-500 text-secondary m-0">Realizada em:
          {{consulta.data | date:'dd/MM/yyyy'}}</p>
        <p *ngIf="consulta.tipoProduto=='LAUDO'"
          class="f-14 fw-500 text-secondary m-0 d-flex justify-content-between flex-wrap">
          <span>Situação:
            <ng-container [ngSwitch]="consulta.laudo.status">

              <ng-container *ngSwitchCase="'AGUARDANDO_PAGAMENTO'">Aguardando pagamento</ng-container>

              <ng-container *ngSwitchCase="'VISTORIADO'">Vistoriado</ng-container>

              <ng-container *ngSwitchCase="'SOLICITADO'">Solicitado</ng-container>

              <ng-container *ngSwitchCase="'CANCELADO'">Cancelado</ng-container>

              <ng-container *ngSwitchCase="'LAUDO_FINALIZADO'">Finalizado</ng-container>

              <ng-container *ngSwitchDefault>{{consulta.laudo.status}}</ng-container>

            </ng-container>
          </span>
        </p>
      </div>
      <div *ngIf="consulta.tipoProduto!='LAUDO' && consulta.status == 0" >
        <!-- <button class="btn btn-sm btn-orange-1" (click)="baixarPdf($event, consulta.tokenConsulta)"
                data-toggle="tooltip" data-placement="left"
                title="Baixar PDF">
          <i class="mdi mdi-file-pdf-box f-20"></i>
        </button> -->
      </div>
    </div>
  </div>

</div>
