<section appAppearOnScroll class="parceria-seguralta">
  <div class="row">
    <div class="col">
      <img src="./assets/images/seguralta.png" alt="Seguralta" class="logo">
      <h2 class="titulo">
        <span>Carcheck Brasil</span> é parceira da <span>Seguralta!</span>
      </h2>
      <span class="descricao">
        A 8ª maior rede de franquias do País segundo a ABF.
      </span>
      <p class="descricao">
        Seja garantindo proteção com o seguro ideal ou encontrando o melhor financiamento, estamos aqui para te
        auxiliar!
        💛
      </p>
    </div>

    <div class="col">
      <div class="servicos">
        <div class="servico seguro">
          <h3><i class="fas fa-shield-alt"></i> Seguro de Veículos</h3>
          <p>Proteja seu carro com um seguro completo, confiável e acessível.</p>
          <button class="btn btn-primario">
            <a target="_blank" href="https://jessicasouza.seguralta.com.br">Solicitar Cotação</a></button>
        </div>

        <div class="servico financiamento">
          <h3><i class="fas fa-hand-holding-usd"></i> Financiamento</h3>
          <p>Com condições especiais, seu carro novo está mais perto do que nunca!</p>
          <button class="btn btn-primario">
            <a target="_blank"
              href="https://wa.me/5511916668244?text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20da%20Carcheck%20Brasil%2C%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20Financiamento%20de%20ve%C3%ADculos%20">
              Solicitar Financiamento
            </a>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="redes-sociais">
      <p>Entre em contato:</p>

      <a href="https://wa.me/5511916668244" target="_blank" class="social-icon whatsapp">
        <i class="fab fa-whatsapp"></i>
      </a>

      <a href="https://instagram.com/jessicaseguralta" target="_blank" class="social-icon instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>

  <p class="site-link">
    🌐 <a href="https://jessicasouza.seguralta.com.br" target="_blank">jessicasouza.seguralta.com.br</a>
  </p>
</section>
