::ng-deep tab-nav {
  height: fit-content;
  border: solid 1px #235b7529;
  width: fit-content;
  border-radius: 20px;
}

::ng-deep .tab.active {
  border-radius: 50px !important;
  margin: 0px !important;
}

::ng-deep.active:after {
  content: none !important;
}

// Container responsivo usando Bootstrap
.container-fluid {
  margin-bottom: 80px;
}
