@import 'functions', 'variables', 'mixins/breakpoints';


:host{
    /* modals are hidden by default */
    display: none;

    .ck-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        /* z-index must be higher than .jw-modal-background */
        z-index: 99999;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .ck-modal-body {
            width: 500px;
            max-width: 100%;
            min-height: 200px;
            background: rgba(255,255,255,1);
            /* margin exposes part of the modal background */
            margin: 10px;
            border-radius: 3px;
            overflow: auto;
        }
        
    }

    &.full-screen{
        .ck-modal-body {
            width: unset !important;
            height: auto !important;
            max-width: calc(100vw - 20px) !important;
            max-height: calc(100vh - 20px) !important; 
        }
    }

    .ck-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(0.3);
        /* semi-transparent black  */
        background-color: rgba(0,0,0,0.76);
        
        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

