<div class="d-flex align-items-center">

<button [disabled]="minValue==value" (click)="remove()" 
        class="btn btn-outline-warning rounded-circle counter-btn">
    <i class="bi bi-dash"></i>
</button>

<input [(ngModel)]="value" [textMask]="mask" 
       (keydown)="keyDown($event)" (keypress)="keyPress($event)" 
       (ngModelChange)="modelChange()" (blur)="blur()" 
       class="form-control text-center counter-input" 
       type="text">

<button [disabled]="maxValue==value" (click)="add()" 
        class="btn btn-outline-warning rounded-circle counter-btn">
  <i class="bi bi-plus"></i>
</button>

</div>