<div id="sinistro" *ngIf="!temOcorrencia" class="fw-700 f-16">
<div class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">
  <div class="ck-card-title"> <img src="./assets/images/icons-consulta-carcheck/police-carSVG.svg" style="width: 50px;" > INDÍCIOS DE SINISTRO</div>


  <consulta-msg [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()">
      Não encontramos nas nossas bases de dados registros de sinistros/acidentes para o veículo pesquisado.
    </consulta-msg>
    <div class="f-12 f-text-right p-2 p-md-4"><i>Verifica se existe apontamento de sinistro sobre o veículo pesquisado.</i></div>
  </div>
</div>


<div id="sinistro" *ngIf="temOcorrencia">
<div class="ck-card-red mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">
  <div class="ck-card-title-red"> <img src="./assets/images/icons-consulta-carcheck/police-carSVG.svg" style="width: 50px;" > INDÍCIOS DE SINISTRO</div>


  <consulta-msg [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()">
        <div class="fw-700 mb-1 f-16">
          Há indícios de sinistro
        </div>
        <div>Foi encontrado nas nossas bases de dados registros de sinistros/acidentes para o veículo pesquisado.</div>
      </consulta-msg>
      <div class="f-12 f-text-right p-2 p-md-4"><i>Verifica se existe apontamento de sinistro sobre o veículo pesquisado.</i></div>
    </div>
  </div>

<div *ngIf="temStatusParecer" class="ck-card-red mt-5">
  <div class="ck-card-title-red"> <img src="./assets/images/icons-consulta-carcheck/police-carSVG.svg" style="width: 50px;" > RISCO DE ACEITAÇÃO NO MERCADO</div>
  <consulta-msg [status]="statusParecer - 1" [statusReload]="statusReload" (reloadClick)="reload()">

    <div class=" f-16">
      <div class="fw-700 mb-1 f-16">
        {{statusParecer==1 ? 'Veículo não possui ocorrência.' : statusParecer==2 ? 'Foi identificado uma ocorrência de
        grau médio para este veículo.' : 'Foi encontrado uma ocorrência grave para este veículo.'}}
      </div>
      {{statusParecer==1 ? 'Não foi encontrado nas nossas bases de dados registros de restrição para o veículo
      pesquisado.' :
      statusParecer==2 ? 'Encontramos em nossa base de dados uma ocorrencia de grau médio para o veículo pesquisado.'
      :
      'Encontramos em nossa base de dados uma ocorrência grave para o veículo pesquisado.'}}
    </div>
  </consulta-msg>
  <div class="f-12 f-text-right p-2 p-md-4"><i>Verifica em bases de dados de vários parceiros ocorrências para os
      veículos que não são provenientes de leilão, indicando o eventual risco de aceitação do veículo, fornecendo um
      parecer se o veículo teria fácil, média ou difícil comercialização perante o mercado. Esses dados são buscados de
      seguradoras, desmanches, empresas de recuperação de veículos e etc.</i>
  </div>
</div>
