
  <div  class="ck-card mt-5 hide-print">

    <div class="ck-card-title">DENATRAN</div>

    <div class="card-body">

        <div class="font-weight-bold mb-1">
          Para uma avaliação de outras pendencias nacionais, você deve acessar o site do Denatran. A consulta é gratuita e lhe dará acesso a mais informações sobre o veículo. Clique abaixo para acessar o site.
        </div>

      <div class="flex-js flex-column flex-md-row mt-2">
        <div class="bg-white rounded">
            <div class="img-detran-container  m-auto rounded">
              <img src="./assets/images/DENATRAN.png" alt="">
            </div>
        </div>
        <div class="ml-0 ml-md-3">
          <div  class="mt-2 mt-md-0">
            <div class="text-orange-1 f-14 fw-500">Você precisa de:</div>
            <span class="">Placa, </span>
            <span class="">Renavam, </span>
            <span class="">CPF/CNPJ (proprietário).</span>
          </div>
          <div class="mt-2">
            <div class="text-orange-1 f-14 fw-500">Informações disponíveis:</div>
            <span class="">Dados e restrições nacionais, </span>
            <span class="">Renajud, </span>
            <span class="">Multas do Renainf, </span>
            <span class="">Detalhamento de roubo e furto. </span>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <a id="link_detran_uf" target="_blank" href="https://portalservicos.denatran.serpro.gov.br/"class="d-block d-md-inline-block px-5 ml-md-2 btn btn-orange-1">ACESSE AQUI</a>
      </div>
    </div>

  </div>
