<div class="ck-card ck-card-info">
  <div class="ck-card-title ck-card-title-info">OBSERVAÇÕES</div>
  <div class="ck-card-body">

      <div>
        <div class="f-16 mb-3">
          <span class="text-info f-16 mdi mdi-record"></span>
          <span class="fw-500">
              O sistema Carcheck Brasil depende de várias bases de dados para trazer precisão e confiabilidade à suas consultas.
          </span>
        </div>

        <div class="f-16 mb-3">
          <span class="text-info f-16 mdi mdi-record"></span>
          <span class="fw-500">
            Ainda que empregando os melhores esforços, o Carcheck Brasil <span class="fw-500">se exime de qualquer responsabilidade pela eventual
            não inclusão de algum dado do veículo em razão de atraso ou falta de encaminhamento dos dados em qualquer uma das
            consultas oferecidas.</span>
          </span>
        </div>

        <div class="f-16 mb-3">
          <span class="text-info f-16 mdi mdi-record"></span>
          <span class="fw-500">
            O Carcheck Brasil não garante a procedência do veículo e que as bases consultadas possuam 100% das informações
            cadastradas, se limitando a apresentar as informações obtidas nas bases consultadas.
          </span>
        </div>
      </div>

  </div>
</div>
