<nav class="navbar navbar-expand-lg fixed-top py-0 hide-print">
  <div class="navbar-container">
    <a href="{{ urlSite }}" class="custom-logo-link" rel="home" itemprop="url">
      <img
        src="./assets/images/logos/Carcheck_Logos-07.png"
        class="icon-logo"
        alt="logo Carcheck Brasil"
      />
      <img
        src="./assets/images/logos/Carcheck_Logos-05.png"
        class="custom-logo"
        alt="Carcheck Brasil"
      />
    </a>

    <div class="navbar-content">
      <ng-container *ngIf="logIn.status">
        <navbar-sub
          [options]="menuOptions"
          class="navbar-sub-desktop"
        ></navbar-sub>
        <div class="side-menubar">
          <side-menubar [options]="menuOptions" [userOptions]="userOptions">
          </side-menubar>
        </div>
        <div class="perfil">
          <span
            (click)="showNotifications()"
            class="notification-icon mdi mdi-bell mdi mdi-bell font-center"
            [ngClass]="{
              'animation-class': this.notificationService.addAnimationClass
            }"
          >
            <div class="notification">
              <button id="notification-button">
                <span
                  *ngIf="
                    this.notificationService.unreadNotifications.length > 0
                  "
                  class="counter"
                  id="notification-counter"
                  >{{
                    this.notificationService.unreadNotifications.length
                  }}</span
                >
              </button>
              <div
                class="notification-list"
                id="notification-list"
                style="display: none"
              >
                <div
                  *ngIf="this.notificationService.notification.length > 0"
                  class="header-list"
                >
                  <p>Notificações</p>
                  <p (click)="limparNotificacoes()">Limpar</p>
                </div>
                <div
                  *ngIf="this.notificationService.notification.length == 0"
                  class="notification-item"
                >
                  <div class="notification-card">
                    <div class="content">
                      <h2>Não ha notificações</h2>
                    </div>
                  </div>
                </div>
                <div *ngIf="this.notificationService.notification.length > 0">
                  <div
                    class="notification-item"
                    *ngFor="let item of this.notificationService.notification"
                  >
                    <div class="notification-card">
                      <div
                        *ngIf="item.read"
                        [ngClass]="{ neon: item.read }"
                      ></div>
                      <div
                        *ngIf="!item.read"
                        [ngClass]="{ neonUnread: !item.read }"
                      ></div>
                      <div class="content">
                        <h2>{{ item.message }}</h2>
                        <p>{{ item.subtitle }}</p>
                        <div class="sub">
                          <p class="time">{{ item.date }}</p>
                          <a *ngIf="item.token != null" href="">Visualizar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>

          <div class="menu-container">
            <navbar-dropdown
              [menuUrl]="userOptionsMenu"
              (showChange)="toggleNavUsuario($event)"
              [options]="userOptions"
              [img]="logIn.fotoGoogle || './assets/images/usuario.png'"
              [title]="logIn.nome"
            >
            </navbar-dropdown>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!logIn?.status">
        <div class="navegacao">
          <div class="menu-item-inicio">
            <a (click)="navigateTo('/home')">
              <span>Início</span>
            </a>
          </div>
          <div class="menu-item-consulta">
            <a (click)="navigateTo('/consulta-placa-veiculo')">
              <span>Consulta de Placa</span>
            </a>
          </div>
          <div class="menu-item-servicos">
            <a (click)="navigateTo('/servicos')">
              <span>Serviços</span>
            </a>
          </div>
          <div class="menu-item-blog">
            <a (click)="navigateTo('/blog')">
              <span>Blog</span>
            </a>
          </div>
          <div class="menu-item-duvida">
            <a (click)="navigateTo('/duvidas-frequentes')">
              <span>Dúvidas Frequentes</span>
            </a>
          </div>
          <div class="menu-item-contato">
            <a (click)="navigateTo('/contato')">
              <span>Contato</span>
            </a>
          </div>
        </div>
        <div class="navbar-actions">
          <a
            *ngIf="currentUrl !== '/login'"
            (click)="onLoginClick()"
            class="btn btn-entrar"
          >
            <span>Entrar</span>
          </a>
          <span
            *ngIf="currentUrl !== '/login'"
            (click)="onRegisterClick()"
            class="cadastrar"
          >
            <span>Cadastrar-se</span>
          </span>
        </div>
      </ng-container>

      <!-- Botão Hambúrguer Mobile -->
      <button
        *ngIf="isMobile"
        [hidden]="isOpen"
        class="menu-toggle"
        (click)="toggleMenu()"
        aria-label="Abrir menu de navegação"
      >
        <i class="mdi mdi-menu"></i>
      </button>
    </div>

    <!-- Menu Mobile -->
    <div class="side-menu" [ngClass]="{ open: isOpen }">
      <div class="overlay" (click)="toggleMenu()"></div>
      <div class="menu-content">
        <div class="menu-header">
          <img
            src="./assets/images/logos/Carcheck_Logos-02.png"
            class="menu-logo"
            alt="carheckbrasil"
          />
          <button
            class="close-menu-btn"
            (click)="toggleMenu()"
            aria-label="Fechar menu"
          >
            <i class="mdi mdi-close"></i>
          </button>
        </div>
        <ul class="nav navbar-nav">
          <li class="menu-item-inicio">
            <a (click)="navigateTo('/home')">Início</a>
          </li>
          <li class="menu-item-consulta">
            <a (click)="navigateTo('/consulta-placa-veiculo')"
              >Consulta de Placa</a
            >
          </li>
          <li class="menu-item-servicos">
            <a (click)="navigateTo('/servicos')">Serviços</a>
          </li>
          <li class="menu-item-blog">
            <a (click)="navigateTo('/blog')">Blog</a>
          </li>
          <li class="menu-item-duvida">
            <a (click)="navigateTo('/duvidas-frequentes')"
              >Dúvidas Frequentes</a
            >
          </li>
          <li class="menu-item-contato">
            <a (click)="navigateTo('/contato')">Contato</a>
          </li>
          <li class="menu-item-componentes">
            <a (click)="navigateTo('/lib/componentes')">Componentes</a>
          </li>
        </ul>
        <div class="menu-actions">
          <button *ngIf="currentUrl !== '/login'" class="btn btn-entrar">
            <a (click)="onLoginClick()"> Entrar </a>
          </button>
          <span
            *ngIf="currentUrl !== '/login'"
            (click)="onRegisterClick()"
            class="cadastrar"
            >Cadastrar-se</span
          >
        </div>
      </div>
    </div>
  </div>
</nav>
