<div *ngIf="dadosDetalhamento.rf.length>0" class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }" >
  <div class="ck-card-title">HISTÓRICO ROUBO E FURTO</div>
  <consulta-msg *ngIf="statusConsulta==5" [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()" ></consulta-msg>

  <div *ngIf="statusConsulta!=5" class="ck-card-body table-responsive">

    <table class="w-100 px-3">
      
      <tr class="text-orange-1 border-bottom border-orange-1 f-14">
        <th class="px-2 pb-1">
          Categoria
        </th>
        <th class="px-2 pb-1">
          Ano
        </th>
        <th class="px-2 pb-1">
          Orgão Segurança
        </th>
        <th class="px-2 pb-1">
          Boletim
        </th>
        <th class="px-2 pb-1">
          Municipio Emplacamento
        </th>
        <th class="px-2 pb-1">
          Número Ocorrencia
        </th>
        <th class="px-2 pb-1">
          UF Emplacamento
        </th>
        <th class="px-2 pb-1">
          Marca
        </th>
        <th class="px-2 pb-1">
          Cor
        </th>
        <th class="px-2 pb-1">
          Ano Modelo
        </th>
        <th class="px-2 pb-1">
          Ano Fabricação
        </th>
        <th class="px-2 pb-1">
          Tipo Declaração
        </th>
        <th class="px-2 pb-1">
          Data
        </th>
        <th class="px-2 pb-1">
          Alarme
        </th>
      </tr>

      <tr *ngFor="let d of dadosDetalhamento.rf; let i = index;" [ngClass]="{'bg-silver-light': i%2}">
        <td class="p-2 text-nowrap">{{d.categoria}}</td>
        <td class="p-2 text-nowrap">{{d.ano}}</td>
        <td class="p-2 text-nowrap">{{d.orgaoSeguranca}}</td>
        <td class="p-2 text-nowrap">{{d.boletim}}</td>
        <td class="p-2 text-nowrap">{{d.municipioEmplacamento}}</td>
        <td class="p-2 text-nowrap">{{d.numeroOcorrencia}}</td>
        <td class="p-2 text-nowrap">{{d.ufEmplacamento}}</td>       
        <td class="p-2 text-nowrap">{{d.marca}}</td>
        <td class="p-2 text-nowrap">{{d.cor}}</td>
        <td class="p-2 text-nowrap">{{d.anoModelo}}</td>
        <td class="p-2 text-nowrap">{{d.anoFabricacao}}</td>
        <td class="p-2 text-nowrap">{{d.tipoDeclaracao}}</td>
        <td class="p-2 text-nowrap">{{d.data}}</td>
        <td class="p-2 text-nowrap">{{d.alarme}}</td>        
      </tr>
    </table>

  </div>
</div>