<div class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">
  <div class="ck-card-title">DPVAT - RESUMO DE QUITAÇÃO</div>


  <consulta-msg *ngIf="statusConsulta==5" [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()" ></consulta-msg>


  <div *ngIf="statusConsulta!=5" class="ck-card-body">
    <div class="d-flex pt-2">
      <div class="flex-column flex-ac col-12 col-md-5 col-lg-4">
          <div *ngIf="dpvatEmAberto" class="svg-70 fill-danger" [inlineSVG]="'x-circle.svg'" [removeSVGAttributes]="['class']" ></div>
          <div *ngIf="!dpvatEmAberto" class="svg-70 fill-success" [inlineSVG]="'check-circle.svg'" [removeSVGAttributes]="['class']" ></div>
    
          <div class="text-center">
            <div *ngIf="dpvatEmAberto" class="f-16 py-3 font-weight-bold">Existe um DPVAT em aberto</div>
            <div *ngIf="!dpvatEmAberto" class="f-16 py-3 font-weight-bold">Nenhum DPVAT em aberto</div>
            <div class="f-14">
              O veículo só pode ser transferido para outro
              <br> proprietário se o DPVAT estiver em dia.
            </div>
          </div>
      </div>
      <table class="w-100">
        <tr class="text-orange-1 border-bottom border-orange-1 f-14">
          <th class="pb-1 px-2">Exercício</th>
          <th class="pb-1 px-2">Status</th>
          <th class="pb-1 px-2">Data de pagamento</th>
        </tr>
        <tr *ngFor="let d of dpvat; let i = index;" [ngClass]="{'bg-silver-light': i%2}">
          <td class="p-2">{{d.ano}}</td>
          <td class="p-2">{{ d.status==1 ? 'Em Aberto' : 'Quitado' }}</td>
          <td class="p-2">{{d.data}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>