<div class="content">
  <div class="col">
    <div class="row">
      <div class="row content-title">
        <img src="./assets/images/seguralta.png" alt="" width="100px">
        <div class="col">
          <h1 class="f-16 f-md-16 fw-700 text-orange-1 titulo"> Obtenha sua cotação de seguro gratuita agora </h1>
          <p class="f-12 f-md-12 text-white descricao">A 8ª maior rede de franquias do País segundo a ABF.</p>
        </div>
      </div>
      <div class="links">
        <a target="blank" href="https://jessicasouza.seguralta.com.br"
          class="btn btn-orange-1 f-18 f-md-20 btn-lg btn-solicitar">SOLICITAR COTAÇÃO</a>
      </div>
    </div>
    <div class="social-links">
      <a class="f-12" href="https://www.instagram.com/jessicaseguralta/" target="_blank">
        <img class="f-12 insta" src="https://carcheckbrasil.com.br/assets/images/insta.png">
        &#64;jessicaseguralta </a>
      <a class="f-12"
        href="https://api.whatsapp.com/send?phone=5511916668244&amp;text=Ol%C3%A1%2C%20tenho%20interesse%20em%20fazer%20uma%20cota%C3%A7%C3%A3o.%20Poderia%20me%20dar%20mais%20detalhes%3F"
        target="_blank">
        <img class="wpp" src="https://carcheckbrasil.com.br/assets/images/whatsapp.png"> (11) 91666-8244</a>
      <a class="f-12" href="https://jessicasouza.seguralta.com.br" target="_blank">jessicasouza.seguralta.com.br</a>
    </div>
  </div>

</div>
