<div class="container pt-3 pt-lg-5 px-md-5 px-lg-0">
    <step-by-step [steps]="steps" [(currentStep)]="currentStep" [doneSteps]="doneSteps"></step-by-step>
    <div class="currentStep-container">
        <div [hidden]="stepIndex.consulta != currentStep" class="pt-5 mt-0 pt-lg-5">
            <comprar-consulta [consultasSelecionadas]="consultasSelecionadas"
                (consultasSelecionadasChange)="selecionarConsultaEvent($event)" [listaConsulta]="listaConsulta"
                (nextEvent)="next()">
            </comprar-consulta>
        </div>

        <div [hidden]="stepIndex.veiculo != currentStep" class="mt-0 pt-lg-5 mt-lg-5 pb-3 pb-md-5 my-5">

            <ng-container *ngIf="!possuiLaudo">
                <selecionar-veiculo [(tipoPesquisa)]="tipoPesquisa" [(placa)]="pesquisaPlaca"
                    [(chassi)]="pesquisaChassi" (nextEvent)="next()"></selecionar-veiculo>
                <div [hidden]="msg!='danger'" class="mt-3 text-center text-danger fw-500 f-18">
                    Obrigatório preenchimento de Placa válida ou Chassi!
                </div>
            </ng-container>

            <ng-container *ngIf="possuiLaudo">
                <app-form-laudo [(formValue)]="laudo" (formStatus)="laudoStatus = $event"></app-form-laudo>
            </ng-container>

        </div>

        <div [hidden]="stepIndex.cadastro != currentStep" class="my-5">
            <login *ngIf="!cadastrar && !logIn.status" (cadastrarBtnClick)="cadastrarChange()"
                (loginBtnClick)="loginChange()" (loginFbBtnClick)="loginFbChange()" [hidden]="cadastrarRestoFB"></login>
            <!--cadastrar [(cadastro)]="cadastrarUsuario" *ngIf="(logIn.status==false || logIn.cliente.documento=='') && (cadastrar || cadastrarRestoFB)"></cadastrar-->

            <cadastrar-acesso [(cadastro)]="cadastrarUsuario" *ngIf="logIn.status==false && cadastrar">
            </cadastrar-acesso>

            <login-user-card (continuar)="next()" class="py-5" *ngIf="logIn.status && logIn.cliente.documento!=''">
            </login-user-card>
        </div>

        <div [hidden]="stepIndex.completarCadastro != currentStep" class="my-5">
            <cadastrar-dados-usuario [(cadastro)]="cadastrarUsuario"></cadastrar-dados-usuario>
        </div>


        <div *ngIf="stepIndex.pagamento == currentStep" class="mt-5">
            <forma-pagamento [(valorTotal)]="valorTotal"
                (valorTotalDescontoChange)="valorTotalDesconto=$event">
                <app-display-produto-pagamento [dadosVeiculo]="dadosVeiculo"
                    [consultasSelecionadas]="consultasSelecionadas"></app-display-produto-pagamento>
            </forma-pagamento>

            <ng-container *ngIf="!possuiLaudo && consultaLaudo">
                <app-form-laudo-adicional [valor]="consultaLaudo.valorConsulta" (laudoStatus)="laudoStatus=$e"
                    [adicionarLaudo]="laudoAdicional" (adicionarLaudoChange)="toggleLaudoAdicional($event)"
                    [(formValue)]="laudo"></app-form-laudo-adicional>
            </ng-container>

            <div class="flex-as mt-5">
                <div class="fw-500 f-18 w-100"></div>
                <div class="ml-5 text-nowrap">
                    <h4 *ngIf="valorTotal != valorTotalDesconto" class="fw-700 f-14 text-default">Valor Original:
                        {{valorTotal | currency:'BRL':true}}</h4>
                    <h4 class="fw-700 f-20 text-default">Total a pagar:</h4>
                    <div class="price-container-lg mb-2" *ngIf="valorTotal != valorTotalDesconto">
                        <span>R$</span>
                        <span>{{valorReais(valorTotalDesconto)}}</span>
                        <span>,{{valorCentavos(valorTotalDesconto)}}</span>
                    </div>
                    <div class="price-container-lg mb-2" *ngIf="valorTotal == valorTotalDesconto">
                        <span>R$</span>
                        <span>{{valorReais(valorTotal)}}</span>
                        <span>,{{valorCentavos(valorTotal)}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="mb-5 flex-wrap flex-column-reverse flex-md-row flex-md-nowrap" [ngClass]="{
            'flex-jb': (!logIn.status && cadastrar && stepIndex.cadastro==currentStep),
            'flex-je': !(!logIn.status && cadastrar && stepIndex.cadastro==currentStep)
        }">

            <div *ngIf="!logIn.status && cadastrar && stepIndex.cadastro==currentStep">
                <button (click)="cadastrar=false" class="btn btn-orange-1 btn-lg w-100 py-lg-3">JÁ SOU
                    CADASTRADO</button>
            </div>

            <div class="w-100 flex-je flex-ae flex-column mb-3 mb-md-0">
                <button *ngIf="!loadingCompra"
                    [hidden]="stepIndex.cadastro == currentStep && (cadastrar==false || logIn.status==true)"
                    (click)="next()" class="btn-next btn btn-success btn-lg  py-lg-3"
                    [ngClass]="{
                      'cadastro': currentStep == stepIndex.cadastro,
                      'completar-cadastro': currentStep == stepIndex.completarCadastro,
                      'pagamento': currentStep == stepIndex.pagamento
                    }">
                    {{ currentStep == stepIndex.pagamento ? 'Finalizar' : 'Continuar' }}
                </button>
                <button *ngIf="loadingCompra" disabled="disabled"
                    class="btn btn-lg btn-next btn-success flex-ac flex-jc py-lg-3 relative">
                    <i class="d-block mdi mdi-loading mr-3 f-24 rotate"></i>Efetuando transação</button>
                <div class="f-18">
                    <span
                        [hidden]="!logIn.status || logIn.cliente.documento=='' || stepIndex.cadastro==currentStep || stepIndex.pagamento==currentStep">
                        <strong> Deseja fazer várias consultas? </strong>
                        <a [routerLink]="['/processo-compra-multipla']" href="#" class="text-primary fw-500"> Clique
                            aqui!</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <ck-modal id="modalAviso" class="full-screen">

      <div class="p-md-4 p-3 f-18" style="max-width: 900px">
          <h1 class="f-20 mb-4 text-center text-grey-deep">Instabilidade pagamento</h1>
          <div class="f-14 text-secondary">
              <p>
                Prezados clientes,

                Gostaríamos de informar que nossa plataforma de pagamentos está passando por uma manutenção programada. Durante este período, algumas funcionalidades, como a realização de compras, estarão indisponíveis.

                Pedimos desculpas pelo inconveniente causado e agradecemos sua compreensão enquanto trabalhamos para melhorar nossos serviços. Faremos o possível para concluir a manutenção o mais rápido possível e restaurar todas as funcionalidades normalmente.

              </p>
          </div>
      </div>
      <div class="px-3 px-lg-4 pb-3 d-flex justify-content-center">

          <button (click)="closeModal()" class="btn btn-warning">
              FECHAR
          </button>
      </div>

  </ck-modal>
