<!--consulta-bar [(step)]="step"></consulta-bar-->

<div *ngIf="statusCarregamento==-1" class="container px-0 ">
  <div class="rounded border-danger border-2 border-solid mx-auto my-5 p-3 p-md-4">
    <div class="flex-ac mb-3">
      <div class="svg-w-40 svg-w-lg-50 fill-danger" [inlineSVG]="'x-circle.svg'" [removeSVGAttributes]="['class']">
      </div>
      <h1 class="f-24 text-danger ml-2 ml-md-3">
        ERRO AO CARREGAR CONSULTA!
      </h1>
    </div>
    <p class="f-18 w-500 text-secondary text-uppercase">
      Tente novamente mais tarde, caso o problema se repita ou para maiores informações entre em contato com o nosso
      suporte:
      <a href="mailto:contato@carcheckbrasil.com.br" class="fw-500 text-orange-1">CONTATO"&#64;"CARCHECKBRASIL.COM.BR</a>
    </p>
  </div>
  <div class="flex-jb mb-5">
    <a [routerLink]="['']" class="btn btn-orange-1 px-2 px-md-5">VOLTAR</a>
    <a [routerLink]="['/realizar-consultas']" class="btn btn-novaconsulta px-2 px-md-5">NOVA CONSULTA</a>
  </div>
</div>


<ng-container *ngIf="statusCarregamento==1">


  <div class="header-consulta-container hide-print" style="margin-top: 15px; margin-bottom: 20px;">
    <div class="consulta-banner">
      <div class="consulta-title">
        <span class="title-line1">CONSULTA VEICULAR</span>
        <span class="title-line2">COMPLETA</span>
      </div>
      <div class="placa-container">
        <div class="placa-mercosul">
          <div class="placa-top">
            <span class="brasil-text">BRASIL</span>
            <div class="flags">
              <span class="flag-emoji">🇧🇷</span>
              <span class="mercosul">MERCOSUL</span>
            </div>
          </div>
          <div class="placa-main">
            <span class="placa-number">SES3J70</span>
            <div class="placa-bottom">
              <span class="placa-br">BR</span>
              <span class="placa-qr">QR</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="ck-h1 hide-print" style="margin-top: 15px; margin-bottom: -0.5rem;">
    <span class="fw-700 mr-2">DETALHES</span>
    <span class="fw-400 mr-2">DA</span>
    <span class="fw-400">CONSULTA</span>
  </h1>

  <div class="container-consulta-company mt-3">
    <div class="d-flex pt-3 pb-1 justify-content-between hide-print">
      <a [routerLink]="['']" class="btn btn-orange-1 btn-lg px-2 px-md-5">VOLTAR</a>
      <a [routerLink]="['/realizar-consultas']" class="btn btn-novaconsulta btn-lg px-2 px-md-5">NOVA CONSULTA</a>
    </div>




    <ng-container *ngIf="dadosConsulta?.codigoControleConsultaPrimaria != 'SEMREGISTRO'">


      <div class="info-consulta d-flex py-2 px-3 f-18 mt-3 justify-content-between flex-column flex-lg-row">
        <div>
          <span class="text-default fw-600">{{dadosConsulta?.tipo}}</span> realizada em:
          <span class="f-20">{{dadosConsulta?.data |date:"dd/MM/yyyy \'as\' HH:mm"}}</span>
        </div>
        <div>
          <span class="text-default fw-600">Código da consulta: </span>
          <span class="f-20">{{dadosConsulta?.tokenConsulta}}</span>
        </div>
      </div>

      <div class="area-share">
        <span>Compartilhar consulta:</span>
        <ul class="list-share">
          <li><a class="email" href="mailto:?subject=&amp;body=Veja minha consulta do Carcheck Brasil: https://carcheckbrasil.com.br/visualizar-consulta/{{tokenConsulta}}" target="_blank"><i class="mdi mdi-email"></i></a></li>
          <li><a class="whatsapp" href="https://api.whatsapp.com/send?text=Confira%20os%20detalhes%20da%20consulta%20aqui:%0Ahttps://carcheckbrasil.com.br/visualizar-consulta/{{tokenConsulta}}" data-action="share/whatsapp/share" target="_blank"><i class="mdi mdi-whatsapp"></i></a></li>
        </ul>
      </div>


      <div class="my-5 flex-jc loading">
        <i class="mdi mdi-loading rotate animation-speed-2000 f-80 text-gray-light"></i>
      </div>
      <iframe *ngIf="this.dadosConsulta?.linkPesquisa != null" title="consultaView" id="iframe" [style.height]="iframeHeight" [src]="iframeUrl" ></iframe>

      <div *ngIf="this.dadosConsulta?.linkPesquisa == null" style="height: 200px;"></div>

      <card-servicos [hidden]="consultaExemplo==true" *ngIf="login.status==true && this.dadosConsulta?.linkPesquisa != null"></card-servicos>

      <consulta-feedback  [hidden]="consultaExemplo==true" *ngIf="login.status==true && this.dadosConsulta?.linkPesquisa != null"></consulta-feedback>

    </ng-container>


    <!-- <div  class="my-5 hide-print">
      <app-banner-vistoria></app-banner-vistoria>
    </div> -->

  </div>

</ng-container>
