<div class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }" >
  <div class="ck-card-title">GRAVAMES</div>

  <consulta-msg *ngIf="statusConsulta==5 || this.dadosDetalhamento.codigoControle == 'SEMREGISTRO' || nuncaConstou "  [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()" >

    <div *ngIf="dadosDetalhamento?.dadosGravame.length==0 || nuncaConstou ">
      <div class="f-16 mb-2">
        <strong>NÃO CONSTAM OCORRÊNCIAS</strong>
      </div>
      <div>
        Não encontramos nas nossas bases de dados registros de gravame para este veículo.
      </div>
    </div>

  </consulta-msg>

  <div *ngIf="statusConsulta!=5 && !nuncaConstou" class="ck-card-body p-0 m-0">
    <ng-container *ngFor="let g of dadosDetalhamento.dadosGravame; let i = index;">
      <div class="row no-gutters p-2 p-md-4" [ngClass]="{'bg-silver-light': i%2 }">
        <div class="flex-ac col-12 col-lg-6">
          <div *ngIf="!verificaGravameBaixado(g.descricaoStatus)" class="svg-w-40 svg-w-sm-50 svg-w-md-60 fill-danger" [inlineSVG]="'x-circle.svg'" [removeSVGAttributes]="['class']"></div>
          <div *ngIf="verificaGravameBaixado(g.descricaoStatus)" class="svg-w-40 svg-w-sm-50 svg-w-md-60 fill-success" [inlineSVG]="'check-circle.svg'" [removeSVGAttributes]="['class']"></div>

          <div class="pl-3 pl-md-4">
            <div class="f-14 f-sm-16 fw-700 pb-2">
             {{g.descricaoStatus}}
            </div>
            <div >
                Registro incluído em: {{g.dataStatus}}
            </div>
          </div>
        </div>
        <div class="row no-gutters   pt-2 pt-lg-0">
          <div class="px-3 pb-2" *ngIf="g.documentoFinanciado">
            <h4>Tipo de pessoa</h4>
            <span>{{g.documentoFinanciado.length>14 ? 'Jurídica' : 'Física'}}</span>
          </div>

          <!--div class="px-3 pb-2">
            <h4>Cidade/Estado</h4>
            <span>{{ g.cidade ? g.cidade : "Não especificado" }} / {{g.uf }}</span>
          </div-->

          <div class="px-3 pb-2">
            <h4>Estado</h4>
            <span>{{g.uf}}</span>
          </div>

          <div class="px-3 pb-2">
            <h4>UF placa</h4>
            <span>{{g.ufPlaca}}</span>
          </div>
          <!--div class="px-3 pb-2">
            <h4>UF Licenciamento</h4>
            <span>ufLicenciamento</span>
          </div-->
          <div class="px-3 pb-2">
            <h4>Financiado por</h4>
            <span>{{g.nomeAgente}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>