h2{
  font-weight: bold;
}

.alertleilao{
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline #97161A;
}

.container{
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 384px;
  height: 204px;

}

.frame{
  position: absolute;
  height: 180px;
}

.frameNumber{
  font-size: 70px;
  margin-top: 43px;
  position: absolute;
}

.dados{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  width: 440px;

  span{
    color: #97161A;
    font-weight: 800;
  }
}

.newProgress{
  width: 360px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.containerPai{
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

}
