@use '../../assets/scss/bootstrap/variables' as *;
@use '../../assets/scss/bootstrap/mixins/breakpoints' as *;

.btn-circle-sm,
.btn-circle {
  height: 50px;
  width: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.ck-h1 {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.btn-circle-sm {
  height: 40px;
  width: 40px;
}

input,
textarea {
  width: 100%;
  padding: 0px;
  border: none;
  outline: none;
  background: rgb(238, 238, 238);
  background: linear-gradient(0deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
  height: 46px;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px 10px;
  transition: 200ms ease-in;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

textarea:focus,
input:focus {
  border: 2px solid #244b5a;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

textarea:focus+label,
input:focus+label {
  color: #244b5a;
}

.veiculo-pesquisa-form {
  max-width: 1300px;
  padding: 50px 10px;
  margin: auto;
}

button:focus{
  border: 1px solid #304d5a;
  outline: none !important;
}

@include media-breakpoint-down(md) {

  /*.container{
        padding: 10px;
    }*/

  .veiculo-pesquisa-form {
    max-width: 100%;
    padding: 40px 0px;
    margin: auto;
  }

  .container-consulta {
    border-bottom: 3px solid $gray-100;
    padding: 5px 10px 10px;
  }

  input[type="text"] {
    max-width: 100%;
    border-color: $dark !important;
  }

  .container-chassi,
  .container-placa {
    display: none;
    max-width: calc(100% - 50px);

    label {
      display: none !important;
    }

    &.active {
      display: block;
    }
  }

  .btn-consultar {
    width: 100%;
  }

}


@include media-breakpoint-down(xs) {

  .container-consulta {
    padding: 5px 10px 10px;
  }

}

.bg-dark {
  background-color: #304d5a !important;
}

.bg-silver-light {
  background-color: #f7f7f7d6 !important;
  border-radius: 20px !important;
  box-shadow: 0px 4px 20px #b8b8b842;
}
