<div class="infos" *ngIf="dadosVeiculo">
  <h2 class="bg-dark mb-0 f-md-22 f-18 text-center p-1 text-white">Você está pagando por:</h2>
  <div
    class="rounded-bottom bg-silver px-2 px-lg-4 py-2 py-lg-3 font-weight-bold d-flex align-items-baseline justify-content-between flex-wrap flex-lg-no-wrap">
    <div class="">
      <span class="text-orange-1 f-26 f-lg-32">1. </span>
      <span class="f-20 f-lg-24">{{dadosVeiculo.erro ? 'Consulta ': ''}}
        {{consultasSelecionadas[0]?.composta?.nome}}</span>
      <span *ngIf="!dadosVeiculo.erro" class="f-18 f-lg-20"> do veiculo: </span>
    </div>
    <div *ngIf="!dadosVeiculo.erro" class="f-16 f-sm-18 f-lg-24">
      {{dadosVeiculo?.placa}} - {{dadosVeiculo?.modelo}} &nbsp; {{dadosVeiculo?.corVeiculo}} &nbsp;
      {{dadosVeiculo?.anoFabricacao}}/{{dadosVeiculo?.anoModelo}}
    </div>
  </div>
</div>
<div class="infos" *ngIf="!dadosVeiculo">
  <h2 class="bg-dark mb-0 f-md-22 f-18 text-center p-1 text-white">Você está pagando por:</h2>
  <div class="bg-silver py-3 fw-bold px-3 rounded-bottom">
    <ng-container *ngFor="let c of consultasSelecionadas">
      <div *ngIf="c.quantidade>0" class="col-6 col-md-4 pl-3 ">
        <span class="text-orange-1 f-32 ">{{c.quantidade}}.</span>
        <span class="f-24 consulta" [ngClass]="{'consulta-completa': c.label === 'Completa'}">Consulta {{c.label}}</span>
      </div>
    </ng-container>
  </div>
</div>
