<div class="topfoot">
  <div class="container-promocao">
    <div class="titulo-promocao">
      <h3>Receba promoções</h3>
      <p>Seja o primeiro a descobrir tudo o que temos para você</p>
    </div>
    <div class="form-promocao">
      <form class="row" action="/#inscrito">
        <input
          id="nome-inscricao"
          autocomplete="off"
          type="text"
          class="form-control"
          placeholder="Seu nome"
        />
        <div
          id="nome-inscricao-erro"
          class="d-none text-danger-light px-2 text-right fw-500 f-14"
        >
          Campo obrigatório.
        </div>
        <input
          id="email-inscricao"
          autocomplete="off"
          type="text"
          class="form-control"
          placeholder="Seu e-mail"
        />
        <div
          id="email-invalido-inscricao-erro"
          class="d-none text-danger-light px-2 text-right fw-500 f-14"
        >
          E-mail inválido.
        </div>
        <button type="button" id="inscever-btn">Enviar</button>
      </form>
    </div>
  </div>
</div>

<section class="app-section">
  <p>Baixe nosso app e tenha acesso fácil aos nossos serviços!</p>

  <div class="app-links">
    <!-- Google Play -->
    <a
      href="https://play.google.com/store/apps/details?id=com.sazso.carcheck"
      target="_blank"
    >
      <img
        src="./assets/images/google-play-badge.png"
        alt="Disponível no Google Play"
      />
    </a>

    <!-- App Store -->
    <a href="https://apps.apple.com/app/id6459511385" target="_blank">
      <img
        src="./assets/images/app-store-badge.png"
        alt="Disponível na App Store"
      />
    </a>
  </div>
</section>

<div class="midfoot">
  <div class="sobre-carcheck">
    <h3>Sobre o Carcheck Brasil</h3>
    <div class="logo_rodape">
      <img
        src="./assets/images/lading-page/logo_carcheckbrasil.png"
        alt="Carcheck Brasil Logo"
      />
    </div>
    <p>
      Segunda a sexta das 8:30 às 18:00 <br />
      Sábado das 8:00 às 12:00
    </p>
    <p>
      O Carcheck Brasil apresenta dados de veículos de todo o território
      nacional.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Contatos</h3>
    <ul class="socials">
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=5527998281914"
          target="_blank"
          ><i class="mdi mdi-whatsapp"></i> Fale Conosco</a
        >
      </li>
      <li>
        <a href="https://www.facebook.com/carcheckbrasil" target="_blank"
          ><i class="mdi mdi-facebook"></i> Dicas úteis no nosso Facebook</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/carcheckbrasil/" target="_blank"
          ><i class="mdi mdi-instagram"></i> Veja todas as novidades no nosso
          Instagram!</a
        >
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <h3>Mapa do site</h3>
    <ul id="menu-rodape" class="mapa-site">
      <li
        id="menu-item-358"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-289 current_page_item menu-item-358"
      >
        <a href="/home" aria-current="page">Início</a>
      </li>
      <li
        id="menu-item-300"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"
      >
        <a href="/consulta-placa-veiculo">Consulta de Placa</a>
      </li>
      <li
        id="menu-item-297"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"
      >
        <a href="/blog">Blog</a>
      </li>
      <li
        id="menu-item-298"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"
      >
        <a href="/duvidas-frequentes">Dúvidas Frequentes</a>
      </li>
      <li
        id="menu-item-299"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"
      >
        <a href="/contato">Fale Conosco</a>
      </li>
      <li
        id="menu-item-299"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"
      >
        <a href="/politica-da-privacidade">Politica de privacidade</a>
      </li>
    </ul>
  </div>
</div>

<div class="rodape">
  <div class="text-center">
    Carcheck Brasil 2022 - Todos os direitos reservados
  </div>
</div>

<!--
<div class="d-flex align-items-center justify-content-between flex-wrap container py-2 py-md-0">
  <div class="d-flex hide-print">
    <i class="mdi f-24 f-lg-28 mdi-comment-question pr-2"></i>
    <span class="f-18 f-lg-20 mr-4 ">TEM DÚVIDAS? <a href="{{urlSite.duvidasFrequentes}}"
        class="d-block d-sm-inline">CLIQUE AQUI!</a></span>
  </div>



  <div class="d-flex align-items-center f-20 flex-column flex-lg-row">
    <div class="f-18 fw-700 mr-lg-2 hide-print">Formas de pagamento </div>
    <div class="flex-jb">
      <ng-container class="" *ngFor="let p of formaPagamento">
        <img class="ml-1 hide-print" src="./assets/images/{{p.icon}}" alt="{{p.title}}">
      </ng-container>
    </div>
  </div>
</div> -->
