<h1 class="f-22 fw-500">
  INFORMAÇÕES DO USUÁRIO
  <h1>

    <div class="row">
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Email : {{dadosUsuario.email}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Nome : {{dadosUsuario.nome}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Status : {{dadosUsuario.status}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Documento : {{dadosUsuario.documento}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Bairro : {{dadosUsuario.bairro}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Cep : {{dadosUsuario.cep}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Cidade : {{dadosUsuario.cidade}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Complemento : {{dadosUsuario.complemento}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Endereco : {{dadosUsuario.endereco}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Estado : {{dadosUsuario.estado}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Numero : {{dadosUsuario.numero}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Tipo Pessoa : {{dadosUsuario.tipoPessoa}}</h3>
      <h3 class="col-12 col-md-6 f-18 fw-400 mb-1">Razao Social : {{dadosUsuario.razaoSocial}}</h3>
    </div>