
<div [style.maxWidth.px]="1000" class="container my-5 px-5">
    <app-step-by-step-sm [steps]="steps" [active]="stepIndex"></app-step-by-step-sm>
</div>

<div *ngIf="statusText" class="container py-5 text-center">
    {{statusText}}
</div>



<div *ngIf="dados" class="container px-md-5">

    <div class="ck-card">

        <div class="ck-card-title">INFORMAÇÕES DA VISTORIA</div>

        <div class="ck-card-body flex-ac flex-column flex-md-row">
            <div class="logo-marca-container mb-3 mb-md-0">
                <div class="img-circle">
                    <img [src]="fotoMarca" [alt]="dados?.marca">
                </div>

                <h1 class="f-28 mb-0">
                    {{ dados?.placa }}
                </h1>
            </div>
            <div class="row no-gutters w-100">
                <div class="col-12 col-lg-6 margin-0">
                    <ul class="list-inline px-2">
                        <li>
                            <h4>Modelo</h4>
                            <span>{{ dados?.modelo }}</span>
                        </li>
                        <li>
                            <h4>Ano fabricação / Modelo</h4>
                            <span>{{ dados?.anoFabricacao }}
                                / {{ dados?.anoModelo }}</span>
                        </li>
                        <li>
                            <h4>Proprietário</h4>
                            <span>{{ dados?.nomeProprietario }}</span>
                        </li>
                        <li>
                            <h4>Contato</h4>
                            <span>{{ dados?.telefone }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6 margin-0">
                    <ul class="list-inline px-2">
                        <li>
                            <h4>Localidade</h4>
                            <span>{{ dados?.cidade }} - {{ dados?.uf }}</span>
                        </li>
                        <li>
                            <h4>Solicitação</h4>
                            <span>{{ dados?.dataSolicitacao | date:'dd/MM/yyyy' }}</span>
                        </li>

                        <li>
                            <h4>Vistoria</h4>
                            <span *ngIf="dados?.dataVistoria">{{ dados?.dataVistoria | date:'dd/MM/yyyy' }}</span>
                            <span *ngIf="!dados?.dataVistoria" class="text-muted">Não realizada</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a *ngIf="dados.tokenPdf" [href]="dados.tokenPdf" target="blank" class="btn btn-lg btn-orange-1 my-5 mx-auto px-5">SALVAR PDF</a>
    </div>
</div>
