.container {
  max-width: 1040px;
}

step-by-step {
  max-width: 600px;
  display: block;
}

.ck-h1 {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.conheca {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -75px;
  font-family: Archivo, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 125%;
  letter-spacing: -.5px;
}

.arrow {
  background: linear-gradient(90deg, #208b87 0%, #244b5a 100%);
  border-radius: 20px;
  padding: 0px;
  color: #ecda26;
  margin: 0px 10px;
  position: relative;
  /* Necessário para a animação */
  animation: moveUpDown 1s ease-in-out infinite;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.price-container,
.price-container-lg {
  font-size: 2.8rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  line-height: 0.7;
  font-weight: 700;
  border-radius: 7px;
  width: 160px;
  transition: 200ms;

  span:first-child {
    align-self: flex-end;
    font-size: 1.5rem;
    margin-right: 5px;
    line-height: 0.7;
  }

  span:last-child {
    align-self: flex-start;
    font-size: 1.5rem;
    line-height: 0.7;
  }
}

.price-container-lg {
  width: unset;
  min-width: 300px;
  font-weight: 700;
  line-height: 1;
  font-size: 4.375rem;

  span:first-child {
    font-size: 2.4rem;
    line-height: 1.2;
  }

  span:last-child {
    font-size: 2.4rem;
    line-height: 1.3;
  }

}


.preco-uni-container {
  width: 160px;
}

.consulta-container {
  width: 250px;
}

.quantidade-container {
  width: 188px;
}

.consulta {

  .img-container {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    flex-basis: 70px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
    line-height: 1;
    background: #efaa32;
    background: -moz-linear-gradient(45deg, #efaa32 0%, #ec8522 100%);
    background: -webkit-linear-gradient(45deg, #efaa32 0%, #ec8522 100%);
    background: linear-gradient(45deg, #efaa32 0%, #ec8522 100%);
    transition: 200ms all ease-in;
    border: 0px solid#ffcb3e;

    .img-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 1);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      color: #ff7903;
      padding: 12px;
      transition: 200ms all ease-in;
      object-fit: contain;

      ::ng-deep * {
        width: 100%;
        height: 100%;
        transition: 200ms all ease-in;
        filter: grayscale(0) brightness(1);
        object-fit: contain;
      }

      img {
        width: 100%;
        height: 100%;
        transition: 200ms all ease-in;
        filter: grayscale(0) brightness(1);
        object-fit: contain;
      }

    }
  }

  &.active {

    .price-container,
    h3 {
      color: var(--orange-1);
    }

    .img-container {
      border: 3px solid #ffcb3e;
      padding: 0px;

      .img-wrap {
        /*
                background: #efaa32;
                background: -moz-linear-gradient(45deg, #efaa32 0%, #ec8522 100%);
                background: -webkit-linear-gradient(45deg, #efaa32 0%,#ec8522 100%);
                background: linear-gradient(45deg, #efaa32 0%,#ec8522 100%);
                */
        background-color: rgba(255, 255, 255, 0);

        ::ng-deep * {
          filter: grayscale(1) brightness(2);
        }

        img {
          filter: grayscale(1) brightness(2);
          background: transparent;
        }

      }

    }

  }
}

@media (max-width: 578px) {
  .conheca {
    margin-top: 0px;
    text-align: center;

    h3 {
      font-size: 24px;
    }
  }


}
