<div class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }" >
  <div class="ck-card-title"> <img src="./assets/images/icons-consulta-carcheck/BusinessSVG.svg" style="width: 50px;" >DESVALORIZAÇÃO MÉDIA</div>


  <consulta-msg *ngIf="statusConsulta==5" [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()" ></consulta-msg>


  <div *ngIf="statusConsulta!=5" class="ck-card-body">

    <div class="row no-gutters">
      <ng-container *ngFor="let p of dadosDetalhamento.dadosDesvalorizacao; let i = index;">

        <div class="desvalorizacao-cell" style="border: solid 1px #cbcbcb;">
          <div class="bg-secondary py-1 px-2 text-center">
              <div class="text-center pb-1 fw-400 f-16 " style="color: #ECDA24;margin-top: 5px;">{{p.anoReferencia}}</div>

          </div>

          <div *ngIf="i==0" class="f-16 bg-white">
            <div class="text-center fw-600 bg-price" style="padding-top: 2px ;">{{p.valorAno | currency:'BRL'}}</div>
            <div class="flex-jc flex-ac f-30 fw-700 py-3">
              0KM
             </div>
          </div>

          <div *ngIf="i>0" class="f-16 bg-white">
            <div class="text-center fw-600 bg-price">{{p.valorAno | currency:'BRL'}}</div>
            <div class="text-center py-2 fw-500" style="border: solid 1px #cbcbcb;">
              <i  class="f-20 mdi"
                  [ngClass]="{
                    'mdi-arrow-down-bold-circle text-danger': p.porcentagemRelativaAnoAnterior < 0,
                    'mdi-arrow-up-bold-circle text-success': p.porcentagemRelativaAnoAnterior > 0,
                    'mdi-equal text-orange-1': p.porcentagemRelativaAnoAnterior == 0
                  }"></i>
              {{ p.porcentagemRelativaAnoAnterior | number:'2.2-3' }}%
            </div>
            <div class="text-center py-2 fw-500 bg-white" style="border: solid 1px #cbcbcb;">
              <i class="f-20 mdi mdi-arrow-down-bold-circle text-danger"></i>
              {{ p.porcentagemRelativaValor0km | number:'2.2-3' }}%
            </div>
          </div>
        </div>


      </ng-container>
    </div>
    <div class="f-12 f-text-right p-2 p-md-4"><strong>OBS: A PRIMEIRA LINHA PERCENTUAL É REFERENTE AO ANO ANTERIOR, A SEGUNDA É REFERENTE À DESVALORIZAÇÃO TOTAL</strong></div>
  </div>
</div>
