<section appAppearOnScroll class="sobre-seguros">
  <div class="content">
    <div class="col">
      <div class="container">
        <h2 class="titulo">Tá pensando em comprar um carro?</h2>
        <p class="descricao">
          A gente te ajuda a fazer isso com mais segurança e sem dor de cabeça.
          Conheça nossos novos serviços pensados para facilitar sua vida! 💛
        </p>
      </div>
    </div>
    <div class="col">
      <div class="servicos">
        <div class="servico seguro">
          <h3><i class="fas fa-shield-alt"></i> Seguro de Veículos</h3>
          <p>
            Proteja seu carro com um seguro completo, confiável e acessível.
          </p>
          <h3><i class="fas fa-hand-holding-usd"></i> Financiamento</h3>
          <p>
            Com condições especiais, seu carro novo está mais perto do que
            nunca!
          </p>
          <h3><i class="fas fa-hand-holding-usd"></i> Pagamento de débitos</h3>
          <p>Pague os débitos do seu veículo em ate 21x</p>
          <div class="center">
            <strong>E muito mais em ...</strong>
            <button class="btn btn-primario">
              <a href="/servicos"> Ver serviços </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
