<div id="remarketing" class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">
  <div class="ck-card-title"> <img src="./assets/images/icons-consulta-carcheck/DocumentsSVG.svg" style="width: 50px;" > REMARKETING VEICULAR</div>

  <consulta-msg [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()">

    <div *ngIf="dadosDetalhamento?.ocorrencia.length>0" class="f-16 mb-2">
      <strong>Foram encontrados
        <span class="alertremarketing"> {{dadosDetalhamento.ocorrencia.length}} ocorrência(s) </span> para este veículo.
      </strong>
    </div>

    <div *ngIf="dadosDetalhamento?.ocorrencia.length==0">
      <div class="f-16 mb-2">
        <strong>NÃO CONSTAM OCORRÊNCIAS</strong>
      </div>
      <div>
        Não encontramos nas nossas bases de dados registros de remarketing para este veículo.
      </div>
    </div>

  </consulta-msg>

  <div *ngIf="dadosDetalhamento?.ocorrencia.length>0" class="ck-card-body">

    <div *ngIf="statusConsulta!=5" class="table-responsive">

      <table class="w-100">
        <!-- <tr *ngFor="let obj of dadosDetalhamento.ocorrencia | keyvalue" class="text-orange-1 border-bottom border-orange-1 f-14"> -->
        <tr class="text-orange-1 border-bottom f-14">
          <th class="px-2 fw-600 pb-1">Organizador</th>
          <th class="px-2 fw-600 pb-1">Vendedor</th>
          <!-- <th class="px-2 fw-600 pb-1">Item</th> -->
          <th class="px-2 fw-600 pb-1">Data evento</th>
          <!-- <th class="px-2 fw-500 pb-1">Sit. Chassi</th>
          <th class="px-2 fw-500 pb-1">Cond. Veículo</th>
          <th class="px-2 fw-500 pb-1">Cond. Chassi</th>
          <th class="px-2 fw-500 pb-1">Cond. Motor</th>
          <th class="px-2 fw-500 pb-1">Cond. Câmbio</th>
          <th class="px-2 fw-500 pb-1">Observação</th> -->
        </tr>
        <tr *ngFor="let d of dadosDetalhamento.ocorrencia; let i = index;" [ngClass]="{'bg-silver-light': i%2}">
          <td class="p-2 text-nowrap">{{d.organizador!=null?d.organizador:"----"}}</td>
          <td class="p-2 text-nowrap">{{d.vendedor!=null?d.vendedor:"----"}}</td>
          <!-- <td class="p-2 text-nowrap">{{d.item!=null?d.item:"----"}}</td> -->
          <td class="p-2 text-nowrap">{{d.dataEvento!=null?d.dataEvento:"----"}}</td>
          <!-- <td class="p-2 text-nowrap">{{d.sitChassi!=null?d.sitChassi:"----"}}</td>
          <td class="p-2 text-nowrap">{{d.condVeiculo!=null?d.condVeiculo:"----"}}</td>
          <td class="p-2 text-nowrap">{{d.condChassi!=null?d.condChassi:"----"}}</td>
          <td class="p-2 text-nowrap">{{d.condMotor!=null?d.condMotor:"----"}}</td>
          <td class="p-2 text-nowrap">{{d.condCambio!=null?d.condCambio:"----"}}</td>
          <td class="p-2 text-nowrap">{{d.obs!=null?d.obs:"----"}}</td> -->
        </tr>
      </table>

    </div>

    <div class="flex-ac mb-2 border-bottom border-secondary mt-3 mt-lg-4">
      <div class="svg-20 mb-1 fill-dark mr-3 flex-ac" [inlineSVG]="'relatorio.svg'" [removeSVGAttributes]="['class']"></div>
      <span class="fw-700">DADOS CADASTRAIS</span>
    </div>

    <div class="row no-gutters">
      <!-- <div class="col-12 col-md-6 col-lg-4 mb-2" *ngFor="let y of repeat; let i = index"> -->
      <div *ngIf="dadosDetalhamento.placa!=null && dadosDetalhamento.placa!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Placa:</h4>
        <span>{{dadosDetalhamento.placa!=null?dadosDetalhamento.placa:"----"}}</span>
        <!-- <span>{{i}} Xxxx Xxxxxx </span> -->
      </div>

      <div *ngIf="dadosDetalhamento.chassi!=null && dadosDetalhamento.chassi!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Chassi:</h4>
        <span>{{dadosDetalhamento.chassi!=null?dadosDetalhamento.chassi:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.anoFabricacao!=null && dadosDetalhamento.anoFabricacao!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Ano fabricação:</h4>
        <span>{{dadosDetalhamento.anoFabricacao!=null?dadosDetalhamento.anoFabricacao:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.anoModelo!=null && dadosDetalhamento.anoModelo!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Ano modelo:</h4>
        <span>{{dadosDetalhamento.anoModelo!=null?dadosDetalhamento.anoModelo:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.modelo!=null && dadosDetalhamento.modelo!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Modelo:</h4>
        <span>{{dadosDetalhamento.modelo!=null?dadosDetalhamento.modelo:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.situacaoChassi!=null && dadosDetalhamento.situacaoChassi!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Situação chassi:</h4>
        <span>{{dadosDetalhamento.situacaoChassi!=null?dadosDetalhamento.situacaoChassi:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.combustivel!=null && dadosDetalhamento.combustivel!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Combustível:</h4>
        <span>{{dadosDetalhamento.combustivel!=null?dadosDetalhamento.combustivel:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.cor!=null && dadosDetalhamento.cor!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Cor:</h4>
        <span>{{dadosDetalhamento.cor!=null?dadosDetalhamento.cor:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.segmento!=null && dadosDetalhamento.segmento!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Segmento:</h4>
        <span>{{dadosDetalhamento.segmento!=null?dadosDetalhamento.segmento:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.subSegmento!=null && dadosDetalhamento.subSegmento!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Sub segmento:</h4>
        <span>{{dadosDetalhamento.subSegmento!=null?dadosDetalhamento.subSegmento:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.nrCambio!=null && dadosDetalhamento.nrCambio!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Número câmbio:</h4>
        <span>{{dadosDetalhamento.nrCambio!=null?dadosDetalhamento.nrCambio:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.nrCarroceria!=null && dadosDetalhamento.nrCarroceria!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Número carroceria:</h4>
        <span>{{dadosDetalhamento.nrCarroceria!=null?dadosDetalhamento.nrCarroceria:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.nrEixoTraseiro!=null && dadosDetalhamento.nrEixoTraseiro!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Número eixo traseiro:</h4>
        <span>{{dadosDetalhamento.nrEixoTraseiro!=null?dadosDetalhamento.nrEixoTraseiro:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.quantidadeEixos!=null && dadosDetalhamento.quantidadeEixos!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Quantidade de eixos:</h4>
        <span>{{dadosDetalhamento.quantidadeEixos!=null?dadosDetalhamento.quantidadeEixos:"----"}}</span>
      </div>

    </div>



    <div class="flex-ac mb-2 border-bottom border-secondary mt-3 mt-lg-4">
      <div class="svg-20 mb-1 fill-dark mr-3 flex-ac" [inlineSVG]="'relatorio.svg'" [removeSVGAttributes]="['class']"></div>
      <span class="fw-700">CHECKLIST</span>
    </div>

    <div class="row no-gutters">
      <!-- <div class="col-12 col-md-6 col-lg-4 mb-2" *ngFor="let y of repeat; let i = index">
        <h4>Xxxx Xxxxxx - {{i}}:</h4>
        <span>{{i}} Xxxx Xxxxxx </span>
      </div> -->

      <!-- <div class="col-12 col-md-6 col-lg-4 mb-2" *ngFor="let y of repeat; let i = index"> -->
      <div *ngIf="dadosDetalhamento.checkList.dataInspecao!=null && dadosDetalhamento.checkList.dataInspecao!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Data inspeção:</h4>
        <span>{{dadosDetalhamento.checkList.dataInspecao!=null?dadosDetalhamento.checkList.dataInspecao:"----"}}</span>
        <!-- <span>{{i}} Xxxx Xxxxxx </span> -->
      </div>

      <div *ngIf="dadosDetalhamento.checkList.motor!=null && dadosDetalhamento.checkList.motor!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Motor:</h4>
        <span>{{dadosDetalhamento.checkList.motor!=null?dadosDetalhamento.checkList.motor:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.portaMalas!=null && dadosDetalhamento.checkList.portaMalas!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Porta malas:</h4>
        <span>{{dadosDetalhamento.checkList.portaMalas!=null?dadosDetalhamento.checkList.portaMalas:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.frente!=null && dadosDetalhamento.checkList.frente!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Frente:</h4>
        <span>{{dadosDetalhamento.checkList.frente!=null?dadosDetalhamento.checkList.frente:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.frenteDireita!=null && dadosDetalhamento.checkList.frenteDireita!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Frente direita:</h4>
        <span>{{dadosDetalhamento.checkList.frenteDireita!=null?dadosDetalhamento.checkList.frenteDireita:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.frenteEsquerda!=null && dadosDetalhamento.checkList.frenteEsquerda!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Frente esquerda:</h4>
        <span>{{dadosDetalhamento.checkList.frenteEsquerda!=null?dadosDetalhamento.checkList.frenteEsquerda:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.portaFrenteDireita!=null && dadosDetalhamento.checkList.portaFrenteDireita!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Porta frente direita:</h4>
        <span>{{dadosDetalhamento.checkList.portaFrenteDireita!=null?dadosDetalhamento.checkList.portaFrenteDireita:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.portaFrenteEsquerda!=null && dadosDetalhamento.checkList.portaFrenteEsquerda!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Porta frente esquerda:</h4>
        <span>{{dadosDetalhamento.checkList.portaFrenteEsquerda!=null?dadosDetalhamento.checkList.portaFrenteEsquerda:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.portaTraseiraDireita!=null && dadosDetalhamento.checkList.portaTraseiraDireita!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Porta traseira direita:</h4>
        <span>{{dadosDetalhamento.checkList.portaTraseiraDireita!=null?dadosDetalhamento.checkList.portaTraseiraDireita:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.portaTraseiraEsquerda!=null && dadosDetalhamento.checkList.portaTraseiraEsquerda!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Porta traseira esquerda:</h4>
        <span>{{dadosDetalhamento.checkList.portaTraseiraEsquerda!=null?dadosDetalhamento.checkList.portaTraseiraEsquerda:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.traseiraDireita!=null && dadosDetalhamento.checkList.traseiraDireita!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Traseira direita:</h4>
        <span>{{dadosDetalhamento.checkList.traseiraDireita!=null?dadosDetalhamento.checkList.traseiraDireita:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.traseiraEsquerda!=null && dadosDetalhamento.checkList.traseiraEsquerda!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Traseira esquerda:</h4>
        <span>{{dadosDetalhamento.checkList.traseiraEsquerda!=null?dadosDetalhamento.checkList.traseiraEsquerda:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.ladoDireito!=null && dadosDetalhamento.checkList.ladoDireito!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Lado direito:</h4>
        <span>{{dadosDetalhamento.checkList.ladoDireito!=null?dadosDetalhamento.checkList.ladoDireito:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.ladoEsquerdo!=null && dadosDetalhamento.checkList.ladoEsquerdo!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Lado esquerdo:</h4>
        <span>{{dadosDetalhamento.checkList.ladoEsquerdo!=null?dadosDetalhamento.checkList.ladoEsquerdo:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.pneuFrenteDireita!=null && dadosDetalhamento.checkList.pneuFrenteDireita!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Pneu frente direita:</h4>
        <span>{{dadosDetalhamento.checkList.pneuFrenteDireita!=null?dadosDetalhamento.checkList.pneuFrenteDireita:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.pneuFrenteEsquerda!=null && dadosDetalhamento.checkList.pneuFrenteEsquerda!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Pneu frente esquerda:</h4>
        <span>{{dadosDetalhamento.checkList.pneuFrenteEsquerda!=null?dadosDetalhamento.checkList.pneuFrenteEsquerda:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.pneuTraseiraDireita!=null && dadosDetalhamento.checkList.pneuFrenteDireita!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Pneu traseira direita:</h4>
        <span>{{dadosDetalhamento.checkList.pneuTraseiraDireita!=null?dadosDetalhamento.checkList.pneuTraseiraDireita:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.traseira!=null && dadosDetalhamento.checkList.traseira!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Traseira:</h4>
        <span>{{dadosDetalhamento.checkList.traseira!=null?dadosDetalhamento.checkList.traseira:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.cacamba!=null && dadosDetalhamento.checkList.cacamba!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Caçamba:</h4>
        <span>{{dadosDetalhamento.checkList.cacamba!=null?dadosDetalhamento.checkList.cacamba:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.bancosDianteiros!=null && dadosDetalhamento.checkList.bancosDianteiros!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Bancos Dianteiros:</h4>
        <span>{{dadosDetalhamento.checkList.bancosDianteiros!=null?dadosDetalhamento.checkList.bancosDianteiros:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.bancosTraseiros!=null && dadosDetalhamento.checkList.bancosTraseiros!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Bancos Traseiros:</h4>
        <span>{{dadosDetalhamento.checkList.bancosTraseiros!=null?dadosDetalhamento.checkList.bancosTraseiros:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.forroTeto!=null && dadosDetalhamento.checkList.forroTeto!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Forro teto:</h4>
        <span>{{dadosDetalhamento.checkList.forroTeto!=null?dadosDetalhamento.checkList.forroTeto:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.teto!=null && dadosDetalhamento.checkList.teto!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Teto:</h4>
        <span>{{dadosDetalhamento.checkList.teto!=null?dadosDetalhamento.checkList.teto:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.carenagemDianteira!=null && dadosDetalhamento.checkList.carenagemDianteira!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Carenagem dianteira:</h4>
        <span>{{dadosDetalhamento.checkList.carenagemDianteira!=null?dadosDetalhamento.checkList.carenagemDianteira:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.carenagemDireita!=null && dadosDetalhamento.checkList.carenagemDireita!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Carenagem direita:</h4>
        <span>{{dadosDetalhamento.checkList.carenagemDireita!=null?dadosDetalhamento.checkList.carenagemDireita:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.tanqueCombustivel!=null && dadosDetalhamento.checkList.tanqueCombustivel!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Tanque combustível:</h4>
        <span>{{dadosDetalhamento.checkList.tanqueCombustivel!=null?dadosDetalhamento.checkList.tanqueCombustivel:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.obs!=null && dadosDetalhamento.checkList.obs!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Observação:</h4>
        <span>{{dadosDetalhamento.checkList.obs!=null?dadosDetalhamento.checkList.obs:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.link1!=null && dadosDetalhamento.checkList.link1!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Link1:</h4>
        <span>{{dadosDetalhamento.checkList.link1!=null?dadosDetalhamento.checkList.link1:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.link2!=null && dadosDetalhamento.checkList.link2!='NAO INFORMADO'" class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Link2:</h4>
        <span>{{dadosDetalhamento.checkList.link2!=null?dadosDetalhamento.checkList.link2:"----"}}</span>
      </div>

      <div *ngIf="dadosDetalhamento.checkList.garantia!=null && dadosDetalhamento.checkList.garantia!='NAO INFORMADO'"
        class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Garantia:</h4>
        <span>{{dadosDetalhamento.checkList.garantia!=null?dadosDetalhamento.checkList.garantia:"----"}}</span>
      </div>
    </div>


<!-- retirando IMAGENS de REMARKETING VEICULAR -->
   <!-- <div class="flex-ac mb-2 border-bottom border-secondary mt-3 mt-lg-4">
      <div class="svg-20 mb-1 fill-dark mr-3 flex-ac" [inlineSVG]="'relatorio.svg'" [removeSVGAttributes]="['class']"></div>
      <span class="fw-700">IMAGENS</span>
    </div>
    <div class="row no-gutters">

      <ng-container *ngFor="let obj of dadosDetalhamento.fotosRemarketing | keyvalue">
        <div *ngIf="obj.value!=null && obj.value.trim()!=''" (click)="openImgModal(obj.value)" class="pointer p-1 col-6 col-md-4 col-lg-3">
          <div class="h-100 bg-g-silver img-card-container position-relative">
            <div class="open-modal-img p-2 rounded"> -->
              <!-- --div (click)="closeModal()" class="svg-26 svg-md-30 svg-h-26 m-2 fill-light"
                [inlineSVG]="'search.svg'" [removeSVGAttributes]="['class']"></div------ -->
    <!--          <i class="mdi mdi-arrow-expand f-20 f-md-26 text-white text-light"></i>
            </div>
            <img class="rounded w-100" src="{{obj.value}}" alt="">
          </div>

        </div>
      </ng-container>
    </div> -->
  </div>
</div>

<ck-modal id="imgmodal" class="full-screen">
  <div class="p-1">
    <div class="flex-je">
      <div class="modal-close-container">
        <div (click)="closeModal()" class="svg-26 svg-md-30 svg-h-26 m-2 fill-secondary close-modal-img" [inlineSVG]="'x-circle.svg'"
          [removeSVGAttributes]="['class']"></div>
      </div>
    </div>
    <div>
      <img class="rounded" src="{{imgModal}}" alt="">
    </div>
  </div>
</ck-modal>
