<ck-page-loading [loading]="loadingTela" text="Carregando..."></ck-page-loading>

@if (!loadingTela) {
<h1 class="ck-h1 mb-0">
  <span class="fw-700 mr-2">HISTÓRICO</span>
  <span class="fw-400 mr-2">DE</span>
  <span class="fw-400">CONSULTAS</span>
</h1>

<consultas-disponiveis></consultas-disponiveis>
<div *ngIf="usuario?.cliente?.clienteAntigo==true" class="container mb-md-3 mt-3">
  <div class="rounded border-solid border-2 text-dark border-orange-1 p-2">

    <div class="flex-ac mb-md-1">
      <div class="svg-w-30 svg-w-sm-36 fill-orange-1 mr-3" [inlineSVG]="'alert-circle.svg'"
        [removeSVGAttributes]="['class']"></div>
      <h2 class="f-18 f-md-20 text-orange-1">Olá, o Carcheck Brasil mudou!</h2>
    </div>
    <div>
      <div class="f-14 f-md-16">
        Seus créditos que ainda restam e suas consultas antigas podem ser acessadas na versão antiga do Carcheck Brasil:
        <a class="text-orange-1" target="_blank" href="http://v2.carcheckbrasil.com.br">
          <strong>Clique aqui</strong>
        </a>. Suas novas consultas só podem ser compradas por aqui.
        <br>
        Agradecemos a compreensão!
      </div>
    </div>

  </div>
</div>

<div class="container py-4 pb-md-5 pt-3">

  <div class="form-container">
    <div *ngIf="escondeBotaoFiltro==false" class="search-section">
      <ck-input class="search-input" [label]="'Placa'" [mask]="maskPlaca" [(control)]="form.controls.placa"></ck-input>
      <button (click)="pesquisar()" class="btn btn-orange-1 filter-btn">Filtrar</button>
    </div>
    <div class="new-consultation-section">
      <a [routerLink]="['/realizar-consultas']" class="btn btn-novaconsulta w-100 btn-lg">Nova consulta</a>
    </div>
  </div>

  <div class="banner container" style="
margin: auto;
align-content: center;
">
    <app-banner-vistoria></app-banner-vistoria>
  </div>

  <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown($event)"
    (scrolledUp)="onUp($event)">

    <div class="mt-5 row no-gutters">
      <ng-container *ngFor="let c of consultas; let i = index">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-1 p-md-3">
          <historico-card [consulta]="c"></historico-card>
        </div>
      </ng-container>
    </div>

    <div appAppearOnScroll *ngIf="novoUsuario" class="novo-usuario-container">
      <div class="novo-usuario-card">
        <h1 class="novo-usuario-title">Olá, {{ firstName() }}!</h1>
        <p class="novo-usuario-message">Parece que você ainda não realizou nenhuma consulta ainda.</p>
        <button class="compra-consulta-button" [routerLink]="['/processo-compra-multipla']">
          Compre sua consulta aqui
        </button>
      </div>
    </div>
    <div appAppearOnScroll *ngIf=" novoUsuarioComCredito" class="novo-usuario-container">
      <div class="novo-usuario-card">
        <h1 class="novo-usuario-title">Olá, {{ firstName() }}!</h1>
        <p class="novo-usuario-message">Você tem créditos para consultar</p>
        <button class="compra-consulta-button" [routerLink]="['/realizar-consultas']">
          Realize sua consulta aqui
        </button>
      </div>
    </div>


    <div *ngIf="loadingScroll" class="loading-scroll-container">
      <div class="loading-spinner">
        <div class="spinner"></div>
        <p class="loading-text">Carregando mais consultas...</p>
      </div>
    </div>

  </div>


</div>
}
