<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body style="background-color: gray; margin: 0px">
        <table style="width: 600px; background-color: white; border: 0; border-spacing:0; font-family: 'Montserrat', sans-serif; margin: auto;" align="center">
            <tr>
              <tr>
                <td colspan="2">
                    <div style="background-color: black; margin-top: 0px;  text-align: center;">
                        <a target="_blank" href="{{urlSite}}" class="custom-logo-link py-2" [ngClass]="{'py-3': !logIn.status}" rel="home" itemprop="url">
                          <img src="https://carcheckbrasil.com.br/assets/images/logos/Carcheck_Logos-07.png" height="45px" class="icon-logo" alt="logo Carcheck Brasil">
                          <img src="https://carcheckbrasil.com.br/assets/images/logos/Carcheck_Logos-05.png" height="55px" class="custom-logo" alt="Carcheck Brasil">
                        </a>
                        <p style="color:white;font-size: 20px;margin-top: 0;padding-top: 30px; padding-bottom: 10px; margin-bottom: 0;"">Aqui esta sua consulta do <a style="text-decoration: none;" target="_blank" href="https://www.carcheckbrasil.com.br/"><strong style="color: #ecda26; font-size: 23px;">Carcheck Brasil</strong></a></p>
                    </div>
                </td>
            </tr>
                <td colspan="2">
                    <div style="background-color: #fdfdfd; width: 600px;" align="center">
                      <div class="col-12 col-lg-7 px-0 px-md-5">
                        <div class="consulta-teste d-flex bg-light">
                          <div class="image-header" style="background-color: black ; ">
                            <img src="https://carcheckbrasil.com.br/assets/images/consulta.png" alt="" height="150px">
                          </div>
                          <div class="py-4 pl-lg-5 pl-lg-5 px-3 px-sm-4 d-flex flex-column">
                            <h1 class="f-26 f-md-36" style="background-color: #ecda26; color:#243646; font-weight: bolder; margin-top: 3px;">
                              {{dadosVeiculo?.placa}}
                            </h1>
                            <div class="row no-gutters h-100 f-14 f-sm-16">
                              <h4 class="fw-500 text-default f-14 f-sm-16 m-0 col-3" style="font-size: larger; color: #243646;" >Modelo</h4>
                              <div class="col-12 col-md-9">{{dadosVeiculo?.modelo}}</div>
                              <h4 class="fw-500 text-default f-14 f-sm-16 m-0 col-3" style="font-size: larger; color: #243646;">Cor</h4>
                              <div class="col-12 col-md-9">{{dadosVeiculo?.corVeiculo}}</div>
                              <h4 class="fw-500 text-default f-14 f-sm-16 m-0 col-3" style="font-size: larger; color: #243646;">Ano</h4>
                              <div class="col-12 col-md-9">{{dadosVeiculo?.anoFabricacao}}/{{dadosVeiculo?.anoModelo}}</div>
                              <h4 class="fw-500 text-default f-14 f-sm-16 m-0 col-3" style="font-size: larger; color: #243646;">Chassi</h4>
                              <div class="col-12 col-md-9">{{dadosVeiculo?.chassi}}</div>
                            </div>
                          </div>
                        </div>
                      </div>

                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="width: 80%; padding: 0px 20px; padding-bottom: 0px; padding-top: 30px; text-align: center; margin: auto;">
                        <p style="color: #eb0000;margin-bottom: 0px;font-weight: bolder;font-size: large;">
                            Identificamos mais informações sobre este veiculo!!!
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <div style="width: 80%; padding-top: 0px; padding-bottom: 0px;text-align: center;margin: auto;">
                        <div class="consulta"
                           style="border: 1px solid #EEE;padding: 15px;border-radius: 20px;box-shadow: 7px 7px 10px 4px #e1d9d9;background: #FFF;display: table;width: 60%;display: flex;flex-direction: column;flex-wrap: nowrap;align-content: center;margin-top: 10px;margin-left: 79px;">
                           <h3 class="label"
                           style=" background: linear-gradient(90deg, rgba(32,139,135,1) 0%, #244b5a 100%); border-radius: 20px; color: white;"
                            >RECOMENDADA</h3>
                          <div class="logo_premio"><img src="https://carcheckbrasil.com.br/assets/images/card-consulta.jpeg" style="height:90px !important"></div>
                          <h3>Consulta Veicular Completa</h3>
                          <p>Os dados mais completos para você </p>
                          <p class="preco"><b>R$ 39,90</b></p>
                          <a href="https://www.carcheckbrasil.com.br/consulta-placa-completa/" target="_blank" rel="noopener noreferrer">Mais detalhes</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <div style="width: 80%; padding: 20px 20px; padding-bottom: 25px;text-align: center;margin: auto;">
                          <p style="color:#343a40; margin-bottom: 20px;">
                            Conheça nossas consultas!
                        </p>
                        <a href="https://www.carcheckbrasil.com.br/consulta-placa-veiculo/" target="_blank" style="text-decoration: none; border: 0;border-radius: 20px;background: #ecda26;color:#243646;width: 120px; padding: 10px 60px;text-align: center;margin: auto;">
                            CLIQUE AQUI
                        </a>
                    </div>
                </td>
            </tr>
            <tr style="background-color: #243646; background: linear-gradient(90deg, #243646 0%, #244b5a 100%);">
                <td style="padding: 12px 0px;">
                    <div style="text-align: left; padding-left: 30px" align="left">
                        <a style="color: white; font-size: 16px;text-decoration: none;" target="_blank" href="https://www.carcheckbrasil.com.br/">
                            www.carcheckbrasil.com.br
                        </a>
                    </div>
                </td>
                <td>
                    <div style="text-align: right; padding-right:30px" align="right">
                        <a style="text-decoration: none;margin-right: 10px" href="https://www.facebook.com/carcheckbrasil/" target="_blank">
                            <img style="width: 25px;" src="https://carcheckbrasil.com.br/assets/images/face.png" alt="Facebook">
                        </a>
                        <a style="text-decoration: none;margin-right: 10px;margin-left: 10px" href="https://www.instagram.com/carcheckbrasil/" target="_blank">
                            <img style="width: 25px;" src="https://carcheckbrasil.com.br/assets/images/insta.png" alt="Instagram">
                        </a>
                        <a style="text-decoration: none;margin-left: 10px" href="https://twitter.com/carcheckbrasil/" target="_blank">
                            <img style="width: 25px;" src="https://carcheckbrasil.com.br/assets/images/twitter.png" alt="Twitter">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <div style="width: 80%; padding: 15px 20px; padding-bottom: 0px;text-align: center;margin: auto;">
                        <p style="color:#343a40; margin-bottom: 0px; font-size: 12px;">
                            Atendimento via chat e whatsapp de segunda a sexta - 9h00 às 18:00
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
            	<td>
                    <div style="text-align: center; margin-top: 20px">
                        <a style="text-decoration: none;" target="_blank" align="left" href="https://api.whatsapp.com/send?phone=5527998281914">
                            <img style="width: 20px; vertical-align: middle;" src="https://carcheckbrasil.com.br/assets/images/whatsapp.png" alt="Whatsapp">
                            <span style="color: #343a40; font-size: 16px; padding-left: 10px" align="left">(27) 9 9828-1914</span>
                        </a>
                    </div>
                </td>
                <td>
                    <div style="text-align: center; margin-top: 20px">
                        <a style="text-decoration: none;" target="_blank" align="right" href="mailto:contato@carcheckbrasil.com.br">
                            <img style="width: 20px; vertical-align: middle;" src="https://carcheckbrasil.com.br/assets/images/email.png" alt="E-mail">
                            <span style="color: #343a40; font-size: 16px; padding-left: 10px" align="left">contato@carcheckbrasil.com.br</span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <div style="width: 80%; padding: 15px 20px; padding-bottom: 20px;text-align: center;margin: auto;">
                        <p style="color:#343a40; margin-bottom: 0px; font-size: 12px;">
                        	O Carcheck Brasil é uma ferramenta que visa maior segurança na negociação de veículos usados, permitindo ao consumidor analisar vários indicadores de segurança além da trajetória do veículo desde o seu primeiro registro junto aos órgãos competentes até o dia da aquisição.
                        </p>
                    </div>
                </td>
            </tr>
        </table>
</body>
</html>
