<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <title>Carcheck Brasil</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
  </style>

</head>

<body style="
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 13px;
  color: #303030;
  background-color: #EDF1F9;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  line-height: 1.6em;
">
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td></td>
        <td style="
          display: block !important;
          max-width: 620px !important;
          margin: 0 auto !important;
          clear: both !important;
          padding: 40px 0 0;">
          <div>

            <!--====================================================================-->
            <table width="100%">
              <tbody>
                <tr>
                  <td style="text-align: left; padding-bottom: 20px;">
                    <a href="https://www.carcheckbrasil.com.br" target="_blank"><img
                        src="https://carcheckbrasil.com.br/assets/images/logos/Carcheck_Logos-08.png" draggable="false" width="190"
                        style="width: 100% !important; max-width: 190px !important;"></a>
                  </td>
                  <td>
                    <li style="list-style-type: none; text-align: right; padding-bottom: 10px"><a
                        href="https://www.facebook.com/carcheckbrasil/" target="_blank"><img style="width: 30px;"
                          src="https://carcheckbrasil.com.br/assets/images/face.png"></a>
                      <a href="https://www.instagram.com/carcheckbrasil/" target="_blank"><img style="width: 30px;"
                          src="https://carcheckbrasil.com.br/assets/images/insta.png"></a>

                    </li>
                  </td>
                </tr>
              </tbody>
            </table>

            <!--====================================================================-->


            <div style="text-align: center; height: 80px;">
                <img alt="Pesquisa Vistoria Veicular" src="file:///C:/Users/Paulo%20Sergio/Downloads/banner-lg.jpg"
                  draggable="false" width="650" style="width: 100% !important; max-width: 650px !important;">
            </div>


            <div style="text-align: left; background-color: #fff; padding: 30px;font-size: 14px; line-height: 24px;">
              <h1 style="font-size: 24px; padding-bottom: 30px;">Já ouviu falar em Vistoria Veicular?</h1>
              <p>A vistoria é essencial para quem quer vender ou comprar um
                veículo, pois gera segurança na negociação. Ainda assim, contratar esse serviço não é tão comum entre os
                brasileiros.
                <p><b>Notícia em primeira mão para você: Vistoria Veicular Carcheck Brasil!</b></p>
                <p>Estamos lançando esse novo serviço e bolamos uma pesquisa para entender melhor como nossos clientes
                  veem
                  a vistoria veicular. Você poderia responder? É bem rápido!</p>

                <p style="text-align: center; font-size: 15px; padding: 0px 90px;"><b><br> RESPONDA ATÉ DIA 28/04/2020 E JÁ GARANTA 15% DE DESCONTO NA VISTORIA CARCHECK</p></b>

              </p>

              <div style="padding-top:5px; background-color: #fff; text-align: center;">
                <a style="margin: 10px 0px 30px 0px;
            padding: 10px 40px ;
            vertical-align: middle;
            text-decoration: none;
            color: #244b5a;
            font-size: 16px;
            background-color: #ecda26;
            line-height: 2em;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            border-radius: 10px;" href="https://docs.google.com/forms/d/e/1FAIpQLSeyRvKV_MWs8Cxt7eeNwE4HA6u7N-craX4GTxh5-QoNf3oJ5w/viewform" target="_blank">CLIQUE PARA RESPONDER</a>

              </div>
              <p>Não se preocupe! A pesquisa é totalmente segura e seus dados não serão divulgados.
                Contamos com você. 😊</p>
              <p style="color: #244b5a;"><b>Até a próxima!</b></p>
            </div>

          </div>
        </td>
      </tr>
    </tbody>
  </table>



</body>

</html>