<section appAppearOnScroll class="sobre consulta-veicular-section">
  <div class="col-md-6 pull-right">
    <img
      src="./assets/images/lading-page/comofunciona.png"
      alt="Galeria de imagens com carros"
    />
  </div>
  <div class="col-md-6 my-4 sobre-texto">
    <h2>Consultas Veiculares</h2>
    <p>
      As consultas veiculares Carcheck Brasil proporcionam uma negociação mais
      segura na compra do veículo usado. Afinal, antes de fechar negócio, é
      possível analisar indicadores de segurança, informações de seguradoras,
      além das condições atuais e rodagem junto aos órgãos competentes. Com a
      consulta da placa, você também pode se prevenir de eventuais problemas na
      compra, além de eventuais irregularidades que possam existir no veículo
      consultado. Atuamos diretamente na decisão de milhares de compradores
      todos os dias.
    </p>
    <div id="botoes_sobre">
      <a routerLink="/consulta-placa-veiculo" class="btn">Tenho interesse</a>
      <button (click)="scrollToElement()" class="btn bg_azul white">
        Como funciona
      </button>
    </div>
  </div>
</section>
