<div class="chart-bar-data">
<div class="bars-container">
  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="label">2015</div>
</div>
<div class="bars-container">
  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="label">2015</div>
</div>

<div class="bars-container">
  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="label">2015</div>
</div>
<div class="bars-container">
  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="label">2015</div>
</div>
<div class="bars-container">
  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="label">2015</div>
</div>
</div>

<div class="grid">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>