@import 'functions', 'variables', 'mixins/breakpoints';

:host{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 10px auto;
}


.tab{
    border: none;
    text-decoration: none;
    padding: 7px 25px;
    margin: 0px 5px;
    background: none;
    position: relative;
    font-weight: 600;
    color: rgba(0,0,0,0.58);
    box-shadow: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms all ease-in;

    &.active{
        color: #ecda26;
        background-color: #243646;
    }

    &.active:after{
        content: '';
        position: absolute;
        top: 100%;
        left: 0px;
        height: 5px;
        width: 100%;
        color: #243646;
        background: #243646;
        //background: linear-gradient(to right,#243646 0%, #243646 20%, #243646 50%, #243646 80%, #243646 100%);

    }
    .icon{
        margin-right: 7px;
    }
}


@include media-breakpoint-down(md) {
    .tab{
        padding: 5px 7px;

        &.active:after{
            height: 3px;
        }
    }
}
