<input id="{{id}}"
[textMask]="mask"
[formControl]="control"
[ngClass]="{'border-danger': (control.invalid) && control.touched==true}"
type="{{ passwordShow ? 'text' : type }}"
class="text-dark f-16 fw-400"
placeholder=" "
autocomplete="nope">
<label *ngIf="label" for="{{id}}" [ngClass]="{'text-danger': control.errors!=null && control.touched==true, 'active': control.value != ''}">{{label}}</label>
<button tabindex="-1" class="btn-togglepassword text-orange-1 fw-700 f-12" *ngIf="togglePassword" (click)="passwordShow=!passwordShow">
    {{ passwordShow ? 'ocultar' : 'mostrar' }}
</button>
<div *ngIf="control.errors != null && control.touched" class="msg text-danger f-12 fw-500">
       <span [hidden]="!control.errors.required">
            Campo obrigatório.
       </span>
       <span [hidden]="!control.errors.email">
            Email inválido.
       </span>
       <span [hidden]="!control.errors.cpf">
            Cpf inválido.
       </span>
       <span [hidden]="!control.errors.cnpj">
            Cnpj inválido.
       </span>
       <span [hidden]="!control.errors.nome">
          Nome deve ser completo.
       </span>
       <span [hidden]="!control.errors.minlength">
            Mínimo de {{control.errors.minlength?.requiredLength}} caracteres requeridos, {{control.errors.minlength?.actualLength}} informados.
       </span>
       <span [hidden]="!control.errors.maxlength">
            Máximo de {{control.errors.maxlength?.requiredLength}} caracteres, {{control.errors.maxlength?.actualLength}} informados.
       </span>
       <span [hidden]="!control.errors.password">
            Senha incorreta.
       </span>
       <span [hidden]="!control.errors.equal">
            Dados não conferem.
       </span>
       <span [hidden]="!control.errors.msg">
            {{control.errors.msg}}
       </span>
</div>

<div *ngIf="loading" class="loading">
    <i class="mdi mdi-loading rotate text-secondary f-26 animation-speed-2000"></i>
</div>
