<div *ngIf="dadosDetalhamento.ocorrencia.length>0" class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }" >
  <div class="ck-card-title"><img src="./assets/images/icons-consulta-carcheck/BusinessSVG.svg" style="width: 50px;" > TABELA FIPE</div>
  <consulta-msg *ngIf="statusConsulta==5" [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()" ></consulta-msg>

  <div *ngIf="statusConsulta!=5" class="ck-card-body table-responsive">

    <table class="w-100 px-3">
      <tr class="text-orange-1 border-bottom f-14">
        <th class="px-2 pb-1">
          Modelo
        </th>
        <th class="px-2 pb-1">
          Fabricante
        </th>
        <th class="px-2 pb-1">
          Ano
        </th>
        <th class="px-2 pb-1">
          Combustível
        </th>
        <th class="px-2 pb-1">
          Preço fipe
        </th>
        <th class="px-2 pb-1">
          Preço médio
        </th>
        <th class="px-2 pb-1">
          Código
        </th>
      </tr>
      <tr *ngFor="let d of dadosDetalhamento.ocorrencia; let i = index;" [ngClass]="{'bg-silver-light': i%2}">
        <td class="p-2 ">{{d.modeloFipe}}</td>
        <td class="p-2 ">{{d.fabricanteFipe}}</td>
        <td class="p-2 ">{{d.anoModeloFipe}}</td>
        <td class="p-2 ">{{d.combustivelFipe}}</td>
        <td class="p-2 ">{{d.precoFipe}}</td>
        <td class="p-2 ">{{d.precoMedio}}</td>
        <td class="p-2 ">{{d.codigoFipe}}</td>
      </tr>
    </table>

  </div>
</div>
