<section appAppearOnScroll id="noticias" class="bg_amarelo">
  <div class="container">
    <h2 class="p-3">Blog Carcheck Brasil</h2>
    <div class="row">
      <div class="col-md-6" *ngFor="let post of this.posts">
        <div class="imagem">
          <a href="blog/{{ post.id }}/{{ post.slug }}"
            ><img
              width="500"
              height="250"
              src="{{ post.linkImg }}"
              alt="{{ post.titulo }}"
              class="attachment-blog_capa size-blog_capa wp-post-image"
              decoding="async"
              fetchpriority="high"
          /></a>
        </div>
        <h3>
          <a href="/blog/{{ post.id }}/{{ post.slug }}">{{ post.titulo }} </a>
        </h3>
      </div>
    </div>

    <div class="clear"></div>
    <br /><a href="/blog" class="btn bg_azul branco">Ver todas as postagens</a
    ><br />
  </div>
</section>
