
.logo-marca-container{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-circle{
    width: 130px;
    height: 130px;
    min-width: 130px;
    min-height: 130px;
    border-radius: 50%;
    background: #ecda26;
    background: linear-gradient(to right,  #efdf35 0%,#ecda26 59%,#fbe920 100%);
    overflow: hidden;
    object-fit: cover;
    padding: 4px;
}

.img-circle img{
    background: white;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
