<div *ngIf="status==5" class="flex-ac p-2 p-md-4 flex-column flex-md-row">
  <div class="flex-ac w-100">
    <div class="svg-w-40 svg-w-sm-50 svg-w-md-60 svg-w-lg-70 fill-danger" [inlineSVG]="'perigo.svg'" [removeSVGAttributes]="['class']"></div>
    
      <div class="mx-2 mx-lg-4 pr-2 w-100">
        <p [hidden]="statusVeiculo!=0"  class="p-0 f-14 f-md-16 m-0 fw-500">
          Infelizmente a base de dados buscada para esta informação obteve falha durante a consulta.
          <br>
          <span class="text-orange-1">Fique calmo!</span>
          Espere alguns minutos e clique no botão ao lado para recarregar a consulta.
        </p>

        <p [hidden]="statusVeiculo!=2"  class="p-0 f-14 f-md-16 m-0 fw-500">
          Infelizmente a base de dados buscada para as informações de dados do veículo obteve falha durante a consulta.
        </p>

        <p [hidden]="statusVeiculo!=1"  class="p-0 f-14 f-md-16 m-0 fw-500">
          Consulta sem dados do veículo.
        </p>

        <p [hidden]="statusReload!=2" class="p-0 m-0 text-danger fw-500">

          Aparentemente a base de dados esta offline, aguarde e tente novamente mais tarde.

        </p>
        <ng-content></ng-content>
      </div>
    
  </div>
  <button [hidden]="statusVeiculo==1 || statusVeiculo==2" [disabled]="statusReload==1" (click)="reload()" class="btn btn-orange-1 flex-ac py-0 mt-2 mt-md-0 align-self-end  align-self-md-center">
    <div class="svg-w-20 fill-light flex-ac mr-2 py-1" [ngClass]="{'rotate': statusReload==1}" [inlineSVG]="'reload.svg'" [removeSVGAttributes]="['class']"></div>
    <div>Recarregar</div>
  </button>
</div>

<div *ngIf="status!=5" class="flex-ac p-2 p-md-4">
  <div *ngIf="status==0" class="svg-w-40 svg-w-sm-50 svg-w-md-60 svg-w-lg-70 fill-success" [inlineSVG]="'check-circle.svg'"
    [removeSVGAttributes]="['class']"></div>
  <div *ngIf="status==1" class="svg-w-40 svg-w-sm-50 svg-w-md-60 svg-w-lg-70 fill-orange-1" [inlineSVG]="'alert-circle.svg'"
    [removeSVGAttributes]="['class']"></div>
  <div *ngIf="status==2" class="svg-w-40 svg-w-sm-50 svg-w-md-60 svg-w-lg-70 fill-danger" [inlineSVG]="'x-circle.svg'" [removeSVGAttributes]="['class']"></div>
  <div *ngIf="status==4" class="svg-w-40 svg-w-sm-50 svg-w-md-60 svg-w-lg-70 fill-info" [inlineSVG]="'info-circle.svg'" [removeSVGAttributes]="['class']"></div>
  <div class="ml-2 ml-sm-3 ml-md-4 w-100">
    <ng-content></ng-content>
  </div>
</div>