#conteudo {
  padding-bottom: 40px;
}

.padding-60 {
  padding: 120px 0;
}

.btn {
  background: #ecda26;
  color: #244b5a;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}

.branco,
.branco * {
  color: white !important;
}

.bg_azul {
  background: #304d5a !important;
}

.azul,
.azul * {
  color: #304d5a !important;
}

.label {
  background: rgb(32, 139, 135);
  background: linear-gradient(90deg, rgba(32, 139, 135, 1) 0%, #244b5a 100%);
  color: #FFF;
  padding: 8px 0;
  font-size: 14px;
  float: left;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  margin: 0 0 20px;
}

.de {
  text-decoration: line-through;
  color: #111111;
}

.preco {
  font-size: 35px;
  color: #244b5a;
}

.consulta {
  border: 1px solid #EEE;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #eee;
  background: #FFF;
  display: table;
  width: 90%;
}

.promocional-text {
  position: static;
  background: linear-gradient(90deg, #208b87 0%, #244b5a 100%);
  color: #FFF;
  padding: 7px 24px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  font-weight: bold;
}

.promocional {
  background: linear-gradient(90deg, rgba(32, 139, 135, 1) 0%, #244b5a 100%);
  color: #FFF;
  padding: 5px 0;
  font-size: 15px;
  width: 61%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  font-weight: bold;
  position: sticky;
}

.promocional::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0px;
  right: 0px;
  bottom: -1px;
  border-radius: 10px;
  background: red;
  background-size: 200% 200%;
  animation: led-glow 1s linear infinite;
  z-index: -1;
}

@keyframes led-glow {

  0%,
  100% {
    opacity: 0;
    /* Invisible at the start and end */
  }

  50% {
    opacity: 1;
    /* Fully visible at the middle */
  }
}
