.video-sobre-container{
    height: 40vw;
    width: 50vw;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #556;
    border-radius: 0% 0% 0% 90%;
    margin-left: auto;
    overflow: hidden;
    padding-left: 100px;
    transition: 600ms ease-in width, 600ms ease-in height, 600ms ease-in margin-left, 700ms ease-out border-radius;
}

.video-sobre-container .mdi{
    font-size: 80px;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    transition:  all 200ms ease-in-out, visibility 0ms 0ms ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-sobre-container .mdi.close{
    position: absolute;
    top: 40px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: 36px;
    visibility: hidden;
    opacity: 0;
}

.video-sobre-container.open:hover .mdi.close{
    visibility: visible;
    opacity: 1;
}

.video-sobre-container:hover .mdi{
    color: rgba(255,255,255,1);
    text-shadow: 0px 0px 20px rgba(0,0,0,0.75);
}

.video-sobre-container:hover .mdi:active{
    text-shadow: none;
    color: rgba(255,255,255,0.4);
}

.video-sobre-container.open{
    height: calc(100vh - 203px);
    width: 100%;
    border-radius: 0% 0% 0% 0%;
    padding-left: 0px;
    transition: 400ms ease-in width, 400ms ease-in height, 400ms ease-in margin-left, 700ms ease-in border-radius;
}

.sobre-text-container{
    width: 40%;
    min-width: 320px;
    padding: 100px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    height: calc(100vh - 203px);
}

.video-sobre-container iframe{
    visibility: hidden;
    display: none;
    opacity: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    transition: 400ms 400ms visibility ease-out;
}

.video-sobre-container.open iframe{
    visibility: visible;
    display: block;
    opacity: 1;
}

.video-sobre-container.open #openvideosobre{
    display: none;
}

@include media-breakpoint-down(md) {
    
    .sobre-text-container{
        max-width: 100%;
        width: 100%;
        padding: 15px 0px;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;
        height: auto;
    }

    .sobre-text-container h1{
        font-size: 32px;
        color: #000;
    }

    .video-sobre-container, .video-sobre-container.open {
        width: 100%;
        max-width: 100vw;
        height: calc(100vw / 1.81);
        border-radius: 0px;
        padding: 0px;
        position: relative;
    }

    /*.video-sobre-container .mdi, .video-sobre-container .mdi.close{
        display: none;
    }*/

}