@use "../bootstrap/_variables" as *;
@use "../bootstrap/mixins/breakpoints" as *;
@use "sass:color";
@use "animations";
@use "nav-dropdown";
@use "input-form";
@use "../bootstrap/utilities/svg";
//@use "sobre";
//@use "steps";
//@use "steps-help";
//@use "card-tipo-consulta";
//@use "card-consulta";
//@use "footer";
//@use "blog-pagination";
//@use "helpers";

.roboto-mono {
  font-family: "Caros";
}

.mdi,
.mdi:before,
.mdi:after {
  line-height: 1;
}

.border-solid {
  border-style: solid;
}

.pointer {
  cursor: pointer;
}

.check-md,
.radio-md {
  width: 17px;
  max-width: 17px;
  min-width: 17px;
  height: 17px;
  min-height: 17px;
  max-height: 17px;
}

.bg-g-orange {
  background: #ecda26;
  background: -moz-linear-gradient(left, #243646 0%, #244b5a 59%, #c7c7c8 100%);
  background: -webkit-linear-gradient(
    left,
    #243646 0%,
    #244b5a 59%,
    #c7c7c8 100%
  );
  background: linear-gradient(to right, #243646 0%, #244b5a 59%, #c7c7c8 150%);
}

.bg-g-orange-reverse {
  background: #ecda26;
  background: -moz-linear-gradient(left, #243646 0%, #244b5a 59%, #c7c7c8 100%);
  background: -webkit-linear-gradient(
    left,
    #243646 0%,
    #244b5a 59%,
    #c7c7c8 100%
  );
  background: linear-gradient(to right, #243646 0%, #244b5a 59%, #c7c7c8 230%);
}

.bg-g-orange-vertical {
  background: #f4e64c;
  background: -moz-linear-gradient(left, #243646 0%, #244b5a 59%, #c7c7c8 100%);
  background: -webkit-linear-gradient(
    left,
    #243646 0%,
    #244b5a 59%,
    #c7c7c8 100%
  );
  background: linear-gradient(to right, #243646 0%, #244b5a 59%, #c7c7c8 150%);
}

.bg-g-red {
  background: #f22815;
  background: -moz-linear-gradient(left, #f22815 0%, #d32121 100%);
  background: -webkit-linear-gradient(left, #f22815 0%, #d32121 100%);
  background: linear-gradient(to right, #f22815 0%, #d32121 100%);
}

.bg-g-red-reverse {
  background: #d32121;
  background: -moz-linear-gradient(left, #d32121 0%, #f22815 100%);
  background: -webkit-linear-gradient(left, #d32121 0%, #f22815 100%);
  background: linear-gradient(to right, #d32121 0%, #f22815 100%);
}

.bg-g-red-vertical {
  background: #d32121;
  background: -moz-linear-gradient(top, #d32121 0%, #f22815 100%);
  background: -webkit-linear-gradient(top, #d32121 0%, #f22815 100%);
  background: linear-gradient(to bottom, #d32121 0%, #f22815 100%);
}

.bg-g-red-vertical-reverse {
  background: #f22815;
  background: -moz-linear-gradient(top, #f22815 0%, #d32121 100%);
  background: -webkit-linear-gradient(top, #f22815 0%, #d32121 100%);
  background: linear-gradient(to bottom, #f22815 0%, #d32121 100%);
}

.bg-g-silver {
  background: #c1c1c1;
  background: -moz-linear-gradient(left, #d0d0d0 0%, #c1c1c1 59%, #b9b9b9 100%);
  background: -webkit-linear-gradient(
    left,
    #d0d0d0 0%,
    #c1c1c1 59%,
    #b9b9b9 100%
  );
  background: linear-gradient(to right, #d0d0d0 0%, #c1c1c1 59%, #b9b9b9 100%);
}

.bg-g-silver-reverse {
  background: #c1c1c1;
  background: -moz-linear-gradient(left, #b9b9b9 0%, #c1c1c1 41%, #d0d0d0 100%);
  background: -webkit-linear-gradient(
    left,
    #b9b9b9 0%,
    #c1c1c1 41%,
    #d0d0d0 100%
  );
  background: linear-gradient(to right, #b9b9b9 0%, #c1c1c1 41%, #d0d0d0 100%);
}

.bg-g-silver-vertical {
  background: #c1c1c1;
  background: -moz-linear-gradient(top, #b9b9b9 0%, #c1c1c1 41%, #d0d0d0 100%);
  background: -webkit-linear-gradient(
    top,
    #b9b9b9 0%,
    #c1c1c1 41%,
    #d0d0d0 100%
  );
  background: linear-gradient(to bottom, #b9b9b9 0%, #c1c1c1 41%, #d0d0d0 100%);
}

.ck-scroll {
  &::-webkit-scrollbar {
    width: 7px;
    background: $gray-200;
  }

  &::-webkit-scrollbar-track {
    padding: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange-1;
    outline: none;
    border-radius: 2px;
    border: 1px solid white;
  }
}

.ck-card-red {
  background: white;
  border-radius: 5px;
  border: 0.5px solid #97161a;

  .ck-card-title-red {
    // padding: .45rem 0.15rem .20rem;
    // font-size: 1.125rem;
    padding: 20px;
    font-size: 30px;
    min-height: 35px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    background: #97161a;
    width: 100%;
    text-align: center;
    line-height: 1;
    .ck-card-body {
      padding: 1rem 1rem;
      width: 100%;
      line-height: 1;
    }
  }

  .ck-card-body {
    padding: 1rem 1rem;
    width: 100%;
    line-height: 1;
  }

  .list-inline {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    list-style: none;
    // text-decoration: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
  }

  .list-inline li {
    padding: 5px 0px 5px 0px;
  }

  .list-inline h4,
  h4 {
    // font-weight: bold;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    color: #61707c;
    text-transform: uppercase;
  }

  .list-inline h4 {
    margin-right: 7px;
    text-align: right;
    display: inline-block;
  }

  span {
    color: #243646;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.ck-card {
  background: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0.5px solid #243646a1;

  //teste
  // border: grey solid 0px;
  border-radius: 20px;
  // padding: 10px;
  margin-bottom: 45px;
  box-shadow: 6px 6px 20px 1px #d9d7d7;

  .ck-card-title {
    // padding: .45rem 0.15rem .20rem;
    // font-size: 1.125rem;
    // background: linear-gradient(to right, #ecda26 0%,#ecda26 59%,#f3e441 100%);
    padding: 20px;
    font-size: 30px;
    min-height: 35px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    // border-radius: 3px;
    color: #ecda26;
    font-weight: 600;
    background: #243646;
    width: 100%;
    text-align: center;
    line-height: 1;
  }

  &.ck-card-info {
    .ck-card-title {
      background: linear-gradient(
        to right,
        color.mix(black, $info, 1.3%) 0%,
        color.mix(black, $info, 1.15%) 59%,
        $info 100%
      );
    }
  }

  &.ck-card-blue {
    .ck-card-title {
      background: linear-gradient(
        to right,
        color.mix(black, $blue-1, 1.25%) 0%,
        color.mix(black, $blue-1, 1.1%) 59%,
        color.mix(black, $blue-1, 0.95%) 100%
      );
    }
  }

  &.disabled {
    .ck-card-title {
      background: $gray-600;
      opacity: 0.9;
    }
  }

  .ck-card-body {
    padding: 1rem 1rem;
    width: 100%;
    line-height: 1;
  }

  .list-inline {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    list-style: none;
    // text-decoration: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
  }

  .list-inline li {
    padding: 5px 0px 5px 0px;
  }

  .list-inline h4,
  h4 {
    // font-weight: bold;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    color: #61707c;
    text-transform: uppercase;
  }

  .list-inline h4 {
    margin-right: 7px;
    text-align: right;
    display: inline-block;
  }

  span {
    color: #243646;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.flex-shink {
  flex-shrink: 2;
}

.ck-h4 {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0px;
  margin-top: 0px;
  width: auto;
  color: black;
}

.ck-h1 {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h1-font-size;
  background-color: $orange-2;
  color: $default-color;
  text-transform: uppercase;
}

@include media-breakpoint-down(md) {
  .ck-h1 {
    height: unset;
    height: 80px;
    font-size: $h1-font-size * 0.8;
  }

  .ck-card {
    .ck-card-body {
      padding: 0.5rem 0.5rem;
      width: 100%;
      line-height: 1;
    }

    .list-inline h4 {
      width: auto;
    }
  }
}

@include media-breakpoint-down(xs) {
  .ck-h1 {
    height: unset;
    min-height: 70px;
    font-size: $h1-font-size * 0.6;
    flex-wrap: wrap;
  }
}

// Nova config de pdf

@media print {
  @page {
    margin-left: 1.6cm;
  }

  consulta {
    visibility: visible;
    position: absolute;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

    .bg-strip {
      background-color: transparent !important;
    }
    .bg-pdf {
      background-color: #f3f3f4 !important;
    }
  }

  div {
    break-inside: avoid;
  }

  iframe {
    display: none !important;
  }

  navbar-sub {
    display: none !important;
  }

  .hide-print {
    display: none !important;
  }

  .containerPlaca {
    padding-left: 720px !important;
    padding-top: 17px !important;
  }
}

.info {
  display: flex;
  justify-content: flex-end;
  .btn-outline-light {
    border: none;
  }
  .btn-outline-light:hover {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .btn-outline-light:focus {
    box-shadow: 0 0 0 0 transparent;
  }
}
