<div class="politica">
  <h2>Politica de privacidade</h2>
  <br>
  <p>
    A Brasil Soluções Automotivas LTDA (doravante referida como "nós", "nosso" ou "empresa") tem o compromisso de
    proteger a privacidade e os dados pessoais de nossos clientes e usuários. Esta Política de Privacidade descreve como
    coletamos, usamos, compartilhamos e protegemos as informações pessoais fornecidas a nós.
  </p>

  <p><strong>1. Informações Coletadas</strong></p>
  <p>Coletamos e processamos informações pessoais de diversas formas, incluindo, mas não se limitando a:</p>
  <ul>
    <li>Informações fornecidas por você: Quando você utiliza nossos serviços, solicita informações, se inscreve em
      newsletters, participa de promoções ou nos fornece informações de contato, como nome, endereço, telefone e
      endereço de e-mail.</li>
    <li>Informações coletadas automaticamente: Quando você acessa nossos sites ou utiliza nossos serviços online,
      podemos coletar automaticamente informações sobre seu dispositivo, endereço IP, localização geográfica, entre
      outras.</li>
  </ul>

  <p><strong>2. Uso de Informações</strong></p>
  <p>Utilizamos as informações pessoais coletadas para os seguintes propósitos:</p>
  <ul>
    <li>Fornecer e melhorar nossos produtos e serviços;</li>
    <li>Personalizar sua experiência conosco;</li>
    <li>Enviar comunicações de marketing, desde que você tenha consentido;</li>
    <li>Cumprir obrigações legais e regulatórias.</li>
  </ul>

  <p><strong>3. Compartilhamento de Informações</strong></p>
  <p>Podemos compartilhar suas informações pessoais com terceiros prestadores de serviços, parceiros de negócios e
    autoridades governamentais, quando necessário para os fins descritos nesta Política de Privacidade. Não vendemos,
    alugamos ou comercializamos suas informações pessoais com terceiros para fins de marketing sem seu consentimento
    explícito.</p>

  <p><strong>4. Armazenamento e Segurança de Dados</strong></p>
  <p>Tomamos medidas para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou
    destruição. Utilizamos medidas técnicas e organizacionais adequadas para garantir a segurança dos dados.</p>

  <p><strong>5. Seus Direitos</strong></p>
  <p>Você possui direitos em relação às suas informações pessoais, incluindo o direito de acessar, corrigir, atualizar
    ou
    excluir suas informações. Você também pode optar por não receber comunicações de marketing a qualquer momento.</p>

  <p><strong>6. Contato</strong></p>
  <p>Se você tiver dúvidas, preocupações ou solicitações relacionadas a esta Política de Privacidade ou ao tratamento de
    suas informações pessoais, entre em contato conosco:</p>
  <ul>
    <li>Brasil Soluções Automotivas LTDA</li>
    <li>Rua Castelo Branco, 175 2 andar, Praia Da Costa Vila Velha ES</li>
    <li>E-mail: <a href="mailto:tatiana@unionsolutions.com.br" target="_blank"
        rel="noopener">tatiana&#64;unionsolutions.com.br</a></li>
    <li>Telefone: 11 97317-6242</li>
  </ul>

  <p><strong>7. Alterações na Política de Privacidade</strong></p>
  <p>Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente para refletir alterações em nossas
    práticas de privacidade. Recomendamos que você revise esta Política regularmente para estar ciente de qualquer
    alteração.</p>

  <p>Esta Política de Privacidade entra em vigor a partir da data de sua publicação.</p>
  <p><strong><em>Data de Última Atualização: 15/02/2024</em></strong></p>

</div>
