<div *ngIf="qtdConsultas>0" class="bg-silver-light">
  <div class="p-2 px-md-5 flex-jc flex-wrap-reverse flex-nowrap flex-md-nowrap flex-ae flex-ac-md container">

    <div *ngIf="qtdConsultas>1" class="f-14 f-md-16 fw-500">
      Você possui <span class="fw-700">{{qtdConsultas}}</span> consultas disponíveis, <a [routerLink]="['/realizar-consultas']" class="text-orange-1">clique aqui para realizá-las!</a>
    </div>

    <div *ngIf="qtdConsultas==1" class="f-14 f-md-16 fw-500">
        Você possui <span class="fw-700">1</span> consulta disponível
      </div>

    <div *ngFor="let c of consultas" class="consulta-container mx-2 ml-md-5 mb-2 mb-md-0" [ngClass]="{'disabled': c.quantidade==0}">
      <div class="img-container" alt="c.nome">
        <img src="./assets/images/{{c.img}}.png" alt="">
      </div>
      <span class="qtd-consulta fw-500 f-14">{{c.quantidade}}</span>
    </div>
  </div>
</div>
