<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>

  <body style="background-color: gray; margin: 0px">
    <table
      style="
        width: 600px;
        background-color: white;
        border: 0;
        border-spacing: 0;
        font-family: 'Montserrat', sans-serif;
        margin: auto;
      "
      align="center"
    >
      <tr>
        <td colspan="2">
          <div style="background-color: #fdfdfd; width: 200px" align="center">
            <a
              target="_blank"
              href="https://carcheckbrasil.com.br/"
              class="custom-logo-link py-2"
              [ngclass]="{'py-3': !logIn.status}"
              rel="home"
              itemprop="url"
              style="display: flex; margin: 20px; align-items: center"
            >
              <img
                src="https://carcheckbrasil.com.br/assets/images/logos/Carcheck_Logos-07.png"
                class="icon-logo"
                alt="logo Carcheck Brasil"
                style="width: 100px"
              />
              <img
                src="https://carcheckbrasil.com.br/assets/images/logos/Carcheck_Logos-03.png"
                class="custom-logo"
                alt="Carcheck Brasil"
                style="width: 411px; height: 105px; margin-left: 20px"
              />
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div
            style="
              background-color: white;
              margin-top: 40px;
              text-align: center;
            "
          >
            <p style="color: #343a40; font-size: 20px">
              E aí, bora comprar com
              <strong style="color: #244b5a; font-size: 23px"
                >mais segurança</strong
              >
              ?
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div
            style="
              width: 80%;
              padding: 15px 20px;
              padding-bottom: 0px;
              text-align: center;
              margin: auto;
            "
          >
            <p style="color: #343a40; margin-bottom: 0px">
              Vimos que você já concluiu seu cadastro com sucesso. Agora, o
              próximo passo é escolher sua consulta, realizar o pagamento e
              garantir uma compra muito mais segura e tranquila. Partiu?
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div
            style="
              width: 80%;
              padding: 15px 20px;
              padding-bottom: 0px;
              text-align: center;
              margin: auto;
            "
          >
            <p style="color: #343a40; margin-bottom: 0px">
              Conheça as opções de consultas e dê o próximo passo!
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div
            style="
              width: 80%;
              padding: 20px 20px;
              padding-bottom: 25px;
              text-align: center;
              margin: auto;
            "
          >
            <a
              href="https://www.carcheckbrasil.com.br/tipos-de-consultas/"
              target="_blank"
              style="
                text-decoration: none;
                border: 0;
                border-radius: 20px;
                background: #28a745;
                color: white;
                width: 120px;
                padding: 10px 60px;
                text-align: center;
                margin: auto;
              "
            >
              CLIQUE AQUI
            </a>
          </div>
        </td>
      </tr>
      <tr style="background-color: #f1f3f4">
        <td style="padding: 12px 0px">
          <div style="text-align: left; padding-left: 30px" align="left">
            <a
              style="color: #343a40; font-size: 16px; text-decoration: none"
              target="_blank"
              href="https://www.carcheckbrasil.com.br/"
            >
              www.carcheckbrasil.com.br
            </a>
          </div>
        </td>
        <td>
          <div style="text-align: right; padding-right: 30px" align="right">
            <a
              style="text-decoration: none; margin-right: 10px"
              href="https://www.facebook.com/carcheckbrasil/"
              target="_blank"
            >
              <img
                style="width: 25px"
                src="https://carcheckbrasil.com.br/assets/images/face.png"
                alt="Facebook"
              />
            </a>
            <a
              style="
                text-decoration: none;
                margin-right: 10px;
                margin-left: 10px;
              "
              href="https://www.instagram.com/carcheckbrasil/"
              target="_blank"
            >
              <img
                style="width: 25px"
                src="https://carcheckbrasil.com.br/assets/images/insta.png"
                alt="Instagram"
              />
            </a>
            <a
              style="text-decoration: none; margin-left: 10px"
              href="https://twitter.com/carcheckbrasil/"
              target="_blank"
            >
              <img
                style="width: 25px"
                src="https://carcheckbrasil.com.br/assets/images/twitter.png"
                alt="Twitter"
              />
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div
            style="
              width: 80%;
              padding: 15px 20px;
              padding-bottom: 0px;
              text-align: center;
              margin: auto;
            "
          >
            <p style="color: #343a40; margin-bottom: 0px; font-size: 12px">
              Atendimento via chat e whatsapp de segunda a sexta - 9h00 às 18:00
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="text-align: center; margin-top: 20px">
            <a
              style="text-decoration: none"
              target="_blank"
              align="left"
              href="https://api.whatsapp.com/send?phone=5527998281914"
            >
              <img
                style="width: 20px; vertical-align: middle"
                src="https://carcheckbrasil.com.br/assets/images/whatsapp.png"
                alt="Whatsapp"
              />
              <span
                style="color: #343a40; font-size: 16px; padding-left: 10px"
                align="left"
                >(27) 9 9828-1914</span
              >
            </a>
          </div>
        </td>
        <td>
          <div style="text-align: center; margin-top: 20px">
            <a
              style="text-decoration: none"
              target="_blank"
              align="right"
              href="mailto:contato@carcheckbrasil.com.br"
            >
              <img
                style="width: 20px; vertical-align: middle"
                src="https://carcheckbrasil.com.br/assets/images/email.png"
                alt="E-mail"
              />
              <span
                style="color: #343a40; font-size: 16px; padding-left: 10px"
                align="left"
                >contato@carcheckbrasil.com.br</span
              >
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div
            style="
              width: 80%;
              padding: 15px 20px;
              padding-bottom: 20px;
              text-align: center;
              margin: auto;
            "
          >
            <p style="color: #343a40; margin-bottom: 0px; font-size: 12px">
              O Carcheck Brasil é uma ferramenta que visa maior segurança na
              negociação de veículos usados, permitindo ao consumidor analisar
              vários indicadores de segurança além da trajetória do veículo
              desde o seu primeiro registro junto aos órgãos competentes até o
              dia da aquisição.
            </p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
