<div class="row my-5" >
  <div class="col-12 mt-2">
    <ck-input [(control)]="form.controls.nome" label="Nome Completo" ></ck-input>
  </div>

  <div class="mt-4 col-12 col-md-6">
    <ck-input [(control)]="form.controls.email" label="E-mail"></ck-input>
  </div>

  <div class="mt-4 col-12 col-md-6">
    <ck-input [(control)]="form.controls.confirmarEmail" label="Confirmar e-mail"></ck-input>
  </div>

  <div class="col-12 col-md-6 mt-4">
    <ck-input [(control)]="form.controls.senha" label="Senha" type="password" [togglePassword]="true"></ck-input>
  </div>
  
  <div class="col-12 col-md-6 mt-4">
    <ck-input [(control)]="form.controls.confirmarSenha" label="Confirmar senha" type="password" [togglePassword]="true"></ck-input>
  </div>
</div>