@import "functions", "variables", "mixins/breakpoints";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
  width: 100%;
  height: 85px;
  background: linear-gradient(75deg, #243646 0%, #244b5a 59%, #181818 150%);

  padding: 50px;
}

side-menubar {
  display: none;
}

.custom-logo-link {
  display: flex;
  align-items: center;

  .custom-logo {
    height: 40px;
    width: auto;
    object-fit: contain;
  }
  .icon-logo {
    padding-right: 10px;
    margin-top: 8px;
    height: 30px;
    width: auto;
    padding-left: 15px;
  }
}

.menu-container {
  flex-shrink: 0;
}
.perfil {
  display: flex;
  align-items: baseline;
  margin-right: 30px;
}

.side-menubar {
  display: flex;
  align-items: center;
}

@include media-breakpoint-down(md) {
  .custom-logo-link {
    display: flex;
    align-items: center;
    img {
      height: 20px;
      object-fit: cover;
    }
  }
  navbar-sub {
    display: none;
  }
  side-menubar {
    display: block;
  }
  .perfil {
    align-items: center;
  }
}

// NOTIFICATION
.notification-icon {
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.notification {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

#notification-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.counter {
  position: absolute;
  top: -53px;
  right: -30px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
}

#notification-list {
  display: none;
  position: absolute;
  top: -19px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 290px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 9px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #243646;
  padding: 3px;
  font-weight: bold;
}

.notification-item {
  color: black;
  border-bottom: 1px solid #ccc;
  cursor: auto;
  width: 280px;

  .notification-card {
    background-color: whitesmoke;
    // border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    color: #fff;
    padding: 3px;
    width: 280px;
    margin: 3px;
  }

  .neon {
    width: 10px;
    background: linear-gradient(
      to bottom,
      #243646 0%,
      #244b5a 59%,
      #c7c7c8 150%
    );
  }

  .neonUnread {
    width: 10px;
    background: linear-gradient(
      to bottom,
      #243646 0%,
      #244b5a 59%,
      #c7c7c8 150%
    );
    opacity: 0.5;
    animation: flicker 1.5s infinite alternate;
  }

  .content {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 280px;
  }
  .sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #243646;
  }

  p {
    margin: 10px 0;
    color: rgb(7, 7, 7);
  }
  .time {
    font-size: 13px;
    color: #474747;
  }

  @keyframes flicker {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
}

.notification-item:last-child {
  border-bottom: none;
}

/* animação de balanço */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Aplicar a animação à classe animation-class */
.animation-class {
  animation: swing 0.5s ease 3;
}

.navegacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 90px;

  a {
    color: white;
    padding: 32px 25px;
    font-size: 14px;
    font-weight: normal !important;
  }
  a:hover {
    text-decoration: none;
    background: #243646;
  }

  .btn-entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    background-color: #ecda26;
    border-radius: 4px;
    width: 115px;
    height: 38px;
    padding: 0;

    color: #243646;
    a:hover {
      text-decoration: none;
      background: transparent;
    }
  }

  .btn-entrar:hover {
    background-color: #d9c713;
    border-color: #cdbc12;
  }

  .btn-entrar:focus,
  .btn-entrar:active {
    box-shadow: none;
    border: none;
  }
}

.cadastrar {
  white-space: nowrap;
  color: #ecda26 !important;
  cursor: pointer;

  &:hover {
    color: #d6c931 !important;
  }
}

.side-menu {
  display: none;
}

@media (max-width: 1060px) {
  .navegacao {
    display: none;
  }
  .side-menu {
    display: block;
  }
}

///Side menu css
///

@import "functions", "variables", "mixins/breakpoints";

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #243646;
  transition: left 0.3s ease-in-out;
  z-index: 3;

  &.open {
    left: 0;
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -1;
    }
  }

  .menu-content {
    padding: 20px;
    color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 10px 0;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }
  }

  .container-user {
    li {
      padding: 0px;
    }
  }

  .menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .menu-toggle:focus {
    border: none;
    outline: none;
  }

  .mdi-menu {
    font-size: 30px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
  }

  .mdi-backburger {
    display: flex;
    padding: 0px !important;
    font-size: 30px;
    color: #fff;
    align-items: end;
    flex-direction: row-reverse;
    margin-top: 20px !important;
  }

  .closeMenu {
    flex-direction: column;
    padding: 0 !important;
  }

  .mdi-exit-to-app {
    font-size: 28px;
    color: firebrick;
  }

  .exit {
    margin-top: 40px;
    a {
      display: flex;
      align-items: stretch;
    }
    span {
      padding-left: 10px;
    }
  }

  //// menu

  ul {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    height: 100%;
  }

  li {
    padding: 0px;
    margin: 0px;
  }

  a {
    text-decoration: none;
    height: 100%;
    background: none;
    display: flex;
    border: none;
    color: $light;
    padding: 20px 5px;
    margin: 0px;
    width: 100%;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    color: white;
  }

  a:not([href]):not([tabindex]) {
    color: white;
  }

  span {
    display: block;
    padding-left: 30px;
    max-width: 100%;
    overflow: hidden;
    opacity: 1;
    transition: 200ms all linear, 100ms opacity linear;
  }

  .icon-svg {
    height: 20px;
    width: 20px;
    min-width: 20px;
    margin: 0px;
    transition: 300ms all linear;

    ::ng-deep svg {
      width: 100%;
    }
  }

  .icon-svg {
    position: absolute;
    transition: 200ms all ease-in;
    fill: $light;
  }

  a:hover {
    color: #ecda26;
    * {
      fill: #ecda26;
    }
  }

  a.active {
    .icon-svg {
      transform: scale(1.7);
      fill: #ecda26;
    }
  }

  a.logout {
    .icon-svg {
      fill: #ed1818;
    }
  }

  @include media-breakpoint-down(md) {
    .icon-svg {
      margin: 0px;
      width: 20px;
      height: 20px;
    }

    a.active .icon-svg {
      transform: scale(1);
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    justify-content: space-between;
  }
  .custom-logo-link {
    margin-left: 40px;
  }
}

@media (max-width: 510px) {
  .navbar {
    padding: 0;
    padding-left: 60px;
  }

  .custom-logo-link {
    margin-left: 0px;
  }

  .perfil {
    margin-right: 10px;
  }

  .notification-icon {
    margin: 0px -5px 0px 10px;
  }
}
