@import 'functions', 'variables', 'mixins/breakpoints';

section {
  width: 100%;
  background: #192b33;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.parceria-seguralta {
  background: #2a2a2a;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: #ecda26;
  text-align: center;
  overflow: hidden;
}

.logo {
  width: 220px;
  filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.2));
}

.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #f5f5f5;
}

.titulo span {
  color: #ecda26;
}

.descricao {
  font-size: 1.3rem;
  max-width: 700px;
  line-height: 1.6;
  color: #dcdcdc;
}

.servicos {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.servico {
  flex: 1;
  background: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  color: #161616;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 280px;
  width: max-content;
  animation: led-pulse 1s infinite;
}

.servico:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.servico h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #304d5a;
  display: flex;
  align-items: center;
  gap: 8px;
}

.servico i {
  font-size: 1.8rem;
  color: #ecda26;
}

.servico p {
  font-size: 1.1rem;
  color: #343a40;
  margin-bottom: 20px;
}

.parceiros {
  display: flex;
  align-items: center;
  gap: 25px;
}

.img-parceiro {
  width: 140px;
}

.btn {
  font-size: 1.1rem;
  padding: 12px 25px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-primario {
  background: #244b5a;
  color: #fff;
  border: none;

  a {
    color: #dcdcdc;
    text-decoration: none;
    padding: 16px 30px;
  }
}

.btn-primario:hover {
  background: #ecda26;

  a {
    color: #244b5a;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .servicos {
    flex-direction: column;
    align-items: center;
  }

  .servico {
    width: 100%;
    max-width: 400px;
  }

  .titulo {
    font-size: 2rem;
  }

  .descricao {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {

  section {
    height: max-content;
    padding: 20px;
  }

  .titulo {
    font-size: 1.8rem;
  }

  .descricao {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }

}


@keyframes led-pulse {
  0% {
    box-shadow: 0 0 8px 3px #ecdb26d1;
  }

  50% {
    box-shadow: 0 0 4px 2px #ecdb266b;
  }

  100% {
    box-shadow: 0 0 8px 3px #ecdb26d1;
  }
}
