<div class="row my-5">
  <div class="col-12 mt-2">
    <ck-input data-cy="nome" [(control)]="form.controls.nome" label="Nome Completo" ></ck-input>
  </div>

  <div class="mt-4 col-12 col-md-6">
    <ck-input data-cy="email" [(control)]="form.controls.email" label="E-mail"></ck-input>
  </div>

  <div class="mt-4 col-12 col-md-6">
    <ck-input data-cy="confirm-email" [(control)]="form.controls.confirmarEmail" label="Confirmar e-mail"></ck-input>
  </div>

  <div class="col-12 col-md-6 mt-4" *ngIf="cadastro.tokenFacebook==''">
    <ck-input data-cy="senha" [(control)]="form.controls.senha" label="Senha" type="password" [togglePassword]="true"></ck-input>
  </div>
  
  <div class="col-12 col-md-6 mt-4" *ngIf="cadastro.tokenFacebook==''">
    <ck-input data-cy="confirm-senha" [(control)]="form.controls.confirmarSenha" label="Confirmar senha" type="password" [togglePassword]="true"></ck-input>
  </div>


  <!--div class="col-12 col-lg-5 mt-4">
    <ck-input [(control)]="form.controls.cpf" [mask]="formMask.cpf" label="CPF"></ck-input>
  </div>
  
    <div class="col-6 col-lg-4 mt-4">
      <ck-input [(control)]="form.controls.dataNascimento" [mask]="formMask.data" label="Data Nascimento"></ck-input>
    </div>

  <div class="col-6 col-lg-3 mt-4">
    <ck-input [(control)]="form.controls.telefone" [mask]="formMask.telefone" label="Telefone"></ck-input>
  </div>

  <div class="col-8 col-md-6 mt-4">
    <ck-input [(control)]="form.controls.cep" [mask]="formMask.cep" [loading]="loadingEndereco" label="CEP"></ck-input>
  </div>

  <div class="col-4 col-md-2 mt-4">
    <ck-input [(control)]="form.controls.numero" label="Nº"></ck-input>
  </div>

  <div class="col-12 col-md-4 mt-4">
    <ck-select [(control)]="form.controls.uf" [loading]="loadingEndereco" label="Estado" [options]="ufOptions"></ck-select>
  </div>
  
  <div class="col-12 col-lg-6 mt-4">
    <ck-input [(control)]="form.controls.bairro" [loading]="loadingEndereco" label="Bairro"></ck-input>
  </div>
  
  <div class="col-12 col-lg-6 mt-4">
    <ck-input [(control)]="form.controls.cidade" [loading]="loadingEndereco" label="Cidade"></ck-input>
  </div>
  
  <div class="col-12 col-lg-7 mt-4">
    <ck-input [(control)]="form.controls.endereco" [loading]="loadingEndereco" label="Endereço"></ck-input>
  </div>

  <div class="col-12 col-lg-5 mt-4">
    <ck-input [(control)]="form.controls.complemento" [loading]="loadingEndereco" label="Complemento"></ck-input>
  </div-->

</div>