<div *ngIf="!dadosCompra" class="container border-silver-light p-3 p-sm-5 mt-5">
    <h1 class="f-22">Nenhuma confirmação de pagamento foi encontrada.</h1>
    <p class="f-18 mt-4 text-secondary">
        Para mais informações sobre suas compras, acesse
        <a [routerLink]="'/status-pagamento'" class="text-orange-1">status de pagamento</a>.
    </p>

    <div class="flex-wrap flex-md-nowrap flex-jb mt-5">
        <div class="mb-2 mb-md-0 mr-0 mr-md-2 w-100">
            <a [routerLink]="'/comprar-consulta-placa'" class="btn btn-success px-5 flex-wrap  w-100">NOVA CONSULTA</a>
        </div>
        <div class="w-100">
            <a [routerLink]="'/status-pagamento'" class="btn btn-secondary px-5 w-100">STATUS DE PAGAMENTO</a>
        </div>
    </div>
</div>


<ng-container *ngIf="dadosCompra">

    <div *ngIf="dadosCompra.tipoPagamento=='DEBITO'" class="container border-silver-light p-3 p-sm-5 mt-5">
        <h1 class="f-22">
            A compra só será concluida após a confirmação do pagamento no banco selecionado.
        </h1>
        <a #linkPagamento class="btn btn-orange-1 w-100 fw-500 mt-4" href="{{dadosCompra.urlDebito}}" target="_blank">Clique
            aqui para abrir a página do banco</a>

        <div *ngIf="dadosCompra.tipoPagamento=='DEBITO'" class="mt-2 text-gray-deep mw-100">
            <div class="text-blue flex-js fw-500">
                <i class="mdi mdi-information-outline f-28 mr-2"></i>
                <span>
                    Lembre-se o prazo para aprovação é de até 3 horas após o pagamento no débito.
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="dadosCompra.tipoPagamento=='BOLETO'" class="container border-silver-light p-3 p-sm-5 mt-5">
        <h1 class="f-22">
            A compra só será concluida após a confirmação de pagamento do boleto.
        </h1>
        <a #linkPagamento class="btn btn-orange-1 w-100 fw-500 mt-4" href="{{dadosCompra.urlBoleto}}" target="_blank">
            Clique aqui para gerar o boleto
        </a>

        <div *ngIf="dadosCompra.tipoPagamento=='DEBITO'" class="mt-2 text-gray-deep mw-100">
            <div class="text-blue flex-js fw-500">
                <i class="mdi mdi-information-outline f-28 mr-2"></i>
                <span>
                    Lembre-se o prazo para aprovação do boleto é de 2 dias úteis após o pagamento.
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="dadosCompra.tipoPagamento=='PIX'" class="container border-silver-light p-3 p-sm-5 mt-5">
      <h1 class="f-22">
          A compra só será concluida após a confirmação de pagamento do pix utilizando qrcode abaixo.
      </h1>
      <div class="qrCode">
        <img src="{{dadosCompra.qrCode}}" alt="" srcset="">
      </div>
      <div class="mt-4 border border-2 border-gray-light">
        <div class="f-14 w-100 py-1 px-3 bg-gray-light fw-500 text-nowrap" style="
        display: flex;
        justify-content: space-between;
        align-items: center;">
            PIX COPIA E COLA:
            <div
            class="btnCopy"
            type="button"
            triggers="click"
            [autoClose]="true"
            ngbTooltip="Codigo copiado!!"
            #tooltip3="ngbTooltip">
              <a (click)="copyText()" class="btn btn-orange-1 w-200"> Copiar codígo </a>
            </div>
        </div>

        <div id="qrCodeText" class="f-14 py-1 px-3 text-secondary text-center w-100">
            {{dadosCompra.qrCodeText}}
        </div>
    </div>
      <a #linkPagamento class="btn btn-orange-1 w-100 fw-500 mt-4" href="{{dadosCompra.urlFatura}}" target="_blank">
          Clique aqui para abrir a fatura
      </a>
  </div>

    <div class="container border-silver-light p-3 p-sm-5 mt-5">
        <h2 class="f-20 fw-500 text-orange-1 text-center">Agradecemos por escolher o Carcheck Brasil!</h2>
        <p class="f-18 mt-3">
            Ficamos felizes pela sua compra e desejamos o fechamento de um ótimo negócio com seu seminovo.
        </p>
        <strong class="f-16 mt-3">
          Será enviado um email de confirmação da compra, e apos a confirmação sua consulta estara disponivel na aba ' Minhas consultas '.
        </strong>
        <div class="mb-2 mb-md-0 mr-0 mr-md-2 w-100">
          <a [routerLink]="'/'" class="btn btn-consultas p-1 px-5 flex-wrap  w-100">SUAS CONSULTAS AQUI</a>
       </div>

        <div class="mt-4 border border-2 border-gray-light">
            <div class="f-14 w-100 py-1 px-3 bg-gray-light fw-500 text-nowrap">
                CÓDIGO DE PAGAMENTO:
            </div>

            <div class="f-14 f-sm-16 py-1 px-3 text-secondary text-center w-100">
                {{dadosCompra.tokenPagamento}}
            </div>
        </div>

        <div class="mt-4 border border-2 border-gray-light">
            <div class="f-14 w-100 py-1 px-3 bg-gray-light fw-500 text-nowrap">
                VALOR DE PAGAMENTO:
            </div>

            <div id="valorFinalPagamento" class="f-14 f-sm-16 py-1 px-3 text-secondary text-center w-100">
                {{dadosCompra.valorTotal|currency:'BRL'}}
            </div>
        </div>

        <div *ngIf="dadosCompra.tipoPagamento=='CREDITO'" class="text-center text-blue flex-ac flex-jc fw-500 mt-5">
            <i class="mdi mdi-information-outline f-28 mr-2"></i>
            <span>
                *Lembre-se o prazo para aprovação com cartão de crédito é de até 8h.
            </span>
        </div>

        <div class="flex-wrap flex-md-nowrap flex-jb mt-5">
            <div class="mb-2 mb-md-0 mr-0 mr-md-2 w-100">
                <a [routerLink]="'/comprar-consulta-placa'" class="btn btn-success px-5 flex-wrap  w-100">NOVA CONSULTA</a>
            </div>
            <div class="w-100">
                <a [routerLink]="'/status-pagamento'" class="btn btn-secondary px-5 w-100">STATUS DE PAGAMENTO</a>
            </div>
        </div>
    </div>

</ng-container>

<!--div class="container border-silver-light p-3 p-sm-5">

    <h1 *ngIf="dadosCompra.tipoPagamento=='CREDITO'" class="f-24">Agradecemos por escolher o Carcheck Brasil!</h1>


    <div *ngIf="dadosCompra.tipoPagamento=='BOLETO'" class="mt-5 text-gray-deep mw-100">
        <div class="fw-500 f-20 text-gray-deep text-center">
            Caso a página para pagamento do boleto não abra,
            <a #linkPagamento class="text-orange-1 mw-100 fw-500" href="{{dadosCompra.urlBoleto}}" target="_blank">clique
                aqui.</a>
        </div>
        <div class="text-center text-blue flex-jc fw-500 mt-5">
            <i class="mdi mdi-information-outline f-28 mr-2"></i>
            <span>
                *Lembre-se o prazo para aprovação do boleto é de 2 dias úteis após o pagamento.
            </span>
        </div>
    </div>

    <div *ngIf="dadosCompra.tipoPagamento=='CREDITO'" class="text-center text-blue flex-ac flex-jc fw-500 mt-5">
        <i class="mdi mdi-information-outline f-28 mr-2"></i>
        <span>
            *Lembre-se o prazo para aprovação com cartão de crédito é de até 8h.
        </span>
    </div>

</div-->
