<h1 class="ck-h1">
  <span class="fw-400 mr-2">MINHA</span>
  <span class="fw-700 mr-2">CONTA</span>
</h1>


<div class="container mt-5">

  <!--div *ngIf="consultas.length>0" class="bg-silver-light rounded">
    <h1 class="f-24 py-1 text-center bg-dark text-white rounded">Consultas a realizar</h1>
    <div class="p-3">
      <p class="f-16 fw-500 m-0">Você comprou e ainda não realizou as consultas a seguir:
        <a href="" class="text-orange-1">CLIQUE AQUI</a> para consultar.
      </p>
    </div>
    <div class="row px-4 pb-4 no-gutters">
      <div *ngFor="let c of consultas" [hidden]="c.quantidade==0" class="col-6 col-sm-4 col-md-3">
        <span class="text-orange-1 fw-700 f-36"> {{c.quantidade}}</span>
        <span class="text-dark f-24 fw-700"> Consulta {{c.label}} </span>
      </div>
    </div>
  </div-->

  <div [hidden]="msg!='success'" class="alert alert-success fw-500 f-18">
    Dados alterados com sucesso.
  </div>

  <div [hidden]="msg!='error'" class="alert alert-danger fw-500 f-18">
    Erro ao salvar alterações.
  </div>

  <h1 class="mt-5 f-md-22 f-18 py-1 text-center bg-g-orange text-white rounded">Informações Pessoais</h1>
  <div class="row no-gutters">


    <div class="col-12 col-md-7 col-lg-3 py-3 px-1">
      <ck-input onlyLetters [label]="'Nome'"  [(control)]="form.controls.nome"  ></ck-input>
    </div>

    <div class="col-12 col-md-5 col-lg-3 py-3 px-1">
      <ck-input [label]="'Documento'" [mask]="formMask.documento"  [(control)]="form.controls.documento"></ck-input>
    </div>

    <div class="col-12 col-md-5 col-lg-3 py-3 px-1">
      <ck-input [(control)]="form.controls.dataNascimento" [mask]="formMask.data" label="Data Nascimento"></ck-input>
    </div>

    <div class="col-8 col-md-5 col-lg-3 py-3 px-1">
      <ck-input [label]="'CEP'" [mask]="formMask.cep" [(control)]="form.controls.cep"  [loading]="loadingEndereco"></ck-input>
    </div>

    <div class="col-12 col-md-9 col-lg-6  py-3 px-1">
      <ck-input onlyLetters [label]="'Rua'" [(control)]="form.controls.rua" [loading]="loadingEndereco" ></ck-input>
    </div>

    <div class="col-4 col-md-2  py-3 px-1">
      <ck-input onlyNumbers [label]="'Nº'" [(control)]="form.controls.numero"></ck-input>
    </div>


    <div class="col-12 col-md-3 col-lg-4 py-3 px-1 order-first order-md-0">
      <ck-input [label]="'Telefone'" [mask]="formMask.telefone" [(control)]="form.controls.telefone"></ck-input>
    </div>

    <div class="col-12 col-md-6 col-lg-4 py-3 px-1">
      <ck-input onlyLetters [label]="'Bairro'" [(control)]="form.controls.bairro"  [loading]="loadingEndereco"></ck-input>
    </div>

    <div class="col-12 col-md-6 col-lg-3 py-3 px-1">
      <ck-input onlyLetters [label]="'Cidade'" [(control)]="form.controls.cidade"  [loading]="loadingEndereco"></ck-input>
    </div>

    <div class="col-12 col-md-5 col-lg-2  py-3 px-1">
      <ck-select [label]="'UF'" [options]="ufOptions" [(control)]="form.controls.uf"  [loading]="loadingEndereco"></ck-select>
    </div>



    <div class="col-12 col-md-7 col-lg-3  py-3 px-1">
      <ck-input [label]="'Complemento'" [(control)]="form.controls.complemento"></ck-input>
    </div>

    <!--div class="col-6 col-md-3  py-3 px-1">
      <ck-input [label]="'celular'" [mask]="formMask.telefone" [(control)]="form.controls.celular"></ck-input>
    </div-->

  </div>


  <h1 class="mt-5 f-md-22 f-18 py-1 text-center bg-g-orange text-white rounded">Informações de acesso</h1>
  <div class="row no-gutters mb-5">

    <div class="col-12 col-md-6 py-3 px-1">
      <ck-input [label]="'Email'" [(control)]="form.controls.email"></ck-input>
    </div>

    <div class="col-12 col-md-3  py-3 px-1">
      <ck-input [label]="'Senha atual'" [(control)]="form.controls.senhaAntiga" [type]="'password'"></ck-input>
    </div>

    <div class="col-12 col-md-3  py-3 px-1">
      <ck-input [label]="'Nova senha'" [(control)]="form.controls.senhaNova" [type]="'password'" [togglePassword]="true"></ck-input>
    </div>

  </div>
  <div class="d-flex row justify-content-end pb-5 ">
    <button [disabled]="loadingCadastro" class="btn btn-lg btn-success px-5" (click)="salvar()"> SALVAR </button>
  </div>
</div>
