<section class="parceria-seguralta">
  <div class="img-background">
    <img src="./assets/images/logos/Carcheck_Logos-07.png" alt="" srcset="">
  </div>
  <div class="col">
    <div appAppearOnScroll class="col intro">
      <h2 class="titulo">
        Tá pensando em comprar um carro?
      </h2>
      <span class="sub">
        A gente te ajuda a fazer isso com mais segurança e sem dor de cabeça.
      </span>
      <p class="sub">
        Conheça nossos novos serviços pensados para facilitar sua vida!
        💛
      </p>
    </div>

    <div appAppearRightOnScroll class="col">
      <app-cards-servicos [showNovidades]="true"></app-cards-servicos>
      <br>
    </div>

  </div>

</section>
