


<div class="row">

    <div class="col-12 col-sm-6 p-2 mb-2 mb-sm-3"><ck-input label="Placa" [control]="form.controls.placa" [mask]="mask.placa" class="ck-input-uppercase"></ck-input></div>
    <div class="col-12 col-sm-6 p-2 mb-2 mb-sm-3"><ck-input label="Nome do proprietário" [control]="form.controls.proprietario"></ck-input></div>
    <div class="col-12 col-sm-5 p-2 mb-2 mb-sm-3"><ck-input label="Telefone de contato do proprietário" [control]="form.controls.telefone" [mask]="mask.telefone"></ck-input></div>
    <div class="col-12 col-sm-3 p-2 mb-2 mb-sm-3"><ck-select label="Estado" [control]="form.controls.uf" [options]="ufOptions"></ck-select></div>
    <div class="col-12 col-sm-4 p-2 mb-2 mb-sm-3"><ck-select label="Cidade" [control]="form.controls.cidade" [options]="cidadeOptions"></ck-select></div>

</div>










