<!-- <tab-nav [tabs]="[{title:'Pessoa Física'}, {title:'Pessoa Juridica'}]" [(currentTab)]="cadastro.tipoPessoa" (currentTabChange)="tipoPessoaChange()">
</tab-nav> -->

<div *ngIf="login.cliente.clienteTipoIndefinido=='S' || login.cliente.clienteTipoIndefinido==null">
  <tab-nav [tabs]="[{title:'Pessoa Física'}]" [(currentTab)]="cadastro.tipoPessoa"
    (currentTabChange)="tipoPessoaChange()">
  </tab-nav>
</div>

<div *ngIf="login.cliente.clienteTipoIndefinido=='N'">
  <div *ngIf="cadastro.tipoPessoa=='0'">
    <tab-nav [tabs]="[{title:'Pessoa Física'}]" [(currentTab)]="cadastro.tipoPessoa" (currentTabChange)="tipoPessoaChange()">
    </tab-nav>
  </div>

  <div *ngIf="cadastro.tipoPessoa=='1'">
    <tab-nav [tabs]="[{title:'Pessoa Juridica'}]" [(currentTab)]="cadastro.tipoPessoa" (currentTabChange)="tipoPessoaChange()">
    </tab-nav>
  </div>

</div>



<div class="row">
  <!-- <div *ngIf="cadastro.tipoPessoa==1" class="col-12 mt-2">
    <ck-input [(control)]="form.controls.razaoSocial" label="Razão Social"></ck-input>
  </div> -->

  <div *ngIf="cadastro.tipoPessoa==0" class="col-12 mt-4">
    <ck-input [(control)]="form.controls.cpf" [mask]="formMask.cpf" label="CPF"></ck-input>
  </div>

  <div *ngIf="cadastro.tipoPessoa==1" class="col-12 mt-4">
    <ck-input [(control)]="form.controls.cnpj" [mask]="formMask.cnpj" label="CNPJ"></ck-input>
  </div>

  <div class="col-12 col-md-6 mt-4">
    <ck-input *ngIf="cadastro.tipoPessoa==0" [(control)]="form.controls.dataNascimento" [mask]="formMask.data" label="Data Nascimento"></ck-input>
    <ck-input *ngIf="cadastro.tipoPessoa==1" [(control)]="form.controls.dataNascimento" [mask]="formMask.data" label="Data Nasc.(Responsavel)"></ck-input>
  </div>

  <div class="col-12 col-md-6 mt-4">
    <ck-input [(control)]="form.controls.telefone" [mask]="formMask.telefone" label="Telefone"></ck-input>
  </div>

  <div class="col-8 col-lg-6 mt-4">
    <ck-input [(control)]="form.controls.cep" [mask]="formMask.cep" [loading]="loadingEndereco" label="CEP"></ck-input>
  </div>

  <div class="col-4 col-lg-2 mt-4">
    <ck-input [(control)]="form.controls.numero" label="Nº"></ck-input>
  </div>

  <div class="col-12 col-lg-4 mt-4">
    <ck-select [(control)]="form.controls.uf" [loading]="loadingEndereco" label="Estado" [options]="ufOptions"></ck-select>
  </div>

  <div class="col-12 col-lg-6 mt-4">
    <ck-input [(control)]="form.controls.bairro" [loading]="loadingEndereco" label="Bairro"></ck-input>
  </div>

  <div class="col-12 col-lg-6 mt-4">
    <ck-input [(control)]="form.controls.cidade" [loading]="loadingEndereco" label="Cidade"></ck-input>
  </div>

  <div class="col-12 col-lg-7 mt-4">
    <ck-input [(control)]="form.controls.endereco" [loading]="loadingEndereco" label="Endereço"></ck-input>
  </div>

  <div class="col-12 col-lg-5 mt-4">
    <ck-input [(control)]="form.controls.complemento" label="Complemento"></ck-input>
  </div>

</div>
