<h1 class="ck-h1">
  <span class="fw-700 mr-2">COMPRAR</span>
  <span class="fw-400">CONSULTAS</span>
</h1>


<step-by-step class="mx-4 mx-md-auto" [steps]="steps" [(currentStep)]="currentStep"
  (currentStepChange)="onChangeStep()" [doneSteps]="doneSteps"></step-by-step>

<comprar-consulta-multipla [hidden]="currentStep!=stepIndex.consulta" [(consultas)]="consultas" [(pacote)]="pacote"
  [(valorTotal)]="valorTotal">

  <button (click)="next()" [disabled]="valorTotal==0" class="w-100 btn btn-lg btn-success px-5" [ngClass]="{
    'consulta': currentStep == stepIndex.consulta,
    'completar-cadastro': currentStep == stepIndex.completarCadastro,
    'pagamento': currentStep == stepIndex.pagamento
  }">
    Continuar
  </button>

</comprar-consulta-multipla>

<div [hidden]="stepIndex.completarCadastro != currentStep" class="container">
  <div class="my-5">
    <cadastrar-dados-usuario [(cadastro)]="cadastrarUsuario"></cadastrar-dados-usuario>
  </div>

  <div class="flex-jb mb-5 flex-column-reverse flex-md-row align-items-stretch align-items-md-end mt-5">
    <div class="mt-3 mt-md-0">
      <button (click)="back()" [disabled]="loadingCompra" class="w-100 btn btn-lg btn-orange-1 px-5">
        Voltar
      </button>
    </div>

    <div class="ml-md-5 text-nowrap">
      <button (click)="next()" *ngIf="!loadingCompra" [disabled]="valorTotal==0"
        class="w-100 btn btn-lg btn-success px-5">
        Continuar
      </button>
      <button *ngIf="loadingCompra" disabled="disabled"
        class="btn btn-lg btn-next btn-success flex-ac flex-jc relative w-100">
        <i class="d-block mdi mdi-loading mr-3 f-24 rotate"></i>Efetuando transação</button>
      <div class="f-18">
      </div>
    </div>
  </div>

</div>



<div class="container" [hidden]="currentStep!=stepIndex.pagamento">
  <forma-pagamento [(valorTotal)]="valorTotal" (valorTotalDescontoChange)="valorTotalDesconto=$event">
    <app-display-produto-pagamento [consultasSelecionadas]="consultas">
    </app-display-produto-pagamento>
  </forma-pagamento>


  <div class="flex-jb flex-column-reverse flex-md-row align-items-stretch align-items-md-end mt-2 mb-4">
    <div class="mt-3 mt-md-0">
      <button (click)="back()" [disabled]="loadingCompra" [hidden]="steps==0"
        class="w-100 btn btn-lg btn-orange-1 px-5">
        Voltar
      </button>
    </div>

    <div class="ml-md-5 text-nowrap">
      <div class="ml-5 text-nowrap">
        <h4 *ngIf="valorTotal != valorTotalDesconto" class="fw-700 f-14 text-default">Valor Original:
          {{valorTotal | currency:'BRL':true}}</h4>
        <h4 class="fw-700 f-20 text-default">Total a pagar:</h4>
        <div class="price-container-lg mb-2" *ngIf="valorTotal != valorTotalDesconto">
          <span>R$</span>
          <span>{{valorReais(valorTotalDesconto)}}</span>
          <span>,{{valorCentavos(valorTotalDesconto)}}</span>
        </div>
        <div class="price-container-lg mb-2" *ngIf="valorTotal == valorTotalDesconto">
          <span>R$</span>
          <span>{{valorReais(valorTotal)}}</span>
          <span>,{{valorCentavos(valorTotal)}}</span>
        </div>
      </div>
      <button (click)="next()" *ngIf="!loadingCompra" [disabled]="valorTotal==0"
        class="w-100 btn btn-lg btn-success px-5">
        Finalizar
      </button>
      <button *ngIf="loadingCompra" disabled="disabled"
        class="btn btn-lg btn-next btn-success flex-ac flex-jc relative w-100">
        <i class="d-block mdi mdi-loading mr-3 f-24 rotate"></i>Efetuando transação</button>
      <div class="f-18">
      </div>
    </div>
  </div>
</div>

<div [hidden]="currentStep!=stepIndex.consulta" (click)="scrollToPacotes()" class="conheca">
  <i class="mdi mdi-chevron-down arrow"></i>
  <h3>Conheça também nossos pacotes</h3>
  <i class="mdi mdi-chevron-down arrow"></i>
</div>

<div [hidden]="currentStep!=stepIndex.consulta">
  <app-produtos></app-produtos>
</div>

<ck-modal id="modalAvisoCompraMultipla" class="full-screen">

  <div class="p-md-4 p-3 f-18" style="max-width: 900px">
    <h1 class="f-20 mb-4 text-center text-grey-deep">Instabilidade pagamento</h1>
    <div class="f-14 text-secondary">
      <p>
        Prezados clientes,

        Gostaríamos de informar que nossa plataforma de pagamentos está passando por uma manutenção programada. Durante
        este período, algumas funcionalidades, como a realização de compras, estarão indisponíveis.

        Pedimos desculpas pelo inconveniente causado e agradecemos sua compreensão enquanto trabalhamos para melhorar
        nossos serviços. Faremos o possível para concluir a manutenção o mais rápido possível e restaurar todas as
        funcionalidades normalmente.

      </p>
    </div>
  </div>
  <div class="px-3 px-lg-4 pb-3 d-flex justify-content-center">

    <button (click)="closeModal()" class="btn btn-warning">
      FECHAR
    </button>
  </div>

</ck-modal>
