<div class="ck-card mt-5 hide-print">

  <div class="ck-card-title">MULTAS</div>

  <div class="card-body">

    <div class="font-weight-bold mb-1">

      Além das multas estaduais e nacionais, DNIT e Policia Rodoviaria Federal também podem aplicá-las.
      <span class="text-orange-1 border-bottom border-orange-1">Ambos os orgãos possuem consultas gratuitas para verificação</span>.
      Clique abaixo e acesse.

    </div>


    <div class="row no-gutters">
      <div class="flex-js flex-column col-12 col-md-6 pr-md-2">
        <div class="bg-white rounded flex-jc">
          <div class="img-detran-container  flex-ac">
            <img src="./assets/images/PRF.png" alt="">
          </div>
        </div>
        <div class="px-2">
          <div class="fw-500 text-orange-1 f-14 mt-2">Você precisa de:</div>
          <span>Placa, </span>
          <span>Renavam.</span>
          <div class="fw-500 text-orange-1 f-14 mt-2">Informações disponíveis:</div>
          <!--LINK POLÍCIA RODOVIÁRIA FEDERAL-->
          <div class="">Multas aplicadas pela Polícia Rodoviária Federal</div>
          <div>
            <a target="_blank" href="https://nadaconsta.prf.gov.br/nada_consta/index.jsf" class="d-block d-md-inline-block px-5 mt-2 btn btn-orange-1">ACESSE AQUI
            </a>
          </div>
        </div>
      </div>


      <div class="mt-5 mt-md-0 flex-js flex-column col-12 col-md-6 pl-md-2">
        <div class="bg-white rounded flex-jc">
          <div class="img-detran-container  flex-ac">
            <img src="./assets/images/dnit.png" alt="">
          </div>
        </div>
        <div class="px-2">
          <div class="fw-500 text-orange-1 f-14 mt-2">Você precisa de:</div>
          <span>Placa, </span>
          <span>Renavam.</span>
          <div class="fw-500 text-orange-1 f-14 mt-2">Informações disponíveis:</div>
          <div class="">Multas aplicadas pelo DNIT</div>
          <a target="_blank" href="http://servicos.dnit.gov.br/multas/" class="d-block d-md-inline-block px-5 mt-2 btn btn-orange-1">ACESSE
            AQUI
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
