.app-section {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(243, 243, 243);
  color: #244b5a;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: -20px;
}

.app-section p {
  font-size: 24px;
  padding-right: 40px;
}

.app-links {
  margin-top: 10px;
}

.app-links a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.app-links a:hover {
  transform: scale(1.1);
}

.app-links img {
  height: 60px;
}

@media (max-width: 480px) {
  .app-section {
    font-size: 1rem;
    padding: 10px;
  }

  .app-links img {
    height: 35px;
  }
}
