
<!-- Container dos passos -->
<div class="steps-container d-flex align-items-center justify-content-between">

<ng-container *ngFor="let s of steps; let i=index">
    <step (click)="goToStep(i)" [icon]="s.icon" [image]="s.image" [state]='s.state'></step>
    <step-bar *ngIf="i<steps.length-1" [state]="i < doneSteps ? 1 : 0"></step-bar>
</ng-container>

</div>

<!-- Container dos títulos -->
<div class="title-container d-flex justify-content-between align-items-center">

<ng-container *ngFor="let s of steps; let i=index">
    <h2 [ngClass]="{'current': s.state==2, 'text-muted': s.state!=2}" 
        class="fs-6 text-center mb-0">{{s.title}}</h2>
</ng-container>

</div>
