<div *ngIf="this.dadosDetalhamento.codigoControle != 'SEMREGISTRO' && this.dadosDetalhamento.codigoControle != 'PENDENTE'">
  <div  class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">

    <div class="ck-card-title"> <img src="./assets/images/icons-consulta-carcheck/BusinessSVG.svg" style="width: 50px;" > PREÇO MÉDIO</div>

    <div *ngIf="statusConsulta!=5 " class="ck-card-body">

      <!--
        <div class="border-bottom border-gray flex-ac w-100 mb-2">
          <h2 class="f-16 mb-1">CARACTERÍSTICAS</h2>
        </div>
      -->
      <div class="row px-3 f-18">

        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Preço mínimo Brasil</h4>
          <span>{{dadosDetalhamento.precoMinimoBrasil!=null ? dadosDetalhamento.precoMinimoBrasil : "----"}} </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Preço médio Brasil</h4>
          <span>{{dadosDetalhamento.precoMedioBrasil!=null ? dadosDetalhamento.precoMedioBrasil : "----"}} </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Preço máximo Brasil</h4>
          <span>{{dadosDetalhamento.precoMaximoBrasil!=null ? dadosDetalhamento.precoMaximoBrasil : "----"}}</span>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Preço mínimo UF veículo</h4>
          <span>{{dadosDetalhamento.precoMinimoUf!=null ? dadosDetalhamento.precoMinimoUf : "---"}}</span>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Preço médio UF veículo</h4>
          <span>{{dadosDetalhamento.precoMedioUf!=null ? dadosDetalhamento.precoMedioUf : "---"}}</span>
        </div>


        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Preço máximo UF veículo</h4>
          <span>{{dadosDetalhamento.precoMaximoUf!=null ? dadosDetalhamento.precoMaximoUf : "---"}}</span>
        </div>

    </div>

  </div>
</div>
