<h1 class="ck-h1">
  <span class="fw-700 mr-2">REALIZAR</span>
  <span class="fw-400 mr-2"> CONSULTAS</span>
</h1>


<div class="container mt-3 mt-lg-5">

  <div class="bg-silver-light rounded">
    <h1 class="f-md-24 f-20 py-1 text-center bg-dark text-white rounded">Consultas a realizar</h1>
    <!-- <div class="p-3">
      <p class="f-16 fw-500 m-0">Você comprou e ainda não realizou as consultas a seguir:
        <a href="" class="text-orange-1">CLIQUE AQUI</a> para consultar.
      </p>
    </div> -->

    <div *ngIf="consultasDisponiveisVazio" class="f-18" align="center">
      <span>Você não possui consultas disponíveis,
        <a [routerLink]="['/processo-compra-multipla']" href="#" class="text-orange-1 fw-500">clique aqui</a> e faça sua
        compra.
      </span>
    </div>

    <div *ngIf="!consultasDisponiveisVazio" class="row px-3 pb-2 px-md-4 pb-md-4 no-gutters">

      <div *ngFor="let c of consultasOptions" class="col-6 col-lg-4">
        <span class="text-orange-1 fw-700 f-20 f-sm-24 f-md-36"> {{c.value.quantidade - c.value.quantidadeSelecionada}}
        </span>
        <span class="text-dark f-16 f-sm-18 f-md-24 fw-700">
          <span class="d-none d-sm-inline">Consulta</span> {{c.label}} </span>
      </div>

    </div>
  </div>

  <div class="veiculo-pesquisa-form pt-3 pt-md-5">
    <div *ngFor="let c of consultas; let i = index; let last = last; let first = first"
      class="container-consulta d-flex flex-wrap flex-lg-nowrap flex-ae mb-lg-4 mb-2">
      <div class="w-100 pr-lg-2 container-select">

        <ck-select [options]="c.options" [value]="c.consultaSelecionada" [label]="'Tipo de Consulta'"
          (valueChange)="selecionarConsulta(i, $event)">
        </ck-select>

        <!-- <div ngbDropdown class="d-inline-block w-100">
          <button class="ck-input-control d-flex" id="dropdownBasic1" ngbDropdownToggle>
            <span class="w-100 text-left fw-500">{{c?.consultaSelecionada?.nome || 'Tipo de Consulta'}}</span>

          </button>
          <div class="w-100" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let o of c.options">
              <button class="w-100 py-2" (click)="selecionarConsulta(i, o.value)" ngbDropdownItem>
                {{o.label}}
              </button>
            </div>
          </div>
        </div> -->


        <div [ngClass]="{'invisible': !c.erroTipoConsulta}" class="f-14 text-danger">
          Informe o tipo de consulta
        </div>
      </div>

      <div class="flex-ac d-lg-none p-1 pt-3">
        <label class="d-flex align-items-center m-0 f-14 fw-500  mr-5" for="select_placa{{i}}">
          <input class="radio-md  mr-2" id="select_placa{{i}}" name="tipopesquisaplaca{{i}}" type="radio"
            [(ngModel)]="c.tipoPesquisa" value="placa">
          <span>Placa</span>
        </label>
        <label class="d-flex align-items-center m-0 f-14 fw-500" for="select_chassi{{i}}">
          <input class="radio-md mr-2" id="select_chassi{{i}}" name="tipopesquisachassi{{i}}" type="radio"
            [(ngModel)]="c.tipoPesquisa" value="chassi">
          <span>Chassi</span>
        </label>
      </div>

      <div class="container-placa w-100 px-lg-2" [ngClass]="{'active': c.tipoPesquisa=='placa', 'mw-100':last && i==0}">
        <label class="d-flex align-items-center m-0 f-14 fw-500" for="select_placa{{i}}">
          <input class="radio-md mr-2" id="select_placa{{i}}" name="tipopesquisaplaca{{i}}" type="radio"
            [(ngModel)]="c.tipoPesquisa" value="placa">
          <span>Placa</span>
        </label>
        <input [textMask]="masks.placa" type="text" class="form-control form-control-lg  border-1 f-20 roboto-mono"
          [ngClass]="{'border-orange-1 bg-white': c.tipoPesquisa=='placa', 'border-dark bg-silver text-silver': c.tipoPesquisa!='placa'}"
          (focus)="c.tipoPesquisa='placa'" [(ngModel)]="c.placa" (keyup)="changePlaca()" maxlength="7">
        <div [ngClass]="{'invisible': !c.erroPlaca}" class="f-14 text-danger">
          Informe a placa corretamente
        </div>
      </div>
      <div class="f-20 fw-500 p-2 align-self-center mb-1 d-none d-lg-block"> OU </div>
      <div class="container-chassi w-100 px-lg-2"
        [ngClass]="{'active': c.tipoPesquisa=='chassi', 'mw-100':last && i==0}">
        <label class="d-flex align-items-center m-0 f-14 fw-500" for="select_chassi{{i}}">
          <input class="radio-md mr-2" id="select_chassi{{i}}" name="tipopesquisachassi{{i}}" type="radio"
            [(ngModel)]="c.tipoPesquisa" value="chassi">
          <span>Chassi</span>
        </label>
        <input type="text" class="form-control form-control-lg border-1 f-20 roboto-mono"
          [ngClass]="{'border-orange-1 bg-white': c.tipoPesquisa=='chassi', 'border-dark bg-silver text-silver': c.tipoPesquisa!='chassi'}"
          (focus)="c.tipoPesquisa='chassi'" [(ngModel)]="c.chassi" (keyup)="changeChassi()" maxlength="17"
          minlength="17">
        <div [ngClass]="{'invisible': !c.erroChassi}" class="f-14 text-danger">
          Informe o chassi corretamente
        </div>
      </div>

      <div [hidden]="last && i==0" class="text-center ml-2 align-self-start align-self-lg-center">
        <button (click)="removeConsulta(c, i)"
          class="mx-0 mx-lg-2 mb-1 btn btn-outline-orange-1 btn-circle-sm border-4 p-0">
          <i class="mdi mdi-minus f-30"></i>
        </button>
      </div>

    </div>
    <div class="flex-je">
      <div class="text-center flex-column mr-2 mt-lg-0">
        <button [disabled]="!verificarDisponibilidadeConsulta()" (click)="addConsulta()"
          class="m-auto btn btn-outline-orange-1 btn-circle border-4 p-0 mr-2 mr-sm-0">
          <i class="mdi mdi-plus f-40"></i>
        </button>
      </div>
    </div>
    <p class="mt-4 mt-lg-5 p-2 p-lg-0 f-16 f-sm-18 f-md-20">
      Comprou uma de nossas consultas e ainda não utilizou? Selecione aquela que desejar, insira os dados do veículo
      seminovo e
      confira as informações disponíveis no sistema.
    </p>
  </div>
  <!--p class="mt-5 f-16 f-md-18 fw-500 text-danger" [hidden]="!errors">
    Verifique se todos os campos foram preenchidos corretamente.
  </p-->
  <div class="w-100 flex-je flex-ae flex-column mb-5">
    <button [disabled]="carregandoConsulta" class="btn-consultar btn btn-lg btn-success px-5 py-lg-3"
      (click)="consultar()">
      CONSULTAR </button>



  </div>


</div>
