<div class="ck-card mt-5"  [ngClass]="{'disabled': statusConsulta == 5 }">
  <div class="ck-card-title">NÚMERO NO BLOCO DO MOTOR</div>

  <consulta-msg *ngIf="statusConsulta==5" [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()" ></consulta-msg>

  <div *ngIf="statusConsulta!=5" class="ck-card-body">
    <div class="border-bottom border-gray align-items-center d-flex w-100 mb-2">
      <div class="svg-24 mb-1 mr-2" [inlineSVG]="'engrenagem.svg'"></div>
      <h2 class="f-16 mb-1">DADOS</h2>
    </div>

    <div class="row no-gutters  px-3 f-18 mb-4">
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Motor Atual</h4>
        <span>{{consultadivergenciamotor?.numeroMotorAtual | naoInformado}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <h4>Motor Original</h4>
        <span>{{consultadivergenciamotor?.numeroMotorOriginal | naoInformado}}</span>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2" *ngIf="consultadivergenciamotor?.outrosNumerosMotor?.lengrh>0">
        <h4>Outros Numeros</h4>
        <span *ngFor="let d of consultadivergenciamotor?.ocorrenciasMotorDivergente">{{d}}
          <br>
        </span>
      </div>
    </div>
  </div>
</div>