<div class="ck-card mt-5" *ngIf="this.dadosDetalhamento.codigoControle != 'SEMREGISTRO' && this.dadosDetalhamento.codigoControle != 'PENDENTE' && this.dadosDetalhamento.codigoControle != 'ERRO_FORNECEDOR'">
  <div class="ck-card-title">PREÇO MERCADO FINANCEIRO</div>

  <ng-container *ngFor="let r of dadosDetalhamento?.PrecoMolicar; let i = index;">

  <div class="p-4 flex-ja flex-as flex-ac-md flex-column flex-md-row">
    <div class="pr-3 pb-2 flex-ac">
      <preco-item-tag [label]="'SE'" [active]="true"></preco-item-tag>
      <div class="fw-500 f-14 pl-2">SÉRIE DE FÁBRICA</div>
    </div>
    <div class="pr-3 pb-2 flex-ac">
        <preco-item-tag [label]="'ND'" [active]="true"></preco-item-tag>
      <div class="fw-500 f-14 pl-2">NÃO DISPONÍVEL DE FÁBRICA</div>
    </div>
    <div class="pr-3 pb-2 flex-ac">
        <preco-item-tag [label]="'OP'" [active]="true"></preco-item-tag>
      <div class="fw-500 f-14 pl-2">OPCIONAL DE FÁBRICA</div>
    </div>
  </div>
  <div class="px-3">
    <div  class="border-bottom border-gray flex-ac w-100 mb-2">
      <h2 class="f-16 mb-1">VEÍCULO {{i + 1}}</h2>
    </div>
  </div>
  <div class="px-4 pb-4 flex-jb flex-column flex-md-row">
      <div class="pr-2">
          <h4>Marca</h4>
          <span>{{r.marca!=null ? r.marca : "----"}}</span>
      </div>
    <div class="pr-2">
        <h4>Veículo</h4>
        <span>{{r.tipoVeiculo!=null ? r.tipoVeiculo : "----"}}</span>
    </div>
    <div class="pr-2">
        <h4>Ano modelo</h4>
        <span>{{r.anoModelo!=null ? r.anoModelo : "----"}}</span>
    </div>
    <div class="pr-2">
        <h4>Valor atual</h4>
        <span>{{r.valorAtual | currency:'BRL'}}</span>
    </div>
  </div>
  <div class="px-4 pb-4 row no-gutters align-items-stretch striped_list_preco">
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="VIDROS/TRAVAS ELÉTRICAS" [legenda]='[r.vidroTravaEletrica!=null ? r.vidroTravaEletrica : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="DIREÇÃO ASSISTIDA" [legenda]='[r.direcaoAssistida!=null ? r.direcaoAssistida : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="AR CONDICIONADO" [legenda]='[r.arCondicionado!=null ? r.arCondicionado : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="CÂMBIO AUTOMÁTICO" [legenda]='[r.cambioAutomatico!=null ? r.cambioAutomatico : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="FORRAÇÕES EM COURO" [legenda]='[r.bancoCouro!=null ? r.bancoCouro : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="TETO SOLAR" [legenda]='[r.tetoSolar!=null ? r.tetoSolar : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="KIT MULTIMIDIA" [legenda]='[r.kitMultimidia!=null ? r.kitMultimidia : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="KIT GNV" [legenda]='[r.Op11!=null ? r.Op11 : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="FREIO ABS" [legenda]='[r.freioAbs!=null ? r.freioAbs : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="AIR BAG" [legenda]='[r.airBag!=null ? r.airBag : "----"]'></preco-item-veiculo></div>
    <div class="col-12 col-md-6 col-lg-4 d-flex"><preco-item-veiculo label="RODAS DE LIGA LEVE" [legenda]='[r.rodaLigaLeve!=null ? r.rodaLigaLeve : "----"]'></preco-item-veiculo></div>
  </div>

</ng-container>

</div>