<div id="leilao" *ngIf="dadosDetalhamento?.dadosLeilao.length==0">
<div class="ck-card mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">
  <div class="ck-card-title"> <img src="./assets/images/icons-consulta-carcheck/hammer-legalSVG.svg" style="width: 50px;" > LEILÃO</div>



  <consulta-msg [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()">
      <div class="f-16 mb-2">
        <strong>NÃO CONSTAM OCORRÊNCIAS</strong>
      </div>
      <div>
        Não encontramos nas nossas bases de dados registros de leilão para este veículo.
      </div>

    </consulta-msg>
  </div>
</div>




<div id="leilao" *ngIf="dadosDetalhamento?.dadosLeilao.length>0">
  <div class="ck-card-red mt-5" [ngClass]="{'disabled': statusConsulta == 5 }">
      <div class="ck-card-title-red"> <img src="./assets/images/icons-consulta-carcheck/hammer-legalSVG.svg" style="width: 50px;" >LEILÃO</div>

    <consulta-msg [status]="statusConsulta" [statusReload]="statusReload" (reloadClick)="reload()">
      <div *ngIf="dadosDetalhamento?.dadosLeilao.length>0" class="f-16 mb-2">
        <strong>Foram encontrados
          <span class="alertleilao"> {{dadosDetalhamento.dadosLeilao.length}} ocorrência(s)</span> para este veículo.</strong>
      </div>
    </consulta-msg>


    <!-- nova analise de risco leilao -->

  <div
  *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo || dadosDetalhamento.analiseRisco?.percentualmRef || dadosDetalhamento.analiseRisco?.exigVistEspecial || dadosDetalhamento.analiseRisco?.parecer">
  <div class="border-bottom border-gray flex-ac w-100 mb-3 mt-5" *ngIf="dadosDetalhamento.analiseRisco">
    <div class="svg-20 mb-1 mr-2" [inlineSVG]="'leilao.svg'"></div>
    <h2 class="f-16 mb-1">ANALISE DE RISCO DE LEILÃO COMPLEMENTAR</h2>
  </div>

<div class="containerPai col text-center">

  <div class="row d-flex justify-content-sm-around align-items-stretch align-self-stretch mb-5" style="width: 100%;">
    <div class="dados text-center mb-5" *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo">
        <!-- aceitaçao de seguro -->
        <span>Aceitação de seguro</span>
        <div class="newProgress text-center">
          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo >=90">
            <div class="container">
              <img class="frame" src="./assets/images/newProgress/Frame100svg.svg" alt="" srcset="">
              <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo < 90">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >= 80">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame90svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo < 80">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >= 70">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame80svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo < 70">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >= 60">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame70svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo < 60">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >= 50">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame60svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo < 50">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >= 40">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame50svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo < 40">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >= 30">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame40svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo < 30">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >= 20">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame30svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo < 20">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >= 10">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame20svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo < 10">
            <div *ngIf="dadosDetalhamento.analiseRisco.aceitacaoVeiculo >=  0">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame10svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.aceitacaoVeiculo}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>


        </div>
    </div>


      <div class="dados text-center mb-5" *ngIf="dadosDetalhamento.analiseRisco?.percentualmRef">
        <!-- Percentual sobre a tabela fipe -->
        <span>Percentual sobre a tabela fipe</span>
        <div class="newProgress text-center">

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >=90">
            <div class="container">
              <img class="frame" src="./assets/images/newProgress/Frame100svg.svg" alt="" srcset="">
              <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 90">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >= 80">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame90svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 80">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >= 70">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame80svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 70">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >= 60">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame70svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 60">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >= 50">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame60svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 50">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >= 40">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame50svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 40">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >= 30">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame40svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 30">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >= 20">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame30svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 20">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >= 10">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame20svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef < 10">
            <div *ngIf="dadosDetalhamento.analiseRisco.percentualmRef >=  0">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame10svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.percentualmRef}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>


        </div>
      </div>
  </div>


    <div class="row d-flex justify-content-sm-around align-items-stretch align-self-stretch mb-5" style="width: 100%;">
      <div class="dados text-center mb-5" *ngIf="dadosDetalhamento.analiseRisco?.exigVistEspecial">
        <!-- Probabilidade de exigência de vistoria especial -->
        <span>Probabilidade de exigência de vistoria especial</span>
        <div class="newProgress text-center">

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >=90">
            <div class="container">
              <img class="frame" src="./assets/images/newProgress/Frame100svg.svg" alt="" srcset="">
              <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 90">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >= 80">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame90svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 80">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >= 70">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame80svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 70">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >= 60">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame70svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 60">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >= 50">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame60svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 50">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >= 40">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame50svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 40">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >= 30">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame40svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 30">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >= 20">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame30svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 20">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >= 10">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame20svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial < 10">
            <div *ngIf="dadosDetalhamento.analiseRisco.exigVistEspecial >=  0">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame10svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.exigVistEspecial}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>


        </div>
      </div>


      <div class="dados text-center mb-5" *ngIf="dadosDetalhamento.analiseRisco?.parecer">
        <!-- Probabilidade de exigência de vistoria especial -->
        <span>Situação veículo (score)</span>
        <div class="newProgress text-center">
          <div *ngIf="dadosDetalhamento.analiseRisco.parecer >=90">
            <div class="container">
              <img class="frame" src="./assets/images/newProgress/Frame100svg.svg" alt="" srcset="">
              <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 90">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >= 80">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame90svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 80">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >= 70">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame80svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 70">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >= 60">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame70svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 60">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >= 50">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame60svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 50">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >= 40">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame50svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 40">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >= 30">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame40svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 30">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >= 20">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame30svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 20">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >= 10">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame20svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>
            </div>
          </div>

          <div *ngIf="dadosDetalhamento.analiseRisco.parecer < 10">
            <div *ngIf="dadosDetalhamento.analiseRisco.parecer >=  0">
              <div class="container">
                <img class="frame" src="./assets/images/newProgress/Frame10svg.svg" alt="" srcset="">
                <h2 class="frameNumber">{{dadosDetalhamento.analiseRisco.parecer}}%<h6>de 100%</h6></h2>
              </div>

            </div>
          </div>
          <!-- <span class="warning">
            Médios danos
          </span>
          <span class="danger">
            Graves danos
          </span>
          <span *ngIf="dadosDetalhamento.analiseRisco?.parecer == 100" class="success">
            Inteiro
          </span>
          <span *ngIf="dadosDetalhamento.analiseRisco?.parecer == 85" class="success">
            Pequenos danos
          </span> -->
        </div>
      </div>
    </div>


  </div>
</div>


    <ng-container *ngFor="let l of dadosDetalhamento.dadosLeilao; let i = index;">
      <div class="border-bottom flex-ac w-100 mb-2">
        <div class="svg-20 mb-1 mr-2" [inlineSVG]="'leilao.svg'"></div>

          <h2 class="f-16 mb-1">LEILÃO {{i+1}}</h2>

      </div>
      <div class="row px-3 mb-4">
        <div class="col-12 col-md-4 col-lg-4 mb-2">
          <h4>Data do leilão</h4>
          <span>{{l.dataLeilao!=null ? l.dataLeilao : "----"}} </span>
        </div>

        <div class="col-12 col-md-4 col-lg-4 mb-2">
          <h4>Comitente</h4>
          <span>{{l.comitente!=null ? l.comitente : "----"}}</span>
        </div>

        <div class="col-12 col-md-5 col-lg-2 mb-2">
          <h4>Situação do veículo</h4>
          <span>{{l.condicaoGeralDoVeiculo!=null ? l.condicaoGeralDoVeiculo : "----"}}</span>
        </div>

        <div class="col-12 col-md-3 col-lg-2 mb-2">
          <button #collapse value="1" (click)="collapse.value= collapse.value==1 ? 0 : 1" class="btn btn-sm btn-orange-1 w-100">{{collapse.value==1 ? 'Ocultar' : 'Ver'}} Detalhes</button>
        </div>
      </div>
      <div class="row px-4 mb-4" [hidden]="collapse.value==0">
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Placa</h4>
          <span>{{l.dadosVeiculo.placa!=null ? l.dadosVeiculo.placa : "----"}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Chassi</h4>
          <span>{{l.dadosVeiculo.chassi!=null ? l.dadosVeiculo.chassi : "----"}}</span>
        </div>
        <!-- <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Número de Motor</h4>
          <span>{{l.dadosVeiculo.nrMotor!=null ? l.dadosVeiculo.nrMotor : "----"}}</span>
        </div> -->
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Marca/Modelo</h4>
          <span>{{l.dadosVeiculo.marca!=null ? l.dadosVeiculo.marca : "----"}} / {{l.dadosVeiculo.modelo!=null ? l.dadosVeiculo.modelo : "----"}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Ano</h4>
          <span>{{l.dadosVeiculo.anoModelo!=null ? l.dadosVeiculo.anoModelo : "----"}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Número de câmbio</h4>
          <span>{{l.dadosVeiculo.nrCaixaCambio!=null ? l.dadosVeiculo.nrCaixaCambio : "----"}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Combustivel</h4>
          <span>{{l.dadosVeiculo.combustivel!=null ? l.dadosVeiculo.combustivel : "----"}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Cor</h4>
          <span>{{l.dadosVeiculo.cor!=null ? l.dadosVeiculo.cor : "----"}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Categoria</h4>
          <span>{{l.dadosVeiculo.categoria!=null ? l.dadosVeiculo.categoria : "----"}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Número carroceria</h4>
          <span>{{l.dadosVeiculo.carroceria!=null ? l.dadosVeiculo.carroceria : "----"}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <h4>Número eixos</h4>
          <span>{{l.dadosVeiculo.nrEixos!=null ? l.dadosVeiculo.nrEixos : "----"}}</span>
        </div>

      </div>
    </ng-container>





</div> <!--fim card leilao-->





        <!-- ANALISE DE RISCO DE LEILAO ANTIGO  -->


        <!-- <div *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo || dadosDetalhamento.analiseRisco?.percentualmRef || dadosDetalhamento.analiseRisco?.exigVistEspecial || dadosDetalhamento.analiseRisco?.parecer">
            <div class="border-bottom border-gray flex-ac w-100 mb-3 mt-5" *ngIf="dadosDetalhamento.analiseRisco">
              <div class="svg-20 mb-1 mr-2" [inlineSVG]="'leilao.svg'"></div>
              <h2 class="f-16 mb-1">ANALISE DE RISCO DE LEILÃO COMPLEMENTAR</h2>
            </div>

            <div class="px-3 mb-5 f-14" *ngIf="dadosDetalhamento.analiseRisco?.aceitacaoVeiculo">
              <strong>Aceitação de seguro</strong>


              <ck-progress-bar [progress]="dadosDetalhamento.analiseRisco.aceitacaoVeiculo"></ck-progress-bar>
            </div>

            <div class="px-3 mb-5 f-14" *ngIf="dadosDetalhamento.analiseRisco?.percentualmRef">
              <strong>Percentual sobre a tabela fipe</strong>
              <ck-progress-bar [progress]="dadosDetalhamento.analiseRisco.percentualmRef"></ck-progress-bar>
            </div>

            <div class="px-3 mb-5 f-14"  *ngIf="dadosDetalhamento.analiseRisco?.exigVistEspecial">
              <strong>Probabilidade de exigência de vistoria especial</strong>
              <ck-progress-bar  [color]='{danger: "#3daf35", warning: "#ecda26", success: "#d60000", info: "#0067E0"}' [progress]="dadosDetalhamento.analiseRisco?.exigVistEspecial"></ck-progress-bar>
            </div>

            <div class="px-3 mb-5 f-14" *ngIf="dadosDetalhamento.analiseRisco?.parecer">
              <strong>Situação veículo (score)</strong>
              <ck-progress-bar [progress]="dadosDetalhamento.analiseRisco?.parecer">
                <span class="warning">
                  Médios danos
                </span>
                <span class="danger">
                 Graves danos
                </span>
                <span *ngIf="dadosDetalhamento.analiseRisco?.parecer == 100" class="success">
                  Inteiro
                </span>
                <span *ngIf="dadosDetalhamento.analiseRisco?.parecer == 85" class="success">
                  Pequenos danos
                </span>

              </ck-progress-bar>
            </div>



          </div> -->
