:host{
    width: 100%;
    height: 300px;
    position: relative;
    display: block;
}

.chart-bar-data{
    width: 100%;
    height: inherit;
    border: 1px solid green;
    display: flex;
}

.bars-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    max-width: 70px;
    min-width: 50px;
    .bars{
        align-items: flex-end;
        height: 100%;
        display: flex;
        padding: 0px 10px;
        flex: 1;
        .bar{
            background: red;
            margin:0px 1.5px;
            width: 30px;
            height: 100%;
            &:first-child{
                height: 85%;
            }
        }
    }
    .label{
        height: 30px;
        padding: 5px 0px;
        background: #eee;
        text-align: center;
    }
}

/*.score{
    height: 100%;
    width: 50px;
    border: 1px solid purple;
}*/

.grid{
    position: absolute;
    width: inherit;
    height: calc(100% - 30px);
    top: 0px;
    left: 0px;

    .line{
        width: 100%;
        height: 25%;
        position: relative;

        background:repeating-linear-gradient(
            to right,
            transparent,
            transparent 10px,
            rgba(0,0,0,0.15) 10px,
            rgba(0,0,0,0.15) 20px
          ); 

          background-size: 40px 2px;
          background-repeat-y: no-repeat;


       /* &:before{
            content: '';
            width: inherit;
            position: absolute;
            top: 7px;
            border-bottom: 1px dashed #aaa;


        }*/
    }
}