<section class="app-section">
  <div class="col">
    <h2><strong>Agora também na App Store</strong></h2>
    <div>
      Baixe nosso app no seu iphone, ipad ou android e tenha acesso fácil aos
      nossos serviços!
    </div>
  </div>

  <div class="app-links">
    <!-- Google Play -->
    <a
      href="https://play.google.com/store/apps/details?id=com.sazso.carcheck"
      target="_blank"
    >
      <img
        ngSrc="./assets/images/google-play-badge.png"
        alt="Disponível no Google Play"
        width="150"
        height="60"
        loading="lazy"
        priority="false"
      />
    </a>

    <!-- App Store -->
    <a href="https://apps.apple.com/app/id6459511385" target="_blank">
      <img
        ngSrc="./assets/images/app-store-badge.png"
        alt="Disponível na App Store"
        width="150"
        height="60"
        loading="lazy"
        priority="false"
      />
    </a>
  </div>
</section>
