section {
  position: relative;
  background: #f7f7f7 !important;
}

.logo-marca-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.noMargin {
  margin: 0px;
}

.striped-list li:nth-child(odd) {
  background-color: #f2f2f2;
}

.consulta-anterior {
  display: flex;
  flex-direction: column;
  border: solid 2px #ecda26;
  padding: 5px;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
}

.veiculo {
  display: flex;
  align-items: center;
  background: #ffffffad;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
  padding: 0px 0px 0px 10px;

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  margin: 5px;
}

.containerPlaca {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.img-circle {
  border: solid 3px #343a40;
  border-radius: 50%;
  background-color: #304d5a0f;
  margin-right: 10px;
}

.placa {
  position: relative;
  margin-bottom: 10px;

}

.placa-img {
  width: 180px;
  height: auto;
  display: block;
}

.nrPlaca {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  color: black;
  font-size: 28px;
  padding-left: 40px;
  padding-top: 25px;
}

.container {
  max-width: 900px;
  margin-top: 25px;
  padding: 2rem;
  text-align: center;

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .texto-destacado {
    background: #ecda26;
    padding: 8px;
    border-radius: 10px;
  }

  .imgDestaque {
    position: relative;
    padding: 15px;
  }

  .car-container {
    position: absolute;
    top: 30%;
    left: 0%;
  }

  .car-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 53%;
    transform: translateX(-50%) rotate(175deg);
    width: 100%;
    height: 97px;
    background: rgba(0, 0, 0, 0.219);
    filter: blur(10px);
    border-radius: 50%;
    z-index: 0;
  }

  .form-card {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    justify-content: space-between;
    align-items: flex-start;

    .form-container {

      form {
        display: flex;
        flex-direction: column;

        .form-group {
          margin-bottom: 1rem;
          text-align: left;

          label {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }

          input,
          select {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
        }

        .form-footer {
          text-align: left;

          .btn-consultar {
            background-color: #304d5a;
            color: white;
            padding: 0.75rem 1.5rem;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
              background-color: #343a40;

            }
          }
        }
      }
    }

    .imgDestaque {
      flex: 1 1 350px;
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }

    .spaceBetween {
      flex: 1 1 10px;
    }
  }

  .observacao {
    font-size: 14px;
    margin-top: 1rem;
    color: #888;
  }
}

.form-pagamento {

  form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;

    .form-group {
      text-align: left;
      margin-bottom: 0px !important;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      input,
      select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .form-footer {
      text-align: left;

      .btn-consultar {
        background-color: #304d5a;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: #343a40;

        }
      }
    }
  }
}


.error {
  color: #d93025;
  font-size: 13px;
  margin-top: 4px;
}

.debitos-container {
  padding: 2rem 0rem 5rem 0rem;
  max-width: 800px;
  margin: auto;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .lista-debitos {
    list-style: none;
    width: 100%;
    padding: 0;

    li {
      margin-bottom: 1rem;
      background: #f9f9f9;
      padding: 1rem;
      border-radius: 8px;
      display: flex;
      align-items: flex-start;
      border: 1px solid #304d5a21;
      border-left-color: #ecda26;
      border-left-width: 2px;

      label {
        display: flex;
        align-items: flex-start;
        width: 100%;
        cursor: pointer;

        input[type='checkbox'] {
          margin-right: 1rem;
          margin-top: 4px;
        }

        .debito-detalhes {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .tipo {
            font-weight: bold;
            font-size: 15px;
            color: #333;
          }

          .descricao {
            font-size: 14px;
            color: #555;
          }

          .valor {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
            font-size: 13px;
            color: #666;
            margin-top: 4px;
          }
        }
      }
    }
  }

  .checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    cursor: pointer;
    position: relative;
    user-select: none;
    margin-bottom: 1rem;
  }

  .checkbox-wrapper input[type="checkbox"] {
    display: none;
  }

  .checkbox-wrapper .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #244b5a;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;
  }

  .checkbox-wrapper input[type="checkbox"]:checked+.custom-checkbox {
    background-color: #244b5a;
    border-color: #244b5a;
  }

  .checkbox-wrapper .custom-checkbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .checkbox-wrapper input[type="checkbox"]:checked+.custom-checkbox::after {
    display: block;
  }

}

.relatorio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-top: 2rem;
  background: #f0f8ffe6;
  padding: 1.5rem 0rem;
  border-radius: 8px;
  border: 1px solid #cce5ff;
  z-index: 9999;

  h3 {
    margin-bottom: 1rem;
    color: #007bff;
  }

  ul {
    padding-left: 1.2rem;
    margin-bottom: 1rem;

    li {
      font-size: 14px;
      margin-bottom: 0.3rem;
    }
  }

  .total {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1rem;
  }

  .btn-pagar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      background-color: #218838;
    }

    &:disabled {
      background-color: #94d3a2;
      cursor: wait;
      opacity: 0.6;
    }
  }
}

.relatorio.fixo {
  position: fixed;
}
