:host{
    width: 310px;
    display: block;
    margin: 10px auto;
}

.img-container{
    width: 60px;
    height: 60px;
    min-width: 60px;
    flex-basis: 60px;
    margin-right: 25px;

    img{
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}