.nav-dropdown-btn{
    position: relative;
}

.nav-dropdown{
    position: absolute;
    left: 15px;
    top: 38px;
    background: $dark;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    border-top: none;
    overflow: hidden;
    transition: 500ms max-height linear;
}

.nav-dropdown-btn:hover li{
    margin-top: 0px;
    opacity: 1;
}

.nav-dropdown-btn:hover li a{
    opacity: 1;
    transition: 300ms opacity;
}

.nav-dropdown>li{
    margin-top: -42px;
    position: relative;
    z-index: 1;
    
    transition: 600ms margin;
    border-top: 2px solid $gray-900;
    &:first-of-type{
        border-top: 2px solid $orange-1;
    }
}

.nav-dropdown>li>a{
    padding: 7px 15px;
    white-space: nowrap;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 200ms all linear;
    background: $dark;
    opacity: 0;
    transition: 400ms 200ms opacity;
    &:hover{
        color: rgba(255,255,255,0.9);
        background: $gray-900;
    }
}


@include media-breakpoint-down(md)  {
    .nav-dropdown{
        position: relative;
        left: unset;
        top: unset;
        background: $dark;
        list-style: none;
        margin: 0px;
        padding: 0px;
        border-top: none;
        box-shadow:unset;
        overflow: hidden;
        list-style: square;
    }
    
    .nav-dropdown>li{
        margin:0px;
        border-top: none !important;
        list-style: square;
    }

    .nav-dropdown>li>a{
        padding: 4px 20px;
        opacity: 1;
        margin: 0px;
        background:  darken($gray-800, 1.05);
    }

} 
