@use '../../../assets/scss/bootstrap/variables' as *;
@use '../../../assets/scss/bootstrap/mixins/breakpoints' as *;


.price-container, .price-container-lg{
    font-size: 2.8rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    line-height: 0.7;
    font-weight: 700;
    border-radius: 7px;
    width: 160px;
    transition: 200ms;

    span:first-child{
        align-self: flex-end;
        font-size: 1.5rem;
        margin-right: 5px;
        line-height: 0.7;
    }

    span:last-child{
        align-self: flex-start;
        font-size: 1.5rem;
        line-height: 0.7;
    }
}

.price-container-lg{
    width: unset;
    min-width: 300px;
    font-weight: 700;
    line-height: 1;
    font-size: 4.375rem;

    span:first-child{
        font-size: 2.4rem;
        line-height: 1.2;
    }

    span:last-child{
        font-size: 2.4rem;
        line-height: 1.3;
    }

}


.preco-uni-container{
    width: 160px;
}

.consulta-container{
    width: 250px;
}

.quantidade-container{
    width: 188px;
}

.consulta{

    .img-container{
        width: 70px;
        height: 70px;
        min-width: 70px;
        min-height: 70px;
        flex-basis: 70px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius:50%;
        object-fit: contain;
        line-height: 1;
        background: #244b5a;
        background: -moz-linear-gradient(45deg, #244b5a 0%, #346b81 100%);
        background: -webkit-linear-gradient(45deg, #244b5a 0%,#346b81 100%);
        background: linear-gradient(45deg, #244b5a 0%,#346b81 100%);
        transition: 200ms all ease-in;
        border: 0px solid#ffcb3e;

        .img-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255,255,255,1);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            color: #ff7903;
            padding: 12px;
            transition: 200ms all ease-in;
            object-fit: contain;

            ::ng-deep *{
                width: 100%;
                height: 100%;
                transition: 200ms all ease-in;
                filter: grayscale(0) brightness(1);
                object-fit: contain;
            }

            img{
                width: 100%;
                height: 100%;
                transition: 200ms all ease-in;
                filter: grayscale(0) brightness(1);
                object-fit: contain;
            }

        }
    }

    &.active{

        .price-container, h3{
            color: $orange-1;
        }

        .img-container{
            border: 3px solid #ffcb3e;
            padding: 0px;

            .img-wrap{
                /*
                background: #244b5a;
                background: -moz-linear-gradient(45deg, #244b5a 0%, #ec8522 100%);
                background: -webkit-linear-gradient(45deg, #244b5a 0%,#ec8522 100%);
                background: linear-gradient(45deg, #244b5a 0%,#ec8522 100%);
                */
                background-color: rgba(255,255,255,0);

                ::ng-deep *{
                    filter: grayscale(1) brightness(2);
                }

                img{
                    filter: grayscale(1) brightness(2);
                    background: transparent;
                }

            }

        }

    }
}


@include media-breakpoint-up(lg) {
    .container{
        max-width:1040px;
    }

    .consulta{

        .img-container{
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            flex-basis: 50px;
            padding: 3px;

            .img-wrap{
                padding: 8px;
            }
        }
    }

}


@include media-breakpoint-down(md) {

    .consulta{

        .img-container{
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            flex-basis: 50px;
            padding: 3px;

            .img-wrap{
                padding: 8px;
            }
        }

        .img-wrap{
            padding: 8px;
        }

    }


    .preco-uni-container{
        width: 160px;
    }

    .consulta-container{
        width: 200px;
    }

    .quantidade-container{
        width: 188px;
    }

}

@include media-breakpoint-down(sm){
    .price-container-lg{
        max-width: 100%;
    }
}

@include media-breakpoint-down(xs){

    .consulta{

        .img-container{
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
            flex-basis: 30px;
            padding: 2px;

            .img-wrap{
                padding: 3px;
            }
        }

        .img-wrap{
            padding: 3px;
        }

        &.active{
            .img-container{
                border: 2px solid #ffcb3e;
                padding: 0px;
            }
        }


    }


    .consulta-container{
        width: calc(100% - 130px);
        margin: none;
    }

    .container{
        padding: 0px !important;
        margin-top: 0px !important;
        margin: auto;
    }

    .consulta{
        padding: 7px 10px;
        border-radius: 3px;
        border-bottom: 3px solid $gray-100;
    }

    .price-container{
        font-size: 1.25rem;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        line-height: 0.7;
        font-weight: 700;
        border-radius: 4px;
        width: 170px;
        transition: 200ms;

        span:first-child{
            align-self: baseline;
            font-size: 1.25rem;
            margin-right: 5px;
            line-height: 0.7;
        }

        span:last-child{
            align-self: baseline;
            font-size: 1.25rem;
            line-height: 0.7;
        }
    }

}


@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .consulta{

        .img-container{
            width: 50px;
            height: 57px;
            min-width: 50px;
            min-height: 57px;
            flex-basis: 50px;
            padding: 3px;

            .img-wrap{
                padding: 8px;
            }
        }
    }
}
