<section id="destaque" aria-labelledby="hero-title"> 

  <!-- <div class="banner container">
    <app-banner-vistoria></app-banner-vistoria>
  </div> -->

  <div class="container">
    <div class="experimentar">
      <h1 id="hero-title">Consultas veiculares dados 100% seguros</h1>
      <h2 class="sub">Consultar o veículo nunca foi tão fácil! <br> </h2>
      <div class="card">
        <h3 class="black">Experiencia Carcheck Brasil</h3>
        <form [formGroup]="compraTesteForm" (ngSubmit)="onSubmit(template)">
          <input placeholder="DIGITE A PLACA" formControlName="placa" autocomplete="off" maxlength="8"
            spellcheck="false" class="input-consulta-placa text-uppercase form-control form-control-lg" type="text"
            (keypress)="maskcaraPlaca($event)">

          <!-- reCAPTCHA -->
          <!-- <div id="g-recaptcha" class="g-recaptcha">
            <div style="width: 304px; height: 78px;">
              <div>
                <iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-izirvy6ft5un"
                  frameborder="0" scrolling="no"
                  sandbox="allow-forms allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                  src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lc4doYbAAAAADT5YN8T_iQ0myYSrf9XkkKg1RgI&amp;co=aHR0cHM6Ly9jYXJjaGVja2JyYXNpbC5jb20uYnI6NDQz&amp;hl=pt-BR&amp;v=9pvHvq7kSOTqqZusUzJ6ewaF&amp;size=normal&amp;cb=e96k83b6q7gn">
                </iframe>
              </div>
              <textarea id="g-recaptcha-response" formControlName="tokenRecaptcha" name="g-recaptcha-response"
                class="g-recaptcha-response"
                style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
            </div>
            <iframe title="" style="display: none;"></iframe>
          </div> -->

          <!-- reCAPTCHA -->
          <div *ngIf="this.compraTesteForm.value.placa.length == 8" class="recaptcha">
            <ngx-recaptcha2 formControlName="tokenRecaptcha" siteKey="6Lc4doYbAAAAADT5YN8T_iQ0myYSrf9XkkKg1RgI"
              (success)="onCaptchaSuccess($event)">
            </ngx-recaptcha2>
          </div>
          <!-- fim reCAPTCHA -->

          <div class="acoes">
            <button type="submit" aria-label="Consultar placa de veículo" id="testar-consulta-btn" [disabled]="!compraTesteForm.valid"
              class="btn btn-lg btn-ck-orange-1" style="font-weight: bold;">
              CONSULTAR
            </button>
            <!-- <a (click)="comprar()" id="comprar-consulta-btn" class="btn-comprar bg_azul branco btn btn-lg">
              COMPRAR
            </a> -->
          </div>
        </form>
      </div>
      <div class="customers">
        <span
          style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 60px; height: 20px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
          <img alt="" src="./assets/images/customers.png"
            style="cursor: auto; position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; mix-blend-mode: multiply;">
        </span>
        <p>+ de 1.92 milhões de pessoas já consultaram.</p>
      </div>
    </div>
    <div appAppearRightOnScroll class="imgDestaque">
      <div class="">
        <div class="typed_wrap">
          <h1><span style="background-color: #ecda26;padding: 5px;
          border-radius: 15px; ">{{ displayedText }}</span><span class="cursor">|</span></h1>
          <h1>E muito mais!</h1>
        </div>
      </div>
      <img (click)="scrollToElement()"
      alt="Fundo visual Carcheck Brasil"
        src="./assets/images/img-destaque/fundo.png">
        <div class="car-container">
          <img alt="Carro em destaque Carcheck Brasil" src="./assets/images/img-destaque/car-destaque.png">
      </div>
    </div>
  </div>
</section>
<div class="wave-divider">
  <svg viewBox="0 0 1440 100" xmlns="http://www.w3.org/2000/svg">
    <path fill="#F3F3F3" fill-opacity="1" d="M0,50 C360,150 1080,-50 1440,50 L1440,100 L0,100 Z"></path>
    <path fill="#F3F3F3" fill-opacity="1" d="M0,100 L1440,100 L1440,50 C1080,-50 360,150 0,50 Z"></path>
</svg>
</div>


<!-- Modal -->
<ng-template #template>
  <div class="modal-body">
    <form [formGroup]="modalForm">
      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="modalForm.get('name').invalid && modalForm.get('name').touched" class="text-danger">
          <small *ngIf="modalForm.get('name').errors.required">O nome é obrigatório.</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="modalForm.get('email').invalid && modalForm.get('email').touched" class="text-danger">
          <small *ngIf="modalForm.get('email').errors.required">O email é obrigatório.</small>
          <small *ngIf="modalForm.get('email').errors.email">Por favor, insira um email válido.</small>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="color: #304d5a; font-weight: bold;"
      (click)="onContinue()">Continuar</button>
  </div>
</ng-template>






