<div class="lore-container">
  <img class="imgDestaque" src="./assets/images/Carcheck-brasil-consulta-placa-22.png" alt="" srcset="">
  <span style="font-weight: bold ;">
    Está pensando em comprar um carro usado ou seminovo? Antes de fechar negócio, conheça as opções de consultas preventivas para realizar uma compra mais segura. Cadastre-se em nosso sistema. Seus dados são sigilosos e ficam criptografados para que somente você tenha acesso.
  </span>
  <button (click)="cadastrar()" class="btn w-100 btn-lg btn-warning mt-5">CADASTRAR</button>
</div>


<div class="login-container">

  <ck-input noBox="false" class="mb-5" [(control)]="form.controls.email" label="E-mail"></ck-input>
  <ck-input (keydown.enter)="login()" elementId="password-login" noBox="false" [(control)]="form.controls.senha" label="Senha" type="password"></ck-input>
  <div class="mb-4 mt-3 pt-1 d-flex justify-content-between">
    <label class="pointer d-flex align-items-center" for="manterconectado">
      <input class="check-md mr-2" type="checkbox" name="manter_conectado" id="manterconectado" [(ngModel)]="loginEntrada.manterconectado">
      Manter Conectado
    </label>
    <a [routerLink]="'/recuperar-senha'">Esqueceu a senha?</a>
  </div>

  <button (click)="login()" class="btn btn-lg w-100 mt-3"> Entrar</button>

  <!-- login com o google -->
  <div id="g_id_onload"
  data-client_id="210450991548-6alqffcge601d46pc9b1176gpmhot0ss.apps.googleusercontent.com"
  data-cancel_on_tap_outside="true"
  data-auto_prompt="false"
  data-callback="handleCredentialResponse">
  </div>
  <div class="text-center mt-2 font-weight-bold">OU</div>
  <div id="googleLogin"></div> <!--botão do google login-->

  <!-- botão do facebook -->
  <!-- <div class="facebookDiv">
    <button (click)="loginFb()" class="btn-facebook btn-lg btn-facebook py-1 d-flex align-items-center justify-content-center" style="height: 38px;">
       <i class="mdi mdi-facebook-box mdi-36px pr-3"></i> Entrar com Facebook</button>
  </div> -->

 </div>

 <app-confirmar-email [(user)]="this.user" [(token)]="this.token" *ngIf="emailNaoVerificado"></app-confirmar-email>
