<h1 class="ck-h1">
  <span class="fw-700 mr-2">STATUS</span>
  <span class="fw-400 mr-2">DE</span>
  <span class="fw-400">PAGAMENTO</span>
</h1>



<div class="container my-5">

    <div class="d-flex mb-5">
      <div class="mr-2 w-100">
      <ck-input [(value)]="valorPesquisa" label="PESQUISAR COD. PAGAMENTO"></ck-input>
    </div>
      <!-- <input [(ngModel)]="filtros.codigoPagamento" placeholder="PESQUISAR CÓDIGO DE PAGAMENTO" type="text" class="form-control search-btn mr-2"  > -->
      <button class="btn btn-lg px-lg-5 btn-orange-1" (click)="filtrarLista()">Buscar</button>
    </div>


  <div class="table-container table-responsive">
    <table class="ck-table">
      <tr>
        <th>CÓDIGO</th>
        <th>DATA</th>
        <th>VALOR</th>
        <th>TIPO</th>
        <th>STATUS</th>
      </tr>
      <tr *ngFor="let p of pagamentos; let i=index">
        <td class="text-nowrap">{{p.transacao}}</td>
        <td class="text-nowrap">{{p.dataPagamento|date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td class="text-nowrap">{{p.valorFinal|currency:'BRL'}}</td>
        <td class="text-nowrap">
          <span *ngIf="p.tipoPagamento=='DEBITO'">Débito</span>
          <span *ngIf="p.tipoPagamento=='BOLETO'">Boleto</span>
          <span *ngIf="p.tipoPagamento=='CARTAO'">Cartão</span>
          <span *ngIf="p.tipoPagamento=='PIX'">Pix</span>

        </td>
        <td class="flex-ac">
          <ng-container *ngIf="(p.situacaoPagamento=='AGUARDANDO_PAGAMENTO' || p.situacaoPagamento=='EM_ANALISE' || p.situacaoPagamento=='PROCESSANDO_PAGAMENTO' || p.situacaoPagamento=='AGUARDANDO_LIBERACAO') && (p.transacao!=null)">
            <i class="mdi mdi-24px mr-1 mdi-clock text-blue"></i>
            Aguardando
          </ng-container>

          <ng-container *ngIf="p.situacaoPagamento=='EM_CONTESTACAO'">
            <i class="mdi mdi-24px mr-1 mdi-clock text-blue"></i>
            Contestação
          </ng-container>

          <ng-container *ngIf="p.situacaoPagamento=='EM_DISPUTA'">
            <i class="mdi mdi-24px mr-1 mdi-clock text-blue"></i>
            Disputa
          </ng-container>

          <ng-container *ngIf="(p.situacaoPagamento=='AGUARDANDO_PAGAMENTO' || p.situacaoPagamento=='EM_ANALISE' || p.situacaoPagamento=='PROCESSANDO_PAGAMENTO' || p.situacaoPagamento=='AGUARDANDO_LIBERACAO') && (p.transacao==null)">
            <i class="mdi mdi-24px mr-1 mdi-close text-danger"></i>
            Erro de Pagamento
          </ng-container>

          <ng-container *ngIf="p.situacaoPagamento=='APROVADO' || p.situacaoPagamento=='DISPONIVEL'">
            <i class="mdi mdi-24px mr-1 mdi-check text-success"></i>
            Aprovada
          </ng-container>

          <ng-container *ngIf="p.situacaoPagamento=='DEVOLVIDA' || p.situacaoPagamento=='CANCELADO' || p.situacaoPagamento=='CHARGEBACK_DEBITADO'">
            <i class="mdi mdi-24px mr-1 mdi-close text-danger"></i>
            Cancelada
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
</div>
